[2021-01-02 04:01] #408 closed

[2021-01-02 05:38] bdice opened #413 "Test re-ordering causes failures"
### Description
Reversing the order of tests causes some tests to fail - I believe this may be due to some problem with how we mock the system executable. Some of the failing tests show that they cannot find `/usr/local/bin/python`.

### To reproduce

On the `next` branch, execute:
[code]

### Error output

One error output is copied below. There are many others that may be unrelated to the execut

[2021-01-02 05:46] bdice opened #414 "Remove unbuffered mode"
### Feature description

Currently we support an "unbuffered" mode in signac-flow that disables signac's buffering capabilities, by disabling the config option `use_buffered_mode` (it's on by default). I don't know if it still makes sense to support an unbuffered mode because we require `signac >= 1.0`. I believe buffering was initially an optional feature (rather than always-on) because signac di

[2021-01-02 16:11] atravitz commented on #414
Doing a short deprecation cycle for this seems reasonable to me 👍

[2021-01-02 16:23] atravitz commented on #404
I strongly agree with this - should it be done on `next`?

[2021-01-02 16:53] bdice commented on #404
I would suggest using the approach from this PR to automatically generate some type hints, and then manually refine them. https://github.com/glotzerlab/signac/pull/313

[2021-01-04 19:00] vyasr commented on #414
The main hesitation I would have with changing this immediately is relating to glotzerlab/signac#397. It should be relatively easy to modify the new code for glotzerlab/signac#249 to handle thread parallelism transparently (and I plan to do this), but I don't know of any way to make it intrinsically safe for process parallelism. If a signac-flow user sets the `status_parallelization` option to `'p

[2021-01-04 19:10] bdice commented on #414
@vyasr Fetching scheduler status is done before the parallel section begins. That’s the only part that writes to the project document. The parallel portion of the code is read-only, evaluating conditions and determining eligibility.

[2021-01-04 20:05] vyasr commented on #414
Ah right. So in that case, am I correct that `status_parallelization='thread'` is useful only if users write I/O-bound label functions (which is admittedly not unlikely if people are using job documents etc)? Is the call to `_fetch_scheduler_status` not done in buffered mode? Did I change it to just update the `cached_status`?

[2021-01-04 20:28] vyasr commented on #414
I discussed my previous comment offline with @bdice to explain my point a little more clearly, and I took a look at the code. Tl;dr, I'm fine with deprecating this flag.

My point here was that since we default to thread-parallel execution of job/group label acquisition, these tasks are only accelerated to the extent that they are I/O-bound because Python is inherently single-threaded. If label fu

[2021-01-06 07:14] bdice commented on #401
My initial assumption that `print_status` should be able to run faster (i.e. do less work) than `run` or `submit` is not true. It is reasonable for `print_status` to be slower than `run` and `submit` because it has to evaluate more conditions and also job labels -- explained below.

When we print the status, we have to evaluate all pre/postconditions to determine both "eligible" (all preconditions

[2021-01-08 02:41] bdice opened #418 "Remove "index" argument from scheduler job id generation."
Discussed with @b-butler @vyasr and @atravitz on Slack.

Summary of the conversation:
- This feature was introduced to resolve #18
- When #18 was addressed, we switched from just project name to project directory so that multiple projects with the same name could be submitted simultaneously.
- The feature has no clear utility at this point and may not even be fully implemented after the addition o

[2021-01-08 02:47] bdice opened #419 "Remove --test option from "submit" CLI"
Discussed on Slack with @vyasr @atravitz.

Summary of the conversation:
- It is unclear whether "not interacting with the scheduler" should rely on the project document's cached status from previous scheduler states.
- "the expected use case was for testing during development, possibly in environments where the scheduler was unknown/unconfigured/problematic. also at some point when schedulers were

[2021-01-08 03:43] bdice opened #420 "Optimization: don't deepcopy _Directives"
https://github.com/glotzerlab/signac-flow/blob/ece9c2495a625b8c7d4b2f3efdba60827c7af062/flow/project.py#L1197-L1203

While I was profiling `submit`, I saw that the function `_create_run_job_operations` performs a deep copy of a `_Directives` instance. In the profiles, I see that this `deepcopy` is taking nearly 50% of the run time (far more than the actual generation of aggregates/groups).

![imag

[2021-01-08 15:40] csadorf commented on #418
I originally introduced the index as a (premature?) generalization, should we ever support the submission of multiple copies of the same job. I am fine with simply removing it, since it seems to create a lot of confusion.

[2021-01-13 05:16] bdice commented on #420
Resolved by #421.

[2021-01-13 05:16] #420 closed

[2021-01-13 05:18] bdice commented on #418
Resolved by #423.

[2021-01-13 05:18] #418 closed

[2021-01-13 05:39] bdice commented on #398
This is solved on `next`. I'm closing this issue to reduce clutter.

[2021-01-13 05:39] #398 closed

[2021-01-19 21:01] vyasr opened #428 "Benchmark effects of parallelism on status checking"
By default, we perform thread-parallel execution of status fetching operations, but it's not clear that this mode is always desirable relative to serial execution since it only accelerates highly I/O bound tasks (in Python) and introduces significant overhead. We should benchmark this to test.

**Original comment**

Good question. I aimed to make my benchmarks representative-ish, but I would like

[2021-01-19 21:47] vyasr opened #429 "This can be deferred, I just didn't know what to do if the user requests to show state point parameters and aggregates exist. It might make sense to show common parameters if we put aggregates with the rest of the rows of jobs...? Regardless, that's a hairy design question and can be left as TODO for the purposes of this PR."
This can be deferred, I just didn't know what to do if the user requests to show state point parameters and aggregates exist. It might make sense to show common parameters if we put aggregates with the rest of the rows of jobs...? Regardless, that's a hairy design question and can be left as TODO for the purposes of this PR.

_Originally posted by @bdice in https://github.com/glotzerlab/signac-flo

[2021-01-20 18:59] #368 closed

[2021-01-20 18:59] #413 closed

[2021-01-20 19:01] bdice commented on #401
This has been resolved by #417.

[2021-01-20 19:01] #401 closed

[2021-01-20 19:03] bdice commented on #395
Resolved by #426.

[2021-01-20 19:03] #395 closed

[2021-01-20 19:05] bdice commented on #414
I'm going to mark this issue as resolved - the design decisions have all been made and implemented in #425, and the only remaining task is to remove the deprecation warning (and remove the default value from the flow config monkeypatch) in a later release.

[2021-01-20 19:05] #414 closed

[2021-01-20 19:07] bdice commented on #278
Resolved by #392.

[2021-01-20 19:07] #278 closed

[2021-01-21 01:34] bdice opened #435 "Add tests for print_status output"
### Feature description

The package currently lacks tests for the output of `FlowProject.print_status`.

### Proposed solution

It would be good to add regression tests that compare to a saved output, with various options like `--detailed`, `--pretty`, `--stack`, etc.

[2021-01-21 01:39] #216 closed

[2021-01-22 20:56] DomFijan opened #437 "Stampede 2 bundeled submissions"
### Description

Submission of bundles on stampede2 produces wrong submission script. Might be a template issue.

### To reproduce

` python3 project.py submit -n 3 -b 3 -w 0.2  --parallel --force --pretend `

### Error output

On stampede2 bundeling is done thorugh the `iburn` and if bundles are submitted an offest must be provided with -o. The old  version of signac-flow (0.8) produced the corre

[2021-01-22 21:10] bdice commented on #437
It's possible that this is just the `# Eligible to run:` block ignoring the environment variable `_FLOW_STAMPEDE_OFFSET_`. The script may appear to be wrong but may actually do the right thing when executed. @DomFijan Have you checked to see if it works correctly when submitted?

[2021-01-22 21:24] DomFijan commented on #437
When I do the actual submit without --pretend I get the following error:

ERROR: Encountered error during program execution: '_call_submit() missing 1 required positional argument: 'pretend''

When I switch back to flow 0.8 submit works normally... I doubt this is connected though.

[2021-01-23 13:26] kidrahahjo commented on #240
@bdice I think we should close this issue now, what do you think?

[2021-01-23 13:27] kidrahahjo commented on #234
I think we should probably close it!

[2021-01-23 13:27] #234 closed

[2021-01-23 19:29] vyasr commented on #240
Yes I think this is good to go.

[2021-01-23 22:04] bdice commented on #437
@DomFijan I think I fixed the submission error in #438. Can you try that PR and verify?

[2021-01-25 04:39] bdice commented on #437
(Quoting comment from #438, which I should have written on this issue: https://github.com/glotzerlab/signac-flow/pull/438#issuecomment-766533674)

@DomFijan I resolved the issue with submission and I'm going to merge this PR immediately to prevent the problems from occurring for other testers. I expect that the issue with _FLOW_STAMPEDE_OFFSET_ still exists but I think it's only an issue in the pr

[2021-01-25 13:45] DomFijan commented on #437
The submit is now fixed and I've submitted as you suggested. I extracted the submitted script via `` scontrol write batch_script `` and I get the exactly same output as with pretend:
[code]
The job starts normally but is very very slow. I re-checked this with a simulation I've done previously. I and reran it with the newest flow version and shows exact same slow down.

[2021-01-25 13:48] DomFijan commented on #437
Upon reading #298 and #250 the produced script is in accordance to the fixes implemented there.  Although I find it very unintuitive that the line that gets executed looks nothing like one would expect? Perhaps adding a line that says "the above is equivalent to the below commented line" would help? Something like:

[code]

[2021-01-25 15:39] kidrahahjo commented on #419
I'll implement this!

[2021-01-25 16:07] kidrahahjo commented on #369
This should be closed now!

[2021-01-25 16:10] kidrahahjo commented on #435
We'd also have to write a script which automatically generates status output from a workflow and saves it. Functionality would be similar to `generate_template_reference_data.py`

[2021-01-25 16:14] kidrahahjo commented on #404
I'll work on implementing this!

[2021-01-25 17:59] vyasr commented on #437
@bdice yes, the offsets don't get correctly incremented in pretend mode but they should when actually submitting. I don't remember the _exact_ reason for this, but it's basically because of the different way that environment classes are used during run vs submit. The Stampede2Environment maintains an internal offset counter, which is always tacked onto the value of the environment variable and inc

[2021-01-25 18:16] vyasr commented on #404
@kidrahahjo while this feature would be nice, I would recommend working on something else for the moment if you have the time. There are higher priority items to be worked on at the moment, in particular I would focus on things related to getting actual aggregation working. Working through #362 and updating that checklist with remaining items would be very helpful.

If you want to wait on that for

[2021-01-25 18:23] kidrahahjo commented on #404
@vyasr I agree on what you suggested. I had a chat with @bdice on slack, I will start working on introducing actual aggregation as soon as we release flow `0.12.0`. With respect to the point that this should be handled after we're done with some of the already existing issues, I think you're definitely right. I will have a look at the mentioned issues and see what I can do.

[2021-01-25 19:13] #369 closed

[2021-01-26 13:28] kidrahahjo commented on #258
@vyasr @bdice I see that in the `GreatLakesEnvironment`, we support an argument `--memory`. I see that [SLURM](https://github.com/glotzerlab/signac-flow/blob/master/flow/templates/slurm.sh#L8) and [TORQUE](https://github.com/glotzerlab/signac-flow/blob/master/flow/templates/torque.sh#L10) use similar blocks to assign memory (I couldn't find the `memory` assignments in other templates). Is this wha

[2021-01-26 14:18] b-butler commented on #437
@bdice I agree with what Vyas just posted. Having now looked at this, I don't think it is worth the effort necessary to fix the pretend output to have more accurate offsets. It is somewhat confusing, but in this case given our execution model somewhat unavoidable.

@DomFijan also your line to add to the submission script is not quite accurate. The submission is not equivalent to the lines below. I

[2021-01-26 14:45] DomFijan commented on #437
Thanks for explaining @vyasr ! That does indeed make sense. I got tunnel visioned on the particular script I use. I forgot to take the grander context of flow groups into account. You are right.
The thing that might be useful to have for stampede2 submissions in particular is to somehow let the user know that -o 0 in "Eligible to run" and subsequent sections is nothing to worry about when --preten

[2021-01-26 15:25] kidrahahjo commented on #295
@vyasr @bdice @tcmoore3 Is this addressed?

[2021-01-26 17:56] DomFijan commented on #437
I have tested the stampede2 submission with following versions:

1. signac 1.2 and flow 0.8 which I shall refer to as "old"
2. signac 1.6 and newest version of flow pulled from the github repo master which I'll refer to as "new"

Stampede has 48 cores per node.
nranks = 16 in the directive
I tested with following base command:
python3 project.py submit -n 3 -b 3 -w 0.5
I always tested the same 3 j

[2021-01-26 19:05] bdice commented on #258
Yes, exactly. We would like to remove the "special" option `--memory` from specific templates and instead make it work for all schedulers. This will require us to read the documentation for SLURM, TORQUE, and LSF and determine the correct command for each template. Then we will need to add a directive that specifies the unit (gigabytes) and how the memory should be aggregated (it should be like `n

[2021-01-26 19:13] vyasr commented on #295
I'm not convinced that we should change anything here. At this point the breaking change has persisted for a while, and the new behavior is probably preferable in the long term anyway.

[2021-01-26 19:22] bdice commented on #295
I agree that the `datetime` object is correct, and it's [documented in the submit API](https://github.com/glotzerlab/signac-flow/blob/8a079538b5986f69b209bd4214ead74f96d10c99/flow/project.py#L3829-L3831). However, I don't like our implementation of how `walltime` is handled. It should perform an `isinstance(walltime, datetime.timedelta)` and then proceed to handle it as "hours-like". https://githu

[2021-01-26 19:31] vyasr commented on #258
Just to clarify, the `_MEMORY` directive already exists and is documented as gigabytes. It's just a manner of removing the `--memory` options and making sure existing templates respect the directive. It would also be good to verify that all schedulers support fractional values in case users ever need to request memory in megabytes.

[2021-01-26 19:57] vyasr commented on #295
This looks like a straight up bug. The API promises to support timedelta objects, but you can't create one timedelta from another. This really should be a no-op if `isinstance(walltime, datetime.timedelta)`.

[2021-01-27 22:02] #419 closed

[2021-02-02 16:13] salazardetroya opened #451 "Submission scripts and multiline commands"
### Description

Submission scripts do not account for multiline commands and the lines after the first are not commented.

### To reproduce
[code]
and
`python3 project.py submit -n 1 -o mfe --pretend`

### Error output
[code]

### System configuration

Please complete the following information:

 - Operating System [e.g. macOS]: Linux
 - Version of Python [e.g. 3.7]: 3.7.0
 - Version of signac [e

[2021-02-02 17:44] bdice commented on #451
@salazardetroya Good catch! Can you please review PR #453 and see if that handles this behavior in the way you expect? Thank you!

[2021-02-04 18:44] bdice commented on #355
@shandave and I are discussing adding the warning to this file:

https://github.com/glotzerlab/signac-docs/blob/master/docs/source/templates.rst

The warning message I would suggest is:

While it doesn't address the validation logic, I'm not even sure that there is a clean way to validate the final script. Nothing prohibits the user from specifying a job name option two times (e.g. in their own he

[2021-02-04 18:57] atravitz opened #454 "Flow status returns no jobs when no operations"
### Description

For a project with initialized jobs but no defined operations, `flow.print_status()` returns that there are no jobs.

### To reproduce

Create an empty flow project and initialize jobs, then run `print_status()`.

### Error output

[code]

### System configuration

Please complete the following information:

 - Version of signac-flow: 0.12

[2021-02-07 23:33] berceanu opened #455 "Map GPU operation to GPU ID"
The `flow` project contains one GPU operation per job. The goal is to track the GPU memory consumption during a run, on a per-job, per-GPU basis.

Workaround to `SLURM` not yet having a `--gpus-per-task` option:

[code]

In this way each GPU operation executes on a distinct GPU. I would like to have a `flow` operation which launches simulataneously with each GPU operation and tracks its memory usa

[2021-02-08 18:09] vyasr commented on #355
@bdice I don't follow, what do you mean by those two examples of specifying the job name? Is the header the command line argument whereas the base script is the custom script? I think validating the final script is feasible since even if the job name is overwritten multiple times only one final version will get written to the submission script, _except_ for the case where the user provides arbitra

[2021-02-08 18:26] bdice commented on #355
@vyasr You're mostly right, but I'm imagining a case where the user's template has a header block that calls `super()` and then specifies another header line that defines the job name again. Something like

[code]

What happens here? The submitted script will contain _two_ lines starting with `#SBATCH --job-name=` (the first one is correct, generated by signac-flow, and the second one is invalid).

[2021-02-08 18:43] vyasr commented on #355
You're right that there are innumerable possible ways that this could go wrong. I was only suggesting to provide some help in the most obvious ways that this could fail, but it's certainly possible that what I'd consider to be the most obvious ways would not end up being the most helpful and we'd just end up playing whac-a-mole. I think adding a warning is something we can do ASAP. Beyond that, ex

[2021-02-08 18:58] berceanu opened #456 "Create new block in `slurm.sh`"
I propose grouping these lines into a new block, nested inside the `header` block.

https://github.com/glotzerlab/signac-flow/blob/dbe89263b002df8389e5dfaab02b81d5fec253e8/flow/templates/slurm.sh#L3-L17

Use-case: allows inheriting these lines and changing just the `tasks` block.

[2021-02-08 19:00] vyasr commented on #455
This issue is closely related to https://github.com/glotzerlab/signac-flow/issues/115 regarding the best way to handle GPU assignment and management within signac-flow.

[2021-02-08 19:01] berceanu opened #457 "Add `before_operations` block to `base_script.sh`"
I propose adding an empty block, `before_operations`, right after the `for` loop.

https://github.com/glotzerlab/signac-flow/blob/dbe89263b002df8389e5dfaab02b81d5fec253e8/flow/templates/base_script.sh#L18-L20

Use case: `export CUDA_VISIBLE_DEVICES`, see https://github.com/glotzerlab/signac-flow/issues/455.

[2021-02-09 13:32] #451 closed

[2021-02-10 04:34] bdice opened #461 "Add names to all endblock tags in Jinja templates"
### Feature description

Jinja templates would be more readable if every `endblock` tag was named. See https://jinja.palletsprojects.com/en/2.11.x/templates/#named-block-end-tags

### Proposed solution

Edit all files in `flow/templates` to include the block names on the corresponding `endblock` tags.

[2021-02-10 14:16] berceanu opened #462 "Check for operation completion status before requesting resources?"
Perhaps I'm missing something, but this doesn't seem to check if the `op` has its post-conditions met:

[code]

https://github.com/glotzerlab/signac-flow/blob/03fe709d578980e6baba96c4862c2af18afcfc5e/flow/util/template_filters.py#L92

In case it does, it probably shouldn't be counted, right?

**Example usage**: I have 1 GPU operation and a bunch of CPU operations in [`project.py`](https://github.c

[2021-02-10 16:03] mikemhenry commented on #462
I'm a bit confused with what you are trying to do/ask.
The template does not encode the logic of pre/post conditions.

Did this work?
[code]

[2021-02-10 16:07] vyasr commented on #462
Post condition checks happen upstream of template script generation. By the time any template filter like this is called, operations have already been filtered to only include eligible operations. Specifically, when calling `submit` it calls `_get_submission_operations` [here](https://github.com/glotzerlab/signac-flow/blob/master/flow/project.py#L3612) which is responsible for checking eligibility

[2021-02-11 09:03] kidrahahjo opened #463 "Remove the run interface in operations.py"
### Feature description
signac-flow now uses a project wise approach to handle the execution of operations. And due to this, I don't think that there is a requirement for the `run` interface we provide in `operations.py`. I propose to remove it.

### Proposed solution
Since this is no longer a part of our core API, we can run a deprecation cycle of just a single version, or simply just remove it.

[2021-02-11 11:37] adgnabro commented on #463
Hi ! I can help one this one.

[2021-02-11 11:55] kidrahahjo commented on #463
Hey @adgnabro, welcome!
Thank you for reaching out to us and we really appreciate you helping us out.

If @glotzerlab/signac-committers agree to resolve this issue by removing the feature, I'll be very happy to assign you this!

[2021-02-11 17:40] vyasr commented on #463
This is a duplicate of #221, but as we are moving towards a 1.0 release, I think it is a good time to revisit. I am in favor of moving forward with this deprecation. There were some arguments made on #221 for why we should keep it that I can summarize here in case anyone wants to argue for retaining this API in flow 1.0.

Removing this will not break any existing operations/project modules (keepin

[2021-02-12 11:28] kidrahahjo commented on #463
Sounds good! @adgnabro since @vyasr has agreed to deprecate the interface, you can start working on this issue.
Here is what you'll need to do.
1. Clone the repository
2. In `flow/operations.py`, deprecate the method `run`. Currently, we use the library `deprecation` to deprecate things in our code base. (You can see the way we deprecate things in `flow/project.py`)
3. Post a pull request

[2021-02-13 14:22] #462 closed

[2021-02-13 14:35] berceanu commented on #455
Indeed, it;s the same problem, but now using SLURM.
However, I did find a solution: use `srun` instead of `mpirun` and specify `--gres=gpu:x` for each `srun` command.

[2021-02-13 14:35] #455 closed

[2021-02-13 14:36] berceanu commented on #115
Solve via `SLURM` in https://github.com/glotzerlab/signac-flow/issues/455.

[2021-02-16 13:57] adgnabro commented on #463
Ok let's go ! Just a question. What is the purpose to use the library deprecation ? I could simply remove all the references of run method in the code right ?

[2021-02-16 14:20] bdice commented on #463
Good question @adgnabro! To minimize the impact of removing code from our public API, we notify users that certain features are deprecated. Then, we perform the removal in a later release. Without a deprecation period, users might upgrade and have their code break unexpectedly. You can see the deprecation policy here: https://docs.signac.io/projects/flow/en/latest/support.html#deprecation-policy

[2021-02-25 17:24] bdice opened #468 "Document CLI more thoroughly"
### Description

The CLI `flow` is not very well documented. We should copy the style and usage of the Sphinx directive `programoutput` for flow, just like we do for signac.

### Proposed solution

Update this into its own page (not part of API reference): https://docs.signac.io/projects/flow/en/latest/api.html#command-line-interface

Reference page from signac: https://github.com/glotzerlab/signa

[2021-02-26 20:01] vyasr commented on #437
@b-butler could you have a look at this? I just realized that we've let this slide, and I don't have time to look into it right now.

[2021-02-26 20:44] vyasr commented on #456
Resolved in #459.

[2021-02-26 20:44] #456 closed

[2021-02-26 20:45] vyasr commented on #463
Addressed in #467.

[2021-02-26 20:45] #463 closed

[2021-02-26 20:47] vyasr commented on #457
Resolved in #458.

[2021-02-26 20:47] #457 closed

[2021-02-26 20:49] vyasr commented on #435
Here's a partial listing copied from [this comment](https://github.com/glotzerlab/signac-flow/pull/460#issuecomment-778822640).

All the options like `--detailed`, `--stack`, `-1`, `--pretty`, `--full`, `--no-overview`, `--parameters`, etc. must be tested (regression tests like submission scripts).
Here is a list of tests:
- [ ] Test status output when only labels are present
- [ ] Test status out

[2021-02-26 20:51] #454 closed

[2021-02-27 23:02] bdice opened #469 "Check status for specific operations"
### Feature description

I don't think there is a way to check status for _only_ specific operations/groups. I tried to provide the flag `-o operation_name`, as in `python project.py status -o operation_name`, but the `-o` flag controls the output rendering (terminal, markdown, or html).

### Proposed solution

I propose adding an operations filter to the `status` command that would mirror the beh

[2021-03-01 18:12] bdice opened #472 "Submission summary in top section of status output"
### Problem

I submitted an operation and then checked the status. I noticed that the status output indicated that the jobs were "eligible" but submitting again did nothing (because the submission logic knows not to re-submit jobs that are already running). However, the status code does not distinguish between eligible-by-conditions (preconditions met AND (zero postconditions OR at least one unmet

[2021-03-04 09:33] #115 closed

[2021-03-04 09:39] csadorf commented on #355
I think it should be possible to check the final rendered script just before submission, not the individual templates, no?

[2021-03-04 19:46] bdice commented on #31
I think this issue can be closed. Some clusters like Stampede2 offer utilities like "Launcher", which signac-flow supports (at least in theory; I have not tested it). Handling a general case of this kind of executor-bundling is out of scope in my view, because there are so few commonalities between clusters. The FlowGroup functionality in signac-flow 0.10 and future support for aggregation (in pro

[2021-03-04 19:46] #31 closed

[2021-03-06 18:19] kidrahahjo commented on #240
I realised in #466 that it's not implemented yet. The `_WALLTIME` directive exists in `directives.py` but its not actually used.
I'll take this opportunity to add this feature.

[2021-03-07 21:16] vyasr commented on #31
I think once aggregation is merged we can treat this issue as solved. A combination of aggregation, groups, and bundling should be sufficient for users to customize submissions as needed. No need to reopen this issue though, aggregation will be resolved soon enough.

[2021-03-08 04:40] bdice commented on #355
@csadorf tl;dr I mentioned a few reasons in the thread why that won't work. I prefer to document that we rely on job names and then call this issue solved.

There are lots of ways that the user can break/override things. For example:

1. Using something like `python project.py submit [...] -- --job-name="potato"` on a SLURM cluster will pass an argument directly to `sbatch` that signac-flow never

[2021-03-08 09:25] csadorf commented on #355
I generally follow your reasoning that it is impossible to catch all edge cases, but a very basic check for a duplicated `--job-name` or `-J` within the command line arguments or within the rendered script appears reasonable to me. But of course, it represents work and improving the documentation is much easier with higher impact.

[2021-03-09 17:18] #258 closed

[2021-03-16 16:53] atravitz commented on #469
I've definitely tried to do this before because it seems so intuitive. I'll work on this later this week.

[2021-03-17 01:49] #240 closed

[2021-03-17 01:49] #295 closed

[2021-03-17 05:04] bdice commented on #309
I agree that @b-butler's suggestion would make for a pretty and intuitive API. To make things more concrete for future readers / further discussion:

[code]

would become one of the following:

[code]

[2021-03-17 05:06] bdice commented on #165
This has been resolved: https://docs.signac.io/projects/flow/en/latest/api.html#flow.FlowProject.add_operation

[2021-03-17 05:06] #165 closed

[2021-03-17 05:07] bdice commented on #70
Resolved by #396.

[2021-03-17 05:07] #70 closed

[2021-03-17 05:08] bdice commented on #291
Resolved by #442.

[2021-03-17 05:08] #291 closed

[2021-03-17 09:20] csadorf commented on #309
I'm in favor of Brandon's proposal! 👍

[2021-03-18 16:47] bdice commented on #370
I think the action items here are:
1. Make a single pass through `project.py` to ensure consistency in variable names after #464 is merged.
2. At a dev meeting, decide on a new name for `_JobOperation` and `_SubmissionJobOperation` and decide on what parts of that API should be public and how they should be documented. The name must be changed because it handles both groups and aggregates, breakin

[2021-03-20 23:13] vyasr opened #479 "Old add_operation API is broken"
### Description

The `add_operation` method of creating new operations no longer seems to work.

### To reproduce

Create the project file below.

[code]

Then execute `python project.py run` on the command line.

### Error output

The run above should print hello. Instead, it does nothing.

Looking through the code, the issue first appears during the run sequence in `Project._generate_selected_ag

[2021-03-21 00:23] vyasr commented on #370
I agree, let's not discuss any further on this thread.

My two cents: I'd actually vote to table this discussion entirely for the moment. At this point we're stuck with enough of these names for a while that I'd recommend that we focus on making more substantive changes to clean up the code base before we try to decide on names. This feels like more of a 1.0 (or at least closer to 1.0) decision to

[2021-03-21 00:32] bdice commented on #370
@vyasr The only reason I think we should make a decision (rather than tabling the discussion) is that our choice here has significant effects on how we write docs, error/help messages, and explain the package functionality.

[2021-03-21 02:54] vyasr commented on #370
I'm sympathetic to that, but my concern is that in the current state the names that I would want will only be semi-accurate, and worse, may have to change again if we don't have the right abstractions in place to begin with. My original proposal was to recognize that an `AggregateOperation` would be the unit of execution and an `AggregateGroup` would be the unit of submission, and to name things a

[2021-03-22 23:23] atravitz opened #481 "--only-incomplete-operations sorts instead of filters"
### Description

Using the `--only-incomplete-operations` CLI argument should show the statuses of jobs with eligible operations. Currently, it just puts all the complete operations at the end of the list.

### To reproduce and error output

Please copy & paste the code that is triggering the issue into this section and describe the context and prior steps that lead to the problem with as much det

[2021-03-22 23:46] atravitz opened #482 "flow converts memory directive to float"
### Description

flow passes the `memory` directive to SLURM as a float, which at least for greatlakes is invalid.

### To reproduce

Passing `memory=8` results in a SLURM script containing `--mem=8.0G`

### Error output

`sbatch: error: Invalid --mem specification`

### System configuration

Please complete the following information:

 - Operating System [e.g. macOS]:
 - Version of Python [e.g. 3

[2021-03-24 18:56] atravitz opened #485 "document status_parallelization in API docs"
### Feature description
status_parallelization was documented as a CLI argument, but since being moved it is not in the API docs anywhere

### Proposed solution

Include documentation of the three options (none, thread, process) and warn users that parallelization is only safe if the user's condition functions are parallel safe.

[2021-03-25 08:42] csadorf commented on #370
I think we need some nice overview diagram that demonstrates how all of these components work together. Otherwise the discussion is very different to follow.

[2021-03-25 08:46] csadorf commented on #479
A fix should probably contain a very basic unit tests that prevents a future introduction of this regression.

[2021-03-25 08:46] csadorf commented on #479
Since this is breaking a basic function, we should probably release a hotfix for this.

[2021-03-25 15:59] csadorf commented on #73
@klywang Are you still working on this?

[2021-03-25 16:00] csadorf commented on #166
@vyasr Should we close this issue?

[2021-03-25 21:31] vyasr commented on #166
Ideally we should fix this, and the fix appears trivial, but without an LSF system to test on where the current version fails (Summit sets the relevant environment variable for us, and that's our only LSF machine) I don't think we'll know that it worked. Our options are either 1) close this issue, or 2) make this change and verify that it doesn't break on Summit. I'd be fine with either option; if

[2021-03-26 08:51] csadorf commented on #166
One option might be to install the LSF scheduler on a Ubuntu host (e.g. vagrant virtual box) following these instructions: https://www.ibm.com/support/knowledgecenter/SSZUDP_10.2.0/suite_install/lsf_suite_install_ubuntu.html

[2021-03-29 17:01] vyasr commented on #166
Yes, that would work, but probably is more work than it's worth at the moment. I think that this is very low priority for us since nobody is actively running into this issue, so I'll close this for now. The proposed fix is documented in one of my comments above, if someone else runs into this problem we can reopen and suggest that they implement and test the fix.

[2021-03-29 17:01] #166 closed

[2021-04-02 01:40] bdice opened #492 "Deprecate "Default" Environment classes and NodesEnvironment"
Currently we have a significant class hierarchy that serves no apparent purpose in signac-flow's environments. Here's a simplified look:

[code]

I think it would be good to reduce this hierarchy and only define:

[code]

This pattern exists for all three supported schedulers. It would take a deprecation cycle to change this, but I don't think that I can explain the rationale for the current hiera

[2021-04-02 07:01] csadorf commented on #492
The class hierarchy was designed to avoid any premature specialization since it is always possible to add new class members vie inheritance, but impossible to remove them. This is the motivation for the introduction of the `NodesEnvironment`, which makes assumption about the fact that the particular environment *has nodes* and I assume at some point defined (directive) attributes relating to that.

[2021-04-02 20:49] #482 closed

[2021-04-05 17:14] bdice opened #493 "Create cluster template for SDSC Expanse"
### Feature description

We need to create a cluster template for SDSC Expanse. The hardware is similar to Bridges-2 and it uses SLURM, so that can be a good template. Assigning @cbkerr @b-butler @bdice since they are being granted access to the system.

User guide: https://www.sdsc.edu/support/user_guides/expanse.html
Example PR for Bridges-2: https://github.com/glotzerlab/signac-flow/pull/441

[2021-04-06 13:06] #388 closed

[2021-04-06 14:48] #472 closed

[2021-04-12 16:28] #479 closed

[2021-04-12 17:35] klywang opened #497 "@flow.with_jobs does not work with @cmd in environments that use jsrun"
### Description

When a job operation is run with `@with_jobs` and `@cmd` in an environment which uses `jsrun` to run jobs on the compute node (ie. Summit), the job will fail.

### To reproduce

The following examples will **fail**:
[code]
[code]

The following will **run**:
[code]
### Error output

[code]

### System configuration

Please complete the following information:

 - Operating System [

[2021-04-13 18:34] klywang commented on #497
If I understand the issue correctly, addressing #73 should help with this bug.

We might want this:
https://github.com/glotzerlab/signac-flow/blob/8f4821bbea3decc62fd87d3152c11881c728d953/flow/operations.py#L99
to be separate from what we submit. For example, rather than submitting `jsrun -n 1 -a 1 -c 1 -g 0  -d packed -b rs  trap "cd /path/to/job/ws/; some commands --args" EXIT'`, `signac flow` w

[2021-04-13 20:52] bdice commented on #53
@csadorf Which system caused this issue? Is that system still in production? I ran into a problem with @klywang and we might want to revert PR #54 so that `is_present` returns `False` on systems where the scheduler version command fails (i.e. `bjobs -V` or `qsub --version` returning a non-zero exit code).

[2021-04-14 11:28] csadorf commented on #53
This was probably on either titan or summit, but I do not remember anymore, sorry.

[2021-04-15 03:35] vyasr commented on #481
@kidrahahjo you mentioned wanting to help out with this, should I assign you?

[2021-04-15 04:23] vyasr commented on #53
I'd assume from the combination of Torque and Cray that this was on Titan.

[2021-04-15 05:02] vyasr opened #499 "Simplify environment detection"
@bdice @mikemhenry @csadorf following up on #498, I think we should consider removing scheduler-based environment detection entirely. @bdice correct me if I've misunderstood the problem, but #498 came up because we don't support Andes, so [this check](https://github.com/glotzerlab/signac-flow/blob/master/flow/environment.py#L160) succeeds for the `DefaultLSFEnvironment` and we fall back to schedul

[2021-04-15 05:09] bdice commented on #499
I know of several users who rely on the default scheduler detection for systems without templates. I think it is a very helpful and important feature for ease of use. There have only been a couple exceptions where this hasn’t worked, on clusters with multiple (incorrectly configured) schedulers, and those are easy to resolve by defining a custom environment (roughly the same amount of work that wo

[2021-04-15 15:02] mikemhenry commented on #499
Really I think the only thing we could do better is change the logic a bit so that if more than one scheduler executable is detected, we print a warning that the scheduler type is ambiguous and we are guessing $scheduler_name

I also think autodetection is important and short of some user survey it is hard to guess how many people have had things JustWork :tm: since they don't open up github issue

[2021-04-15 15:03] vyasr commented on #499
Interesting, could you share what systems they are using it on? If people are actually making use of this feature I'm fine preserving it, but we're almost guaranteed to get misclassifications on systems without a defined environment unless we start parsing the exception payloads rather than using the simple solution of just returning `True` when exceptions are raised. I would strongly advocate for

[2021-04-15 16:02] csadorf commented on #499
One other alternative to address this issue would be to make it even easier to configure a custom environment with the correct scheduler and template. I am imagining some kind of assistant like this:

[code]
This would probably much easier to achieve if we allowed the template and environment configuration via config file. Likely preferable over the current approach anyways.

[2021-04-15 19:32] vyasr commented on #499
I like that idea, I think it would be nice. I should be able to handle the flow schema work soon (just pending wrapping up some of the administrative hurdles discussed offline) and we could consider changes to support this as part of schema version 2.

Some informal polling (thanks @bdice!) indicated that one other critical use case is the use of a default scheduler environment with a custom templ

[2021-04-17 20:11] bdice commented on #492
Resolved by #494.

[2021-04-17 20:11] #492 closed

[2021-04-18 17:27] bdice commented on #481
I can reproduce this issue and am going to try to fix it today.

[2021-04-22 17:36] #355 closed

[2021-04-23 20:49] #481 closed

[2021-04-26 17:37] vyasr opened #506 "Establish clear flow schema"
This issue is part of glotzerlab/signac#527 but requires a more focused thread.

signac-flow currently stores a number of pieces of internal data, such as bundles, submission status, and configuration information for FlowProjects. The current data organization is ad hoc and relies on signac's config, and we want to decouple flow from these signac internals. #504 is the first step, establishing an

[2021-05-05 16:41] #461 closed

[2021-05-07 04:50] csadorf opened #513 "The flow.run() function was removed, but is still part of the docs"
The `flow.run()` function was removed in version [0.14](https://docs.signac.io/projects/flow/en/v0.14.0/changes.html#version-0-14), but is still [prominently featured](https://docs.signac.io/en/latest/operations.html#the-flow-run-interface) as part of the framework documentation.

[2021-05-07 05:39] bdice commented on #513
@csadorf What do you suggest doing with this section? Simply remove the existing content? Try to re-work it as a way to introduce the FlowProject more slowly? (Just trying to make the issue actionable and I don’t want to make that decision on my own if you have ideas. It’s likely that this could be a good office hours project with a small amount of guidance.)

[2021-05-07 07:41] csadorf commented on #513
I still like the general approach of introducing the general concept without using any of signac-flow functions from a didactic point of view. So I'd keep all of that and simply remove the `flow.run()` specific section while making sure that transitions are still intact.

Then, as a final step, I'd evaluate whether it might make sense to convert the section into a `_The FlowProject/Concept_` subse

[2021-05-10 22:21] vyasr commented on #506
Thanks for the feedback! Responses inline:

Yes, paths are relative to the `signac` project root, not project.py. My personal preference and what I've seen done more frequently by other users is to keep `project.py` and `signac.rc` in the same place and symlink the `workspace` directory alone, but as long as your folder layout doesn't cause any problems I see no reason not to support it. I say we

[2021-05-11 08:15] csadorf commented on #506
I actually have a slightly different view on how we would want to handle flow-specific configuration.

1. The "configuration" is a global data structure that depends on files that are present within the user's file system environment and the current working directory.
2. In what files the configuration is concretely stored does not really matter. For me all the `.signacrc`/`signac.rc` files etc. a

[2021-05-12 16:13] vyasr commented on #506
I agree with most of that. I think my question about moving some of the config information into the class definition was made in the hope of simplification without sufficient consideration of the implications.

I think the configuration should be associated with the instance, not the definition. The class definition in my view should be restricted to defining the workflow, and any customization be

[2021-05-14 17:13] bdice commented on #362
I reviewed this list with @kidrahahjo. We looked at the unchecked boxes and we think that all the items are complete or out of scope (e.g. renaming `_JobOperation` to something else). We aren't going to check those boxes because we're not 100% sure but all of the to-do items have been addressed to the best of our knowledge.

[2021-05-14 17:13] #362 closed

[2021-05-17 19:59] bdice opened #516 "Refactor _AggregatesCursor"
### Feature description

This issue exists as a reminder that some refactoring proposals in #464 are incomplete and need to be fixed in a follow-up pull request.

Review the open comments on #464 for more information. The basic idea is that we should have two classes -- one that acts as a `JobsCursor` that returns aggregates and one that acts as an iterator over an aggregate store. There are some

[2021-05-19 20:06] Nipuli-Gunaratne opened #517 "Submit error not shown to user"
### Description
When submitting a job, the .sh template had an extra line at the top that made it so the job looked like it could be submitted but did not actually get queued. There was no error message produced which is why this problem was not caught earlier.

### To reproduce
When the job was submitted, the output said the job was ready for submission but when I checked the queue status, there

[2021-05-20 19:18] b-butler opened #519 "Support job/aggregate abbreviations in the -j option"
### Feature description
Given the new feature `aggregation`, I noticed that I could not easily grab only the aggregates with running `project.py status -d`. We support selecting operations using `-o` which supports regex. I think we should support regex in job selection on the CLI. This matters much less in Python as filters and for loops generally more useful. This would help without aggregation

[2021-05-20 19:26] b-butler opened #520 "Support an easy method for creating custom templates"
### Feature description
Talking to @atravitz and @tommy-waltmann, we decided that we would like to lower the barrier to creating custom templates or custom input into templates. We originally discussed using a CLI option; however, after discussing it with @bdice led to the idea of creating a command line subcommand that would create a `templates` directory in the project directory and a `templates

[2021-05-20 19:28] vyasr commented on #520
This is consistent with discussions that @csadorf and I have had in the past about also making it easier to create custom environments using a command line tool.

[2021-05-20 19:34] bdice commented on #520
I was imagining this as `flow template create`.

I forget, are the template search paths relative to `signac.rc` or `project.py`? I think it searches relative to `signac.rc`. It might not matter as long as the `FlowProject().main()` function can also locate the project directory (which we know is possible).

[2021-05-20 19:49] #517 closed

[2021-05-20 21:52] vyasr commented on #520
Should be relative to `signac.rc`.

[2021-05-21 14:17] b-butler commented on #520
I am fine with using `flow` instead of `project.py`. I wasn't really thinking of the `flow` command at the time.

[2021-05-25 19:54] vyasr opened #523 "Support modification of the subprocess environment created when groups fork to execute operations"
### Feature description

Operations that require forking, either via an explicit `fork` directive or using any other directives that trigger forking like `nranks` (via MPI) or `executable`, end up executing operations in a subprocess of the process where the job script and the original signac-flow launch occur. Our Jinja templates offer various methods for modifying the parent process, and users c

[2021-05-25 20:18] b-butler commented on #523
We could allow for a setup script for any forked commands to ensure that the modules are loaded as necessary. Otherwise we could document using the correct configuration files on a user shell to load necessary modules.

[2021-05-31 11:36] csadorf commented on #519
I don't think that supporting regular expressions for a primary key that consists of semi-random chracters makes sense. We already support the selection of individual jobs with an abbreviated id. If you want to (randomly) partition the data space you could use either `-n` and in case that this is not random enough, we could explicitly shuffle the order with something like `--order=shuffle` or so.

[2021-05-31 16:14] b-butler commented on #519
@csadorf True, I forgot about the abbreviated id. I originally argued for either a flag for only showing data on aggregates (i.e. `./project.py status -d --only-aggregates`), or one for only showing jobs that start with a specific substring (e.g. `./project.py status -d -j 'agg-'`). @bdice advecated for a regex solution since it is more powerful with little if any meaningful performance difference

[2021-05-31 16:19] bdice commented on #519
I think it’s important that `-j` works with both job ids and aggregate ids — we shouldn’t distinguish between those on the command line API. I don’t especially care if the filter is performed via `startswith` or a regex match, but I would lean towards a regex because that’s how the operation filter `-o` works. If that breaks backwards compatibility with the behavior of `-j` (it might) then we can

[2021-05-31 17:14] csadorf commented on #519
Ok, I did not consider aggregate-ids in my previous comment. In that sense it might make slightly more sense. That said, I want to stress that my opposition to enabling regex parsing here is not one based on concerns with the implementation or performance, but conceptually: The job-id is a primary index and *is a number*. It is presented as hexadecimal in base 16, but is still just a number. I don

[2021-05-31 17:18] bdice commented on #519
@csadorf I think that’s a good argument for having different behavior between `-j` (startswith) and `-o` (regex).

[2021-06-02 14:58] klywang opened #530 "Wrong dependency flag for GreatLakes (SLURM)"
### Description

The `--after` flag submits the wrong arguments for `sbatch` on GreatLakes.

### To reproduce

[code]

This submits correctly with:
[code]
In the [slurm docs](https://slurm.schedmd.com/sbatch.html), it looks like the flag should be `--dependency` or `-d`, but it looks like we're submitting `depend`.

### Error output

[code]
### System configuration

Please complete the following i

[2021-06-02 15:00] bdice commented on #530
@klywang Good find. It should only require a fix to this line: https://github.com/glotzerlab/signac-flow/blob/156fa79d72a62c17ce4b350eb839875de2ddf0d2/flow/scheduling/slurm.py#L144

[2021-06-09 19:18] bryaniswright opened #536 "piping doesn't work with signac find and signac statepoint on command line"
### Description

the issue is being caused when trying to pipe `signac find` into `signac statepoint` on command line. the expected behavior would be in the included example to return exactly 2 results. instead it returns all 6 jobs that exist.

### To reproduce
i am using https://github.com/cmelab/planckton-flow
which uses signac flow
i ran 6 jobs with the following statepoints:

[code]
then on c

[2021-06-09 19:29] vyasr commented on #536
You found almost the same workaround that I typically use for this kind of usage of `signac` except that I typically skip the intermediate variable and just do `signac statepoint $(signac find ...)`. I agree, it would be nice to be able to pipe in `stdin`.

[2021-06-09 20:45] atravitz commented on #536
does `signac find n_compounds 1 | xargs signac statepoint` not work? That is how I usually handle this.

[2021-06-09 20:48] bdice commented on #536
@atravitz barely beat me to the punch, I was also going to recommend `signac find n_compounds 960 | xargs signac statepoint`. 😆

[2021-06-09 22:11] vyasr commented on #536
Yes `xargs` works too. Use cases for the two syntaxes are slightly different, but for this purpose (and most signac commands) both work.

[2021-06-10 17:08] bdice opened #538 "Error for groups that decorate non-operation functions"
### Description

I created a group like this and then assigned it to a function but forgot to mark the function as an operation. Like this:

[code]

We agreed during my live demo in office hours that this should probably throw an error.

One way to do this might be to track how many times the group is used to decorate a function, and then make sure that it has the same number of operations on Flow

[2021-06-11 19:27] bdice commented on #519
I resolved this in #542 and added a test for an aggregate abbreviation.

[2021-06-11 19:46] bdice commented on #309
Resolved by #502.

[2021-06-11 19:46] #309 closed

[2021-06-12 18:11] kidrahahjo commented on #538
@bdice I can fix this if no one has started working on it.

[2021-06-12 21:00] bdice commented on #538
@kidrahahjo Sure, feel free to assign yourself. We discussed how this might be implemented very briefly but we don't have a good design plan in mind. I suggested one way in my comment above but if you see a better approach, go for it.

[2021-06-15 23:20] bdice commented on #266
Resolved by #464.

[2021-06-15 23:20] #266 closed

[2021-06-15 23:31] bdice opened #543 "Return scheduler job ids from FlowProject.submit"
### Feature description

Requested by user @salazardetroya:

This would enable complex submission workflows through something like the following snippet:

[code]

### Proposed solution

We used to (partially) support this kind of behavior for PBS/Torque clusters but we did not implement it for SLURM. If we chose to support this feature, we would need to implement it for all schedulers so that we h

[2021-06-15 23:44] #530 closed

[2021-06-17 05:44] vyasr commented on #538
You could also check if the operation is present in `cls._OPERATION_FUNCTIONS`, the one caveat there is that it imposes an ordering requirement on the group and operation decorators. Not sure if we want that.

[2021-06-17 06:19] vyasr commented on #543
#3 is partially related

[2021-06-17 15:44] #516 closed

[2021-06-17 15:44] #519 closed

[2021-06-17 17:08] bdice commented on #435
We discussed this in office hours today with @Charlottez112 @atravitz @b-butler. Here's a rough sketch of some code that can help. We are going to have two projects: one that contains state points like `{"overview": True, "detailed": False}` to control options to `FlowProject.print_status`, and another project that contains the jobs that are actually in the status output.

Here are some notes for

[2021-06-19 16:06] kidrahahjo commented on #538
The approach @bdice suggested is efficient in nature but then we might not be able to know which function will have this error. I suggest we store the names of the operations and then check whether they're present in the operations we store.

[2021-06-22 15:22] bdice opened #545 "Add helpful instructions to "flow template create" script"
From discussion on #534:

I wonder if there are other blocks that we should add in this template, with recommendations for usage? Like maybe `preamble` or `project_header`? Not sure where the best place is for a `module load` command, but `module load` is the specific use case I would try to simplify.

Maybe we could add a comment block `{# ... #}` that is in the "raw" section and give instruction

[2021-06-22 15:32] #520 closed

[2021-06-27 15:45] bdice opened #547 "Add groups in status output"
### Feature description

I submitted groups containing multiple operations, but the status output does not reflect this. It appears that groups are currently not integrated with the status output code, resulting in unknown `[U]` status codes even when the operations are contained in actively running groups. (See screenshot.)

![image](https://user-images.githubusercontent.com/3943761/123550550-a9f

[2021-06-28 12:20] csadorf commented on #547
Maybe the status output should only show groups. I've argued before that operations are in essence just groups of size 1. I think internally we still need to treat operations as first-class entities, but for the status view, everything could be a group?

[2021-06-28 14:35] b-butler commented on #547
@csadorf I like the idea in principle, but I think that only showing groups would be confusing to users. Since every operation has its singleton group, the operations would seem to be there regardless (as they are properly groups). However, when submitting through a user created group, they would show as unsubmitted, but would not be eligible for submission with the only indication of their status

[2021-06-28 15:37] csadorf commented on #547
@b-butler I see your point and I see why it might be necessary to differentiate individual operations regardless of their group associations. That said, I will keep pushing towards what I consider "conceptual elegance", but I agree that there simply is a subtle difference between operations and singleton groups and trying to ignore that might create more confusion after all.

[2021-06-28 16:03] bdice commented on #547
@csadorf @b-butler Could you offer a proposal for your desired output? I think that having some concrete designs would help, and then perhaps we can discuss further at the next developer meeting.

[2021-07-01 07:09] csadorf commented on #547
I've tried to come up with something, but had enormous trouble in doing so. Do you have a good example workflow (state) that we could all work off from?

[2021-07-01 13:59] bdice commented on #547
@csadorf I copy-pasted a status output from another project and manually modified it in a text editor to have different operation names and statuses. I was thinking of this as more of a whiteboard sketch, just to understand what kinds of output you’d want to see and how it compares to the example I posted at the top of this issue. 😊

[2021-07-01 15:04] b-butler commented on #547
@csadorf Would having a `groups` flag make sense? We could then delineate between singleton groups and operations, by only showing operations with the default output (with @bdice's new status categories `[GA, GQ]`), or show a group focused output with the current status options (as the singleton group isn't submitted when a group composing the same operation is).

So, something like,
[code]
by def

[2021-07-01 16:56] bdice commented on #547
Another option discussed with @atravitz and @b-butler during office hours. We like this because it gives more info by default.
[code]

[2021-07-23 19:13] PheelyC opened #555 "Message management for running with signac flow directives"
### Feature description

At the moment when running with operation directives or command line option, the Environment messages are printed each time and the progress bar is forced to start a new line as shown below.
![signac_flow_message](https://user-images.githubusercontent.com/87876335/126829861-146202d2-de41-440c-8860-ab4764a5b7e3.png)

I would like to have a silent option that controls the si

[2021-07-23 19:23] bdice commented on #555
@PheelyC Can you confirm if this happens with the "fork" directive disabled? We discussed enabling "fork" for your application on Slack, so I wonder if it's due to output from the forked process.

[2021-07-23 19:31] PheelyC commented on #555
Upon further testing, I found that other directives than fork do not generate the issue, however, if I use the timeout option (run -t num) in the command line as I run, the issue comes up.

[2021-07-23 19:56] bdice commented on #555
@PheelyC There are some options like timeout that require forking — the fork directive can force execution in a subprocess, but setting fork=False isn’t guaranteed to avoid forking if other options require it.

https://docs.signac.io/projects/flow/en/latest/api.html?highlight=Fork#flow.directives

Copying the current docs here for posterity (we are reworking this portion of the docs):

[2021-08-02 18:26] bdice opened #559 "Run command treats warnings as errors, traceback is confusing."
### Description

I discussed an issue with @jdice where he saw a `DeprecationWarning` (raised [here](https://github.com/glotzerlab/signac-flow/blob/5e3dd6e99acb5de2b149c4a7bdb5dd54002d2e13/flow/aggregates.py#L596) when `job.get_id()` is called) being treated as an exception in the `run` command (exception handling [here](https://github.com/glotzerlab/signac-flow/blob/5e3dd6e99acb5de2b149c4a7bdb5dd

[2021-08-02 18:28] bdice commented on #545
Resolved by #553.

[2021-08-02 18:28] #545 closed

[2021-08-02 18:55] #493 closed

[2021-08-20 20:44] b-butler opened #566 "Potential Template Errors"
### Description
For the GreatLakes (and potentially others) template. Multi-node GPU submissions incorrectly set the `--ntasks-per-node` to be the total number of tasks disregarding individual node size.

## To Reproduce

Just request a multi-GPU node submission with `--pretend` and view the output. Here is an example

[code]
Given the request that `nranks=4` and `ngpu=8`, this should be `--ntasks

[2021-09-03 17:43] klywang opened #570 "FlowProject.run() does not work when called from a python scripts in flow versions > 0.9.0"
### Description

@gaofy95 ran into this issue after upgrading `flow` on Summit. The error is triggered by the following line of code in [`_create_run_job_operations`](https://github.com/glotzerlab/signac-flow/blob/5605feffcf8f3127857cd5ec55434c3640ef761b/flow/project.py#L1086):

https://github.com/glotzerlab/signac-flow/blob/5605feffcf8f3127857cd5ec55434c3640ef761b/flow/project.py#L1121

When `Flo

[2021-09-03 17:51] b-butler commented on #570
The problem is in

[code]
A `FlowProject` is a signac `Project`. Thus, the solution is to use
[code]
Please close the issue if it solves your problem as I think it should @gaofy95 @klywang.

[2021-09-03 21:23] klywang commented on #570
Thanks @b-butler!

[2021-09-03 21:23] #570 closed

[2021-09-03 21:30] bdice commented on #570
This is a problem I’ve seen come up before. We could check `isinstance(job._project, FlowProject)` and raise a `ValueError` in functions that refer to that. Or perhaps try to open the job with the current FlowProject before raising the error?

[2021-09-03 23:46] klywang commented on #570
@bdice So in the second option (try to open the job with the current `FlowProject` before raising the error), do something like `self.open_job(id=job.id)` first?

Also we should probably include this in the framework documentation. Unless you carefully read the API docs, it's not obvious to the user that you can use `FlowProject` to do all the same things you can do with a `signac` project. Maybe

[2021-09-03 23:53] bdice commented on #570
@klywang Yeah, roughly this:
[code]

[2021-09-06 19:57] bdice opened #571 "@flow.cmd operations should raise `UserOperationError` like Python operations."
It looks like the execution logic for `run` will raise `UserOperationError` if a Python operation fails, but not a `@flow.cmd` operation.

_Originally posted by @bdice in https://github.com/glotzerlab/signac-flow/pull/508#r696881917_

[2021-09-27 16:41] vyasr commented on #547
The current plan is to go with the proposal in the last comment. The first column will be renamed to `operation/group` (with groups indicating the number of operations in parenthesis). The status symbols in the submission status column will be prefixed with a `G` for group status.

[2021-10-03 15:35] syjlee opened #575 "Expanse template makes tab, new line which hinders proper job submission"
### Description

Job submission with flow in Expanse is raising an error due to the template makes a tab in front of #!/bin/sh

### To reproduce
The output of job script with flow is as followed
[code]

### Error output
[code]

### System configuration

Please complete the following information:

 - Operating System [e.g. macOS]: Linux-4.18.0-147.el8.x86_64-x86_64-with-glibc2.28
 - Version of Pyth

[2021-10-11 16:04] #575 closed

[2021-11-09 20:44] syjlee opened #583 "Bundling in parallel for RM partition in Bridges 2 uses single core out of 128"
### Description
I noticed bundling in parallel in RM node ends up with parallelizing in a core, not in a node.

### To reproduce

python project.py submit --partition=RM --bundle=128 --parallel

### submission output

[code]

I'm attaching htop result indicating that one core is in use.

![Screen Shot 2021-11-09 at 2 51 55 PM](https://user-images.githubusercontent.com/44685431/141001339-62be3fd2-0

[2021-11-11 03:18] b-butler commented on #583
I ran an interactive job on Bridges2 and just running `singularity exec ...` utilized multiple cores, so I am not immediately sure what the problem is. I will have to do a deeper dive later.

[2021-11-15 11:14] csadorf opened #584 "Running signac-flow 0.16.0 with Python 3.10 results in "ImportError""
### Description

I installed signac and signac-flow with conda with Python 3.10 and running any flow command results in a traceback with `ImportError`.

### To reproduce

Install signac and signac-flow and then run the `flow` command:

[code]

### Error output

[code]

### System configuration

Please complete the following information:

 - Operating System [e.g. macOS]: Ubuntu
 - Version of Pytho

[2021-11-15 15:26] b-butler commented on #584
This is expected, as Python 3.10 support is currently only in the `master` branch. We would need to release a hot-fix or bug fix/minor release to add Python 3.10 support.

[2021-11-15 15:55] csadorf commented on #584
What is the timeline for this? The conda installation of signac-flow that is promoted in the documentation (literally the first command in the README) is currently broken which is a critical issue.

[2021-11-15 16:26] bdice commented on #584
@csadorf There is currently no timeline for future releases. @b-butler Do you know who our release managers are supposed to be right now?

From my view of my the changelog, it looks like we could make a release at any time, we just need a volunteer. https://github.com/glotzerlab/signac-flow/blob/master/changelog.txt @csadorf If you would like to make a release, that would be welcome. Let's coordin

[2021-11-15 18:31] csadorf commented on #584
Since this issue is already resolved, just not released, we can close this.

[2021-11-15 18:31] #584 closed

[2021-11-15 22:04] Tobias-Dwyer opened #588 "Issue with Bridges2 template"
### Description

There's an unneeded line in the Bridges2 template that causes Bridges2 to not correctly run when using a gpu because the --ntask-per-node command is not accepted by bridges2 when --gpus is also selected.

### To reproduce

Run anything on bridges2 with a gpu selected:

--partition=GPU-shared

Pretty sure the solution is just deleting the lines:

#SBATCH --ntasks-per-node={{ cpus_p

[2021-11-16 20:03] b-butler commented on #583
@syjlee, I don't think this is a `flow` problem. I ran a simple project using `time.sleep(10)`, and `--bundle --parallel` and just `--bundle` and found the expected behavior. The code is
[code]
and the submission script looks like (in the parallel case),
[code]

[2021-11-16 21:15] b-butler commented on #583
After adding this operation,
[code]

and using the following for loop in an interactive job
[code]
runs on all cores as shown by top (each process utilizing 100% of a CPU).

[2021-11-17 15:40] bdice opened #590 "CLI usage in docs is outdated."
### Description

The CLI docs for `$ flow` are outdated (missing the `template` command).
https://docs.signac.io/projects/flow/en/v0.17.0/api.html#command-line-interface

This should be replaced by a dynamic output using the program output Sphinx plugin that we use for signac:
`.. program-output:: flow --help`

Also signac's CLI docs need the same update. The [cli.rst](https://github.com/glotzerla

[2021-11-17 17:14] syjlee commented on #583
From a re-test of bundling jobs, bundled jobs are running fine on multiple cores in `RM-shared`. But `RM` node still gives bundled jobs running parallel in a single core. Until further investigation, it's encouraged to submit jobs bundled parallel to `RM-shared`.

[2021-11-23 22:08] #538 closed

[2021-12-05 02:04] #588 closed

[2021-12-15 13:13] kidrahahjo commented on #513
I think this is now resolved and hence we can close this issue now!

[2021-12-15 13:13] #513 closed

[2021-12-29 23:57] bdice commented on #28
This is resolved by #508.

[2021-12-29 23:57] #28 closed

[2022-01-03 16:13] #590 closed

[2022-01-03 17:49] kidrahahjo opened #598 "Tests fail when using with_job decorator on Windows"
### Description
When testing signac-flow on windows, operations using the with_job decorator throws an exception.

### Error output

### System configuration

Please complete the following information:

 - Operating System [e.g. macOS]: Windows 10
 - Version of Python [e.g. 3.7]: 3.7
 - Version of signac [e.g. 1.0]: 1.7.0
 - Version of signac-flow: 0.17.0

[2022-01-03 18:00] bdice commented on #598
![image](https://user-images.githubusercontent.com/3943761/147963725-29a6f06a-413f-4e6e-805e-216ed672e7f9.png)

[2022-01-03 18:15] b-butler opened #599 "Add status tests with varying eligibility and submission status"
### Description
We have status tests now thanks to @Charlottez112, but we still do not test the proper output given submission statuses and eligibility/completion changes. This limits our testing coverage and makes detecting bugs in changes to the status code difficult.

### Proposed solution
Add tests using the `FakeScheduler` or some other means to test the different cases. These should be regre

[2022-01-10 08:45] kidrahahjo opened #600 "Wrong exception thrown when using `with_job` decorator."
### Description
A `FlowProjectDefinitionError` with the message _"The @with_job decorator cannot be used with aggregation"_ is thrown even when we don't use the `aggregator` decorator.

The error is caused due to ordering of the decorators. If we add it after the `FlowProject.operation` decorator, then it behaves as expected.

### To reproduce
Script:
[code]

Run the above script with
[code]

###

[2022-01-10 08:48] kidrahahjo commented on #600
Not sure if we have prioritised the ordering requirements of the decorators, but I think, in future, adding more decorator friendly functionality to the package will make it difficult for us to maintain.

[2022-01-10 09:08] kidrahahjo commented on #571
@bdice I have a question regarding this. Currently, `UserOperationError` doesn't show up on the upfront.

For example, for the operation
[code]

We would only show `UserOperationError` in the traceback and not in the main error message. The behaviour is perfectly fine, just wanted to ask if that's what we intend to do?

[2022-01-10 16:20] bdice commented on #600
We could probably rewrite the error message to say, "The @with_job decorator can only be used on FlowProject operations, and does not support aggregation."

[2022-01-10 17:15] vyasr commented on #600
While this solution would work here, I think @kidrahahjo is right to say that

We may want to explore alternate syntaxes that have less room for ambiguity. Specifically, I'm thinking that the API would be cleaner if we put more functionality into the `OperationsRegister` class instead of using so many decorators. The `with_job` and `cmd` decorators really could just be part of the call operator. F

[2022-01-10 17:29] vyasr commented on #571
That seems backwards to me. I think we'd want to show a `UserOperationError` up front and only show the `Exception` if the user does ` --show-traceback` or `--debug`.

[2022-01-10 18:42] b-butler commented on #600
I think linking more of the functionality with the `operation` decorator makes sense. As to the exact form of that I am not sure. It depends on much we are willing to deprecate and eventually change the style. I am personally fine with deprecating `with_job` and `cmd`. If we go with @vyasr idea we would need to deprecate the current form of `operation.with_directives` which is fine we did introduc

[2022-01-10 19:23] vyasr commented on #600
Why would we need to deprecate `with_directives`? I wasn't suggesting that, in fact my suggestion was intended to lean in to the preference for `@operation.with_directives` over `@directives`. Is my suggestion incompatible with that? Are you concerned about the ambiguity of whether directives assigned via `@operation(..., groups=[g1])).with_directives(...)` would apply to the operation or the grou

[2022-01-11 13:01] joaander opened #602 "Optionally display progress bar in print_status"
### Feature description

I would like to hide the progress bar output generated by `FlowProject.print_status`.

### Proposed solution

Add the argument `progress` to the signature of `FlowProject.print_status` with a default value of `False`. Users should opt-in to additional output when desired.

### Additional context

The proposed solution follows that in `FlowProject.run` which has the default

[2022-01-11 14:50] bdice commented on #602
@joaander Thanks for the issue. Disabling the progress bar might lead to several seconds or even minutes of no output in the terminal when dealing with status checks over large workspaces. I believe we found the lack of output confused users and caused them to kill the process in early prototypes (or not realize that they had written expensive status checks). Would it be okay to leave the option e

[2022-01-11 15:08] joaander commented on #602
I'm fine with either option as a default, though I would find it confusing if `run` and `print_status` had different defaults.

When I first tried `print_status` in a Jupyter Lab instance, I got the below exception. Resolving it required navigating to the indicated webpage to learn that I needed to install the pypi package `ipywidgets` which doesn't appear to be listed as a dependency (required or

[2022-01-18 20:57] vyasr commented on #600
Ah I see the issue, I forgot that `with_directives` is implemented as a class method. Yeah, there would potentially be some breakage there. It may be possible to put in backwards compatibility layers to avoid breaking users by enabling multiple different patterns, but it might be too much maintenance burden. I'd say we should evaluate and focus on whichever changes we can make with the least disru

[2022-01-30 01:06] #571 closed

[2022-02-03 23:38] cbkerr commented on #547
Resolved by #593

[2022-02-03 23:38] #547 closed

[2022-02-08 18:01] bdice commented on #468
This is a duplicate of #590, resolved by #595.

[2022-02-08 18:01] #468 closed

[2022-02-13 16:50] bdice opened #607 "Status check fails for Project with met postconditions"
### Description

Minimal project with all postconditions met fails in signac-flow 0.18.0.

### To reproduce

Project file:
[code]

### Error output
With `--show-traceback`:
[code]

Without `--show-traceback`, I see another issue in how we're handling tracebacks when the traceback originates in signac-flow rather than in user code:
[code]

### System configuration

Please complete the following inf

[2022-02-14 15:15] #607 closed

[2022-02-14 16:13] kidrahahjo commented on #600
@vyasr Can this be a good small project for GSoC or do you think it is a more complicated design problem that needs a better understanding?

[2022-02-14 16:40] vyasr commented on #600
@kidrahahjo good find. I think this change would be reasonable in scope for a "small" GSoC project if we could scope it correctly, but I can't be sure without a bit more of a concrete proposal. Could you compile the current set of decorators that we have and try to write up a spec of what we'd like an ideal API to look like, as well as what backwards compatibility layers that we might want to supp

[2022-02-14 18:35] b-butler commented on #600
This would. Although, I might just move to something like you suggested. The question comes in do we want a separate `with_directives` decorator when we could just

[code]

[2022-02-16 22:55] bdice opened #611 "Refactor testing code"
### Motivation

While working on PR #608, I had some difficulty writing tests for traceback handlers. That sparked a [discussion](https://github.com/glotzerlab/signac-flow/pull/608#discussion_r805515803) about how we could improve our testing code in signac-flow. This is a meta-issue meant for discussion of potential improvements to the testing code.

### Potential Improvements

(Please suggest ot

[2022-02-17 12:26] csadorf commented on #611
Here are some thoughts on how we could approach this:

1. Use a highly modular fixture hierarchy for everything. The fixture concept is the most powerful pytest feature IMO and we should take full advantage of that. I would identify the tests with complicated "data" setups and then start replacing them one by one.
1. Fixtures should be modular. A `project` fixture should be built on top of `job` f

[2022-02-17 20:00] cbkerr opened #612 "Refine naming of hooks"
### Description

@klywang and I had some unresolved questions from our early drafts of the hooks documentation about what to call the hooks. We want to clarify the naming as follows:

1. rename `on_finish` to `on_exit` because we describe it that way in the draft docs ("will execute when the operation exits, with or without error").
2. rename `on_fail` to `on_error` because it better captures what

[2022-02-22 15:10] cbkerr opened #613 "Need to update tests to avoid providing a signac project name"
### Description

Tests still provided a project name after it was removed in glotzerlab/signac/pull/677

### To reproduce

Unit tests failed

### Error output

https://app.circleci.com/pipelines/github/glotzerlab/signac-flow/3353/workflows/0189a04d-015a-48d3-9da8-86a9b6317d09/jobs/20119

[2022-02-22 17:49] cbkerr commented on #612
Discussed at the dev meeting today with Kelly, Simon, Brandon, Mike, and Vyas.

We decided on the following names:
- `on_start`
- `on_finish` --> `on_exit` (also considered "on_end")
- `on_success`
- `on_fail` --> `on_exception` (also considered "on_failure")

Note that as of now, 3/4 are related to the end of an operation.

Guidelines for future hooks to be noted in code comments
- use nouns

[2022-02-23 20:35] vyasr commented on #613
Are you trying to use signac's `next` branch with signac-flow? Right now I would expect that to break _a lot_ of things, and we don't plan to update signac-flow until we're much closer to merging `next` into `master`.

[2022-02-23 23:19] bdice commented on #613
We have a CI config that tests signac-flow with signac's `next` branch. Maybe we should disable it if we don't plan to keep signac-flow up to date until we're closer to releasing 2.0. https://github.com/glotzerlab/signac-flow/blob/1156bdc14b21fd45912415dd08b86f85af48543a/.circleci/config.yml#L99-L103

[2022-02-26 04:35] vyasr commented on #613
We probably should, I don't think it makes a ton of sense to try and keep up flow regularly up to date with breaking changes. I think once we're close to a 2.0 release updating flow would be a good way to make sure that our changelog entry is complete and all breaking changes are properly listed though.

On a related note, we should probably update flow's version pinnings to be signac < 2.0. We kn

[2022-02-26 06:15] bdice commented on #613
If we add such a `<2.0` pinning, it will only make package solvers prefer signac-flow 0.18 (or whatever the last released version is before introducing that pinning). I have concerns that it would introduce more pain than it might solve.

https://iscinumpy.dev/post/bound-version-constraints/

[2022-02-27 09:18] #598 closed

[2022-02-27 17:14] bdice commented on #598
I'm not sure if we should close this issue yet since the problem hasn't been addressed. WSL compatibility is not the same as Windows compatibility (WSL is the same as Linux for the purposes of the signac framework).

However, 53 out of 318 tests are currently failing on Windows (I just tested it locally). Given that, I am fine with closing this issue as "won't fix, at least for now" because we wou

[2022-02-27 18:12] bdice commented on #613
I opened https://github.com/glotzerlab/signac-flow/pull/616/ to stop running the tests for now. We'll come back to signac-flow compatibility later on, once the API for signac 2.0 is more stable.

[2022-02-27 18:51] bdice commented on #612
I would be okay with doing this name change without a deprecation cycle for simplicity. It's not a core API, has no docs, few (or no) users, and is likely to only affect power users who are involved with signac development.

[2022-02-27 21:19] #613 closed

[2022-02-28 05:31] vyasr commented on #613
@bdice that's fair, in practice pinnings do cause a ton of problems. There's no way to "backport" those pinnings to all older versions, and even if you could that would only solve a subset of the issues. I don't think that it's really our responsibility to solve this problem for people installing anything other than the main branch from source, at that point you're very much in advanced user/devel

[2022-03-03 23:49] vyasr commented on #602
Summarizing the discussion so far to make sure that we're all on the same page:
- We are all in favor of adding a `progress` (or `no_progress`) option to `print_status`.
- We're not sure whether progress should be enabled or disabled by default.
- We would like `print_status` and `run` to have the same default.
- Hardik's last comment raises the question, do Python and CLI users have the same expe

[2022-03-03 23:50] vyasr commented on #612
Yeah I'd say skip deprecation.

[2022-03-04 01:26] bdice commented on #602
I agree with that overview. On the last point, I’d say progress on by default in CLI and progress off by default in the Python API would match my expectations as a user for each interface. CLI users also have more immediate flexibility to control stdout and stderr than Python users, if we differentiate progress bars (stderr) and program output (stdout). I believe that’s how the output works curren

[2022-03-04 06:53] kidrahahjo opened #623 "Merge requirements-dev and requirements-precommit"
### Feature description

We ask developers to set up the development environment before contributing to `signac-flow`. This involves installing several dependencies mentioned in the `requirements` directory. Since `pre-commit` is a "dev" requirement, I suggest we don't keep an extra file for the same.

### Proposed solution

Move the requirements mentioned in `requirements/requirements-precommit.t

[2022-03-04 06:54] kidrahahjo commented on #623
I am adding the "good first issue" tag here. In case this change is not required, feel free to close this issue.

[2022-03-04 06:58] bdice commented on #623
In the past we needed these files to be separate so that our CI style checks would run as quickly as possible. We only needed to install pre-commit. https://github.com/glotzerlab/signac-flow/blob/6137f70f65fa58f982c922baa4db235b96df5e1f/.circleci/config.yml#L31

However, now that we use pre-commit.ci, we can merge these files since our CircleCI jobs don’t need to run style checks via pre-commit.

[2022-03-04 07:00] bdice commented on #623
When addressing this issue, we should also delete the `pre-checks` job from the CircleCI configuration since it’s not used anymore.

[2022-03-08 07:19] kidrahahjo opened #625 "Provide a local testing environment for signac-flow"
### Feature description

When I was working on aggregation, I used to test `flow` with a separate signac setup file. Sometimes changing directories gets frustrating, and now that I use `pyenv` for managing Python environments, I have set it up in such a way that the virtual environment deactivates when I move out of the directory.

Can we provide some way to test flow locally? I understand that we

[2022-03-08 07:20] kidrahahjo commented on #625
I know this issue is more of a "me being lazy" issue than an actual issue with `flow`, so I'd completely understand if we end up not moving forward with this. 😂

[2022-03-08 07:42] kidrahahjo commented on #611
I should split this up into smaller parts so that the code becomes easy to review. I'll probably raise smaller, more focused issues for refactoring this code.

[2022-03-08 07:55] bdice commented on #625
@kidrahahjo Have you tried using `flow init` to generate a project? That is a quick way to test the project CLI.

[2022-03-08 08:12] kidrahahjo commented on #612
I think a quick fix for this would be:
1. Rename all instances of `on_finish` to `on_exit` and `on_fail` to `on_error`.
2. Update the changelog entry.

[2022-03-08 08:19] kidrahahjo commented on #625
Yup, I understand that, but after that when we add things to a branch using `git add` the `signac.rc` and `project.py` files may also get added to the repository sometimes. I propose providing a directory which we'll always ignore while adding things.

[2022-03-09 03:03] #623 closed

[2022-03-09 06:48] kidrahahjo commented on #625
We can close this issue as of now because I also don't feel like introducing something in the repository just for local testing without any strong requirement.

[2022-03-09 06:48] #625 closed

[2022-03-09 14:29] kidrahahjo commented on #469
@bdice should this be closed by #593?

[2022-03-09 20:13] bdice commented on #469
I don't think #593 affects this issue.

[2022-03-11 15:09] kidrahahjo opened #626 "Simplify utility tests for flow"
### Feature description

We test a lot of utility behaviour in single functions in https://github.com/glotzerlab/signac-flow/blob/master/tests/test_util.py.

Related to the work discussed in #611

### Proposed solution
Break down the tests for [`_bidict`](https://github.com/glotzerlab/signac-flow/blob/master/tests/test_util.py#L17) and [Template Filters](https://github.com/glotzerlab/signac-flow/b

[2022-03-11 17:28] kidrahahjo commented on #602
By default, we don't show progress in `run` but we do while printing status. So, do we need to do a deprecation cycle for just changing the default behaviour?

[2022-03-12 22:00] #612 closed

[2022-03-12 22:04] bdice commented on #602
I don't think we need to do any deprecation cycles to change the default behavior of a progress bar. The addition of a deprecation message would be a more disruptive change than just adding/removing the progress bar in my opinion.

[2022-03-14 02:32] vyasr commented on #602
Definitely no need for a deprecation cycle.

[2022-03-14 02:34] vyasr commented on #602
In light of the above discussions, I'm proposing the following as the action items to close this issue:
- Add a `progress=False` option to `print_status`.
- Add a CLI parameter `--no-progress` to the command line interface for status.
- Ensure that `run` and `print_status` have the same defaults for both Python and command line invocations.

[2022-03-29 11:39] javierbg opened #630 "Incorrect command formatting in @flow.cmd"
### Description

When testing the `@flow.cmd` operator I noticed something strange in the docs. The example code shows the following:
[code]
I noticed that the returned string is not an f-string, so whatever function calls `compute_volume` has the job of populating the command arguments.  That function is the `decorated()` function nested inside `flow.operations.with_job()`. The example works beca

[2022-03-29 13:08] bdice commented on #630
As a workaround, I think you can format the string yourself with `j` or any other variables before it is returned.

[2022-03-30 08:51] javierbg commented on #630
I see, so the reason is that the `cmd` attribute of `FlowCmdOperation` might be a callable or just a `str`, which may need to be formatted.

I can see the rationale that most command operations could just be defined by a simple string that must be filled out with a couple of things. However, I see that the docs for `FlowCmdOperation` state that: "This class should not be instantiated directly". Th

[2022-03-30 08:52] javierbg commented on #630
Yes, for the time being I'm just doing this and everything works fine.

[2022-04-08 18:47] joaander opened #636 "Inconsistent tag format v.0.19.0"
### Description

The latest tag is `v.0.19.0`. This is inconsistent with earlier tag naming schemes which would name the tag `v0.19.0`.

Is the new naming scheme intentional? Should I expect the names to be "v.{semantic_version}" going forward?

### To reproduce

In the glotzerlab-software container builds, I have:
[code]

### Error output

[code]

### System configuration

Please complete the fol

[2022-04-08 18:57] bdice commented on #636
cc: v0.19.0 release manager @cbkerr

I deleted tag `v.0.19.0` and pushed tag `v0.19.0` following [these instructions](https://stackoverflow.com/a/5719854/). This should fix the issue reported here and should also help conda-forge detect the new release. Developers with the local tag `v.0.19.0` should run `git pull --prune --tags`.

[2022-04-08 18:57] #636 closed

[2022-04-08 18:59] bdice commented on #636
I also moved the release to point to the corrected tag. https://github.com/glotzerlab/signac-flow/releases/tag/v0.19.0

[2022-04-18 19:06] b-butler opened #637 "Builtin Execution Hooks"
### Feature description

#508 Has been merged which provides the base implementation for hooks. However there are currently no provided builtin hooks for use by the end user. The potential hooks that were implemented in #189 are a good starting point to discuss what we should provide batteries for so to speak. Discussion on the appropriate hooks (including ones not messaged) are welcome.

* LogOpe

[2022-05-23 16:29] bdice opened #642 "Aggregation breaks project serialization for parallel execution"
### Description
Using `@aggregator()` breaks project serialization. This prevents users from running commands in parallel, like `python project.py run -o my_operation --parallel`. This breaks all operations, even if the operation being run is not an aggregate operation. Discovered by @jdice.

### To reproduce

[code]

### Error output

[code]

### System configuration

 - Version of Python: 3.9
 -

[2022-05-31 16:08] b-butler opened #643 "Use of signac.config in signac-flow"
In https://github.com/glotzerlab/signac, we are looking to remove or significantly reduce our config Python API. To do so, we need to understand where and how we use this API in flow. Currently we use the config API to,
1. load in/require a specific key `config.load_config()["flow"]`
2. find environment specific settings (e.g. account name) `config.read_config_file(config.FN_CONFIG)`
3. Allow temp

[2022-06-01 04:50] kidrahahjo commented on #642
@bdice I think it's a problem with the pickling of the `_AggregateStore` object. It's probably caused because aggregate information is generated for every operation/group regardless of the operations requested by the user.

[2022-06-01 05:13] bdice commented on #642
@kidrahahjo Yes, that sounds possible. I believe it only happens if an operation acting on aggregates is in the project.

[2022-06-01 07:48] kidrahahjo commented on #611
I created a branch `test-refactor/main` to resolve all the testing related issues. The logic of this branch is similar to that of the `next` branch that we usually create.

[2022-06-01 09:06] kidrahahjo commented on #611
Tests/Classes which need to be rewritten/refactored for signac-flow testing:

**tests/test_project.py**
- [ ] Mock Scheduler
- [ ] Mock Environment
- [ ] MockSchedulerSubmitError
- [ ] TestProjectBase
- [ ] TestProjectStatusPerformance
- [ ] TestProjectStatusNoEligibleOperations
- [ ] TestProjectClass
- [ ] TestProject
- [ ] TestExecutionProject
- [ ] TestExecutionDynamicProject
- [ ] TestProjectM

[2022-06-01 15:48] ianrgraham opened #648 "Finding the correct usage of the parser argument in FlowProject.main, extending subcommands"
### Feature description

I was interested in extending some of the subcommands that `FlowProjects.main` implements by providing my own parser. In particular, I wanted to add commands to initialize and clear the statepoints of a workspace (and later other things I'd like to automate in a derived class). My initial idea was something like this ...

[code]

Though this leads to the following error me

[2022-06-02 17:16] b-butler commented on #643
I missed one use, and that is to optionally import our packaged environments. I am not sure if this is something we want to support or not, but we can't wait to get a Project instance in this case.

[2022-06-02 18:26] vyasr commented on #643
I haven't looked at this recently, but IIRC yes we do need the ability to get config information outside of a specific project's context for exactly the use-case that your last message raises. However, it sounds like what this basically boils down to is that all we need is for signac to promise to use a certain file format for the configuration, right? As long as the file format is fixed, signac-f

[2022-06-02 20:09] vyasr commented on #643
Yeah that's a good point. So concretely, it sounds like we have two options:
1. signac promises:
    1. A specific file format for the config. That specification should be part of the schema and can change when signac undergoes a schema version update.
    2. Provide a public API to query the list of config files (in order of priority).
2. signac provides:
    1. A function that returns the config

[2022-06-04 02:59] #642 closed

[2022-06-05 01:46] bdice commented on #648
@ianrgraham This is a really interesting and detailed writeup. To be honest, I haven't touched the CLI side of `signac-flow` very much, and my knowledge of `argparse` is somewhat incomplete. From a library design perspective, this proposal raises some questions for me. Primarily, I am unsure if the changes you're proposing are a good fit for the scope of `signac-flow`. It sounds like you would be

[2022-06-07 15:19] vyasr commented on #643
CC @bdice

[2022-06-07 15:55] vyasr commented on #643
Public. IMO we should discourage usage of any non-public attributes of signac in signac-* packages.

[2022-06-27 19:43] ianrgraham commented on #648
Thanks for the response! And sorry for my delayed reply! I think your point is well made; I don't have to use the FlowProject for all things regarding the workspace and can easily get away with keeping the logic for statepoint management in another script, in a jupyter notebook, as a preprocessor before `FlowProject.main` is called, or just from the terminal. Again, I appreciate your detailed resp

[2022-06-27 19:43] #648 closed

[2022-07-10 22:43] vyasr commented on #643
This issue can be closed after #649 is merged. It is resolved by a combination of #649, #652, and #653.

All usage of the config is now restricted to project-specific data, so we no longer require the ability to access the config except through the project. As a result, once #649 is merged signac-flow will rely only on `FlowProject.config` (inherited from `signac.Project.config`.

[2022-08-03 01:28] klywang commented on #637
So will builtin hooks exclusively be used in the following way (A)?
[code]

Do we want any operation-level built in hooks like this (B)?
[code]
(A) is pretty straightforward to implement. (B) would require rewriting [`_HooksRegsiter`](https://github.com/glotzerlab/signac-flow/blob/4892a5fb7d41fe955483b3b028a8cf9b2742dbce/flow/project.py#L1548), but I think (B) is a little more intuitive. Not sure

[2022-08-03 02:28] bdice commented on #637
I strongly favor (A). We want to treat hooks like a "plugin system" for which we provide a handful of nice plugins, rather than treating each of the hooks provided by signac-flow as a built-in feature. The hooks feature is meant to be an entry point or abstraction for user-provided code, and we happen to supply a handful of popularly requested examples.

If a user wants to write syntactic sugar ar

[2022-08-20 05:10] kidrahahjo opened #664 "FlowProject.operation documentation doesn't show up in signac-flow API docs home page"
### Description

The "description" of `FlowProject.operation` doesn't show up in https://docs.signac.io/projects/flow/en/latest/api.html. Is there a reason for this?

[2022-08-20 05:34] kidrahahjo opened #665 "Revising the signac-flow API"
### Feature description

Coming from https://github.com/glotzerlab/signac/wiki/GSoC-2022-Projects#2-revising-the-signac-flow-api, we can start splitting this up into chunks and move towards kind-of a decorator-less API.

### Proposed solution
I think we do these in the sequence posted below (ordered in increasing complexity)
1. Allow users to pass `with_job` and `cmd` through the operation decorat

[2022-08-24 17:35] b-butler commented on #665
We discussed the proposed changes in the developer meeting today (2022-08-24), and agreed on 1, 2, and 3. We disagreed with 4, preferring to remove `group.with_directives` in favor of a keyword `directives` in the `__call__` method. We also disagreed on 5, preferring to keep group registration distinct from operation creation.

The disagreements from the proposed API (primarily 4) in part stem fro

[2022-08-25 12:56] kidrahahjo opened #669 "Allow users to pass with_job and cmd through operation decorator"
### Feature description

This issue is just used as a tracker for this feature.

See https://github.com/glotzerlab/signac-flow/issues/665 for more

[2022-08-28 18:49] cbkerr commented on #664
It's pulling the information from [OperationRegister](https://github.com/glotzerlab/signac-flow/blob/master/flow/project.py#L1415), but I'm not sure why.

[2022-08-28 23:53] vyasr commented on #664
I can explain why this is probably happening, but I'm not immediately sure how to fix it (Sphinx at this level of complexity is always a bit of trial and error for me):
1. The `FlowProject` has a [custom metaclass called `FlowProjectClass`](https://github.com/glotzerlab/signac-flow/blob/master/flow/project.py#L1212) that defines a bunch of attributes on every subclass of `FlowProject`. The metacla

[2022-09-01 19:29] joaander commented on #169
*Users* write their `project.py` files. This decision to hide tracebacks from user code has resulted in many hours of frustration for users attempting to debug issues in the scripts they wrote. Novice users don't realize that they need to pass "--show-traceback" and provide the full output when asking for support. Users of singularity containers are expected to know that they also need to create [

[2022-09-01 19:38] bdice commented on #169
@joaander I am not exactly sure what is going wrong here, but I would have expected that error to show up in the traceback without additional effort. Do you need `--show-traceback` or both `--show-traceback --debug` to get the error output you expect? Or is it something specific to running in a container?

[2022-09-01 19:47] joaander commented on #602
What line(s) in `project.py` generate the progress bar `print_status`?

I see https://github.com/glotzerlab/signac-flow/blob/b4d870e69d3630248c686f3cecc36fb367e722a7/flow/project.py#L2258-L2265
but I don't see where this is called with `tqdm_kwargs != None`.

[2022-09-01 19:55] joaander commented on #169
As documented here: https://docs.signac.io/en/latest/recipes.html#passing-command-line-options-to-operations-run-in-a-container-or-other-environment
Neither `--show-traceback` nor `--debug` passed on the command line (`python project.py submit --debug`) are passed to the corresponding signac-flow command line inside the container:
[code]
$ python hoomd_validation/lj_fluid.py submit -o run_nvt_md_s

[2022-09-02 14:12] b-butler commented on #169
To provide clarification the `show-traceback` option in the config file works as anticipated, but is not set to `true` by default and is not very visible to the user (as our whole config is in general).

My thoughts on the above discussion -- hopefully they contribute meaningfully -- are that the signac-flow CLI is different from the signac CLI and most other CLI's. To even use `./project.py ...`

[2022-09-02 14:20] csadorf commented on #169
@b-butler Well put. I'm convinced, the traceback should be shown by default.

[2022-09-02 15:23] bdice commented on #169
I’d support a PR for changing this, as well.

[2022-09-07 16:31] cbkerr commented on #630
@kidrahahjo, @b-butler, and I discussed this issue ad its resolution #666 synchronously.

We decided to require the user to format the string themself, even when using `{job}`.

Your example would become
[code]

In #666, we will go through a deprecation cycle for this change.

[2022-09-07 16:55] b-butler commented on #630
@javierbg that is exactly what we are planning to do in the future to avoid problems like this.

[2022-09-14 17:53] klywang commented on #73
Hey sorry about the delayed reply. I'm having a hard time reconciling @justinGilmer's example and the issue itself. I tried to replicate the error in the following ways:

(a) When I try `project.py submit --pretend` on this:

[code]
The command looks like this:
[code]

(b) With directives, e.g.:
[code]

For the machine I tested on, I get this:
[code]
Where, in this example, my understanding is tha

[2022-09-19 15:27] vyasr commented on #602
@joaander I think what you're looking for is this line: https://github.com/glotzerlab/signac-flow/blob/master/flow/project.py#L2671. The `parallel_executor` is selected via [this function](https://github.com/glotzerlab/signac-flow/blob/master/flow/util/misc.py#L337) that returns tqdm's own progressbar-based wrappers around `map`.

[2022-09-19 15:31] joaander commented on #602
Thanks. It appears from this code that making progress bars optional is not a trivial change.

[2022-09-19 15:39] vyasr commented on #602
I think it would require the following:
1. Add a `progress=True` argument to `_get_parallel_executor`.
2. When `progress=False`, that function should return a [`concurrent.futures` Executor](https://docs.python.org/3/library/concurrent.futures.html) (selecting the correct one based on the `parallelization`) instead of one of `tqdm`'s wrappers around those executors.
3. Add the same `progress` argu

[2022-10-06 18:44] #669 closed

[2022-10-14 15:24] #626 closed

[2022-10-16 07:50] zhangyemayapro opened #689 "My job is always waiting, until all other jobs are done."

[2022-11-01 19:49] javierbg opened #688 "Duplicate submitted operations when aggregating jobs in two different operations"
### Description

In a project with two different aggregated operations, when submitting one of said operations to an environment, each candidate is submitted twice.

### To reproduce

Create a project with `signac init` and initialize with the following sample jobs:

[code]
Create `project.py` with two aggregated operations:
[code]
If you run `python project.py status` you will see 2 eligible jobs

[2022-11-02 00:38] #689 closed

[2022-11-03 13:03] javierbg commented on #688
I have found another related issue, this time when mixing aggregated and non-aggregated operations.

Consider the following `init.py`:
[code]

And the following `project.py`:
[code]
This time, the first operation is aggregated and the second one is not. If we run `python project.py status` we get the correct result:
[code]
But if we run `python project.py submit -b -o testop1` we get 4 submissions

[2022-11-26 18:55] vyasr opened #692 "Consider removing the testing template"
We may want to remove https://github.com/glotzerlab/signac-flow/blob/master/flow/templates/project_testing.pyt entirely.