[2017-02-01 19:39] csadorf opened #1 "Issue with resolving bundled jobs from a different project"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/1) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

If a bundled job was submitted to the cluster and the status is resolved in a different project, the bundled job description file is not available and leads to an

[2017-02-01 22:02] #1 closed, assigned to nobody

[2017-02-05 21:15] csadorf opened #2 "--pretend and --serial break job listing"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/2) by Vyas Ramasubramani (Bitbucket: [vramasub](https://bitbucket.org/vramasub), GitHub: [vyasr](https://github.com/vyasr)).**

----------------------------------------

In flow/project.py's _submit function, the line constructing the after variable breaks under certain circumstances:

[code]

This breaks because when --pretend is

[2017-03-07 15:16] #2 closed, assigned to nobody

[2017-03-07 15:38] csadorf opened #3 "Mapping of scheduler jobs to project"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/3) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# Problem

The FlowProject currently provides the `scheduler_jobs()` and the `map_scheduler_jobs()` method. These can be used to identify scheduler jobs that belo

[2017-03-22 23:15] csadorf opened #4 "Simple resubmit with '--after' flag"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/4) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

It should be possible to easily resubmit a *job-operation* that runs after the exact same *operation* has finished.

Something like this:
[code]

[2017-03-22 23:23] csadorf opened #5 "Evaluation of solutions for a more concise command line API"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/5) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The command line API to request the status/ submit and run jobs is currently a little *verbose*.

For users, who use the template, the commands for status and sub

[2017-03-27 20:30] csadorf opened #6 "The submit flow breaks in some cases when next_operation() is None"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/6) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

As was discovered by @bdice , when submitting a job with specific `operation` where the `next_operation()` return value is `None`, the system will raise an except

[2017-05-17 03:39] #6 closed, assigned to nobody

[2017-05-18 13:43] csadorf opened #7 "CONTRIBUTING.md missing"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/7) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

There are currently no guidelines concerning the contribution of source code to the project, in particular a style guide is missing.

[2017-05-24 16:15] csadorf opened #8 "Decoding status output"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/8) by Vyas Ramasubramani (Bitbucket: [vramasub](https://bitbucket.org/vramasub), GitHub: [vyasr](https://github.com/vyasr)).**

----------------------------------------

When decoding the output of subprocess commands (specifically in the schedulers e.g. slurm.py that parse the output of "qstat"), the presence of unprintable or un

[2017-05-24 19:54] #7 closed, assigned to nobody

[2017-05-24 19:54] #5 closed, assigned to nobody

[2017-06-23 21:56] csadorf opened #9 "Proposal: A library for project templates"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/9) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# Proposal for a template library

Right now there is one maintained project template that serves to provide some generic example and guidance for users on how to

[2017-07-03 16:14] csadorf opened #10 "API Consolidation"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/10) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# Proposal for API consolidation

The `FlowProject` API has significantly grown since version 0.3 and warrants consolidation for version 0.6.

This the current c

[2017-07-18 13:33] csadorf opened #11 "The return value of next-operation() is ignored for <project> submit / script / run"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/11) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

With the last update not only the *next-next* operation is run/submitted or evaluated for script generation, but **all** *next operations*, using the `FlowProjec

[2017-07-18 13:55] #11 closed, assigned to nobody

[2017-07-20 13:59] csadorf opened #12 "Negative lines omitted?"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/12) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

When outputting the current status with the setting `--overview-max-lines 8`, I see a negative number of lines omitted if I have fewer lines than the max. This seems strange

[2017-08-01 16:18] #12 closed, assigned to nobody

[2017-09-11 18:29] csadorf opened #13 "SLURM scheduler driver broken when qstat not available"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/13) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The slurm driver is currently using the `qstat` command for the query of cluster jobs.
Some cluster environments with slurm scheduler provide the `qstat` command

[2017-09-26 15:19] csadorf opened #14 "Proposal for the improved management of provenance and reproducibility"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/14) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# About

This is a proposal for the integration of features into signac-flow that would simplify provenance management and increase the chance for reproducibilit

[2017-10-06 17:43] #13 closed, assigned to nobody

[2018-01-10 21:08] csadorf opened #15 "The job status does not automatically update in between submissions"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/15) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# Observed behavior

Resubmitting jobs fails if the user did not update the status after the initial submission.

# Expected behavior

The job status should be a

[2018-02-23 22:33] csadorf opened #16 "Use environment profiles on opt-out basis"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/16) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

To use the shipped environment profiles, users are currently required to *opt-in* by adding the following line to the `project.py` file: `import flow.environment

[2018-03-01 23:32] csadorf opened #17 "The 'submitted' status is not properly aliased"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/17) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

A 'submitted' status should be aliased as 'S' in the status overview.

[2018-03-04 16:58] csadorf opened #18 "The cluster job id should be project specific"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/18) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The cluster job id is currently generated from *job id* and *operation-name*, however it actually should be specific to a specific project directory, because oth

[2018-03-05 05:14] csadorf opened #19 "The project status view should have an option to automatically show all varied parameters"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/19) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

There should be an option that allows the user to automatically show all those parameters in the status overview that are varied (non-const) over the data space.

[2018-03-12 17:40] csadorf opened #20 "Update installation instructions"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/20) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The docs are still pointing to the anaconda Glotzer channel, although conda-forge should be the default.

[2018-03-15 18:09] #9 closed, assigned to nobody

[2018-03-15 18:28] csadorf opened #21 "The conda-forge py27 on windows builds are failing"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/21) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

All other builds succeeded.

See here: https://anaconda.org/conda-forge/signac-flow/files

This is most likely a build script issue and may require rebuilding of

[2018-04-02 14:49] #21 closed, assigned to nobody

[2018-04-02 14:50] #20 closed, assigned to nobody

[2018-05-02 15:35] csadorf opened #22 "Allow users to pass signac filters into flow to select jobs for submission."
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/22) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

Filters could be based on state points, documents, or filters.

[2018-05-02 15:36] csadorf opened #23 "Multi-environment submission"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/23) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

Suggested by @zhou-pj: Submit jobs across environments, such as being able to submit on both flux and comet from one place (without copying).

[2018-05-02 15:37] csadorf opened #24 "Improve bundling documentation."
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/24) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

[2018-05-02 15:37] csadorf opened #25 "Show a budget (CPU-hours, etc) before submitting jobs."
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/25) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

[2018-05-02 15:44] csadorf opened #27 "Jupyter operation creation and submission"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/27) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

@daich reported: I wish I could directly use Jupyter Notebook and upgrade a notebook into a job operation. Maybe submit jobs inside the notebook?

[2018-05-17 03:27] #18 closed, assigned to nobody

[2018-05-17 15:27] #22 closed, assigned to nobody

[2018-05-17 15:27] #10 closed, assigned to nobody

[2018-05-17 15:27] #15 closed, assigned to nobody

[2018-05-30 13:49] #17 closed, assigned to nobody

[2018-06-12 20:32] csadorf opened #28 "Proposal for operation hooks"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/28) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# About

This is a proposal for a feature that would allow users to specify hook functions that are executed either before or after the execution of an operation

[2018-07-17 13:44] csadorf opened #29 "Detailed project status failing on Blue Waters"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/29) by Michael Howard (Bitbucket: [mphoward](https://bitbucket.org/mphoward), GitHub: [mphoward](https://github.com/mphoward)).**

----------------------------------------

I recently had an issue crop up with the detailed project status on Blue Waters, possibly due to a programming environment change there. It had been working pr

[2018-07-20 14:34] csadorf opened #30 "Proposal for improved execution flow"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/30) by Mike Henry (Bitbucket: [mikemhenry](https://bitbucket.org/mikemhenry), GitHub: [mikemhenry](https://github.com/mikemhenry)).**

----------------------------------------

Let's use this issue to track ideas on how to add  some functionality to `signac-flow` that will keep jobs 'flowing'.

Few things to consider:

* Use the h

[2018-07-27 16:42] csadorf opened #31 "Bundling jobs smaller than node size"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/31) by Michael Howard (Bitbucket: [mphoward](https://bitbucket.org/mphoward), GitHub: [mphoward](https://github.com/mphoward)).**

----------------------------------------

I've run into an issue using the `--bundle` and `--parallel` options of the submit interface for an operation in my project. After my simulations are complete,

[2018-08-11 13:32] #29 closed, assigned to nobody

[2018-08-21 13:35] csadorf opened #33 "Flagging Operations as "submit only""
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/33) by RoseCers (Bitbucket: [RoseCers](https://bitbucket.org/RoseCers), ).**

----------------------------------------

I'd like a command line functionality to be added such that I can say "python project.py run -o all_not_for_submit --progress --parallel" so that I can run all quick aggregators without trying to run operations t

[2018-08-29 22:07] csadorf opened #34 ".bundle file not found when running python project.py status"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/34) by RoseCers (Bitbucket: [RoseCers](https://bitbucket.org/RoseCers), ).**

----------------------------------------

[code]

[2018-09-28 03:00] csadorf opened #35 "Detect and automatically execute dependencies of an operation"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/35) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

For local testing, I would expect that `@Project.pre(...)` decorators are honored when I try to execute an operation where the precondition is not fulfilled.

[2018-09-28 03:02] csadorf opened #36 "How is --debug meant to be used?"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/36) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

Trying to use the `--debug` option gives me

[code]

but the error message says
[code]

[2018-09-30 23:28] csadorf opened #37 "Restore job-based granularity"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/37) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

I have to admit that I don't quite understand the submission interface. Currently it maps operations onto real cluster jobs. However, that may be a finer leve

[2018-10-02 02:36] csadorf opened #38 "Enable condition-override from the command line"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/38) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

Or alternatively, `--run` should allow to force operation execution even if the `post` condition is already fulfilled.

[2018-10-15 16:06] csadorf opened #39 "Status output [U] is unclear, legend would be helpful"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/39) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

I would like a legend that explains the symbols like `[U]` in the signac-flow status output. I used the command `python3 project.py status --full --pretty --stack`.

Related

[2018-10-31 18:50] csadorf opened #40 "New `with_job` decorator for operations"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/40) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

I would like to add a `flow.with_job`-decorator that will switch into the job's workspace for the duration of an operation.

For example:
[code]
would be equival

[2018-10-31 19:40] #36 closed, assigned to nobody

[2018-11-05 16:12] csadorf opened #41 "Export workflow graph"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/41) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

As per offline discussion, we determined that it should be possible to explicitly export the directed graph defined as `FlowProject`, *.e.g.*, as NetworkX graph

[2018-11-05 16:49] csadorf opened #42 "Streamline the environment selection and deselection"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/42) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

It should be straightforward and properly documented on how to select and deselect environments using command line options, global variables, environment variabl

[2018-11-12 20:49] csadorf opened #43 "Clear notification on which environment is active."
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/43) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Much too often I need to ask users to execute `python project.py submit --help` to figure out what environment is active for them.

I think we should print a hig

[2018-12-04 15:00] csadorf opened #44 "Assess package dependencies"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/44) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

There are a number of packages that seem to be dependencies for "core" (not just "extra") functionality in `signac-flow`. Namely `cloudpickle` and `jinja2`, but potentially

[2018-12-05 23:25] csadorf opened #45 "Improve contributor documentation"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/45) by Mike Henry (Bitbucket: [mikemhenry](https://bitbucket.org/mikemhenry), GitHub: [mikemhenry](https://github.com/mikemhenry)).**

----------------------------------------

So as a new contributor, it was easy to find this [page](http://docs.signac.io/en/latest/community.html#contributions) which gives a good overview. There i

[2018-12-11 18:13] #44 closed, assigned to nobody

[2018-12-11 18:15] #40 closed, assigned to nobody

[2018-12-12 01:16] #8 closed, assigned to nobody

[2019-01-14 22:20] csadorf opened #46 "Summit template always assumes --parallel when computing number of nodes"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/46) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

@jglaser found a bug in the Summit template, where the number of nodes is computing assuming `parallel == True`, even if the flag `--parallel` was not provided.

[2019-01-16 19:54] csadorf opened #47 "lambda functions not evaluated in directives"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/47) by Tim Moore (Bitbucket: [mootimot](https://bitbucket.org/mootimot), GitHub: [tcmoore3](https://github.com/tcmoore3)).**

----------------------------------------

I'm trying to use a lambda function to set the number of mpi ranks to use for an operation:

```@directives(executable=lambda job: 'mpirun --bind-to none -n {} pyth

[2019-01-17 15:11] #47 closed, assigned to nobody

[2019-02-08 23:06] csadorf opened #53 "The TORQUE scheduler is_present() method triggers subprocess.CalledProcessError"
### Description

The TORQUE scheduler is_present() method forks to `qsub -V` to determine whether the scheduler is present. On some systems this fork will return with an exit status, because the current context does not allow for submission, e.g., on a compute node.

### To reproduce

For example, try to call `project.py status` on a Cray compute node.

[2019-02-13 18:16] csadorf commented on #53
Fixed by pull request #54.

[2019-02-13 18:16] #53 closed

[2019-02-14 23:03] zhou-pj opened #58 "single string names input won't be auto detected in project.submit()"
### Description

When submitting jobs with python interface using project.submit(), and the names input is only one single string rather than list, submit won't auto detect single string and won't submit any job.

### To reproduce

project.submit(names='operation_name',...)
won't submit any jobs as compare to

project.submit(names=['operation_name'],...)

### System configuration

 - Operating Sys

[2019-02-14 23:48] evanmiller326 opened #59 "Bridges Template missing --gres=gpu:p100:2 with GPU-shared partition"
### Description

When trying to submit a job to the GPU-shared partition on Bridges with Signac Flow version 0.6.4 results in a failure ` sbatch: error: No gpu count given, specify --gres=gpu `.

### To reproduce

Within the template bridges.sh where the resources are allocated based on the partition chosen:

[code]
This section needs ` #SBATCH --gres=gpu:p100:2`

### Error output

If possible, co

[2019-02-14 23:59] mikemhenry commented on #59
Looks like a regression from here https://github.com/glotzerlab/signac-flow/commit/5b02ecf8f55453675f47decfbdd5a862090b2bb7#diff-309c6ee2196cea793ac60cc84f55be35L35

Thanks for the report @evanmiller326 :tada:

[2019-02-21 15:34] bdice opened #60 "UMich Flux Hadoop is incorrectly detected as having a scheduler"
### Description

On host `flux-hadoop-login2.arc-ts.umich.edu`, signac-flow incorrectly detects the hostname pattern and thinks this is a cluster with a scheduler. I am not sure what the real problem is, though - I tried editing the hostname using the `suggested_pattern` below and still had an issue. I just know that the hostname is one likely part of the solution.

### To reproduce

[code]

### E

[2019-02-21 17:53] csadorf opened #61 "Control `--show-traceback` via a configuration option"
### Feature description

I would like to be able to override the default behavior  of `--show-traceback` with a configuration key. For example, the following configuration key:

[code]
Should enable showing the traceback by default.

[2019-02-23 14:19] csadorf commented on #33
This is still relevant and I think we should address this as a separate issue.

[2019-02-23 14:20] csadorf commented on #33
@rosecers I've reopened this issue that you had created a while back.

[2019-02-23 14:31] csadorf commented on #33
I think we should have conditions that allow you to specify whether a specific operation is only eligible in certain execution contexts, such as during submission or only local runs. Here is what the API could look like:
[code]

These decorators can optionally be made conditional by providing a condition function which may or may not be a function of job and an optional reason:
[code]

I am not su

[2019-02-23 19:31] csadorf opened #64 "Specify operations with regular expressions"
### Feature description

I would like to be able to specify the operations to run/script/submit with regular expressions.

So for example, in addition to `python project.py run -o foo`, I would like to be able to specify `python project.py run -o 'foo.*'` to run all operations that _start with `foo`_.

### Proposed solution

The operations-selector function must evaluate the argument string as reg

[2019-02-26 14:28] csadorf commented on #38
The `exec` command is meant to not have any logic, I therefore suggest that we enable the `run` command to override conditions. We could add three switches `--ignore-conditions`, --ignore-pre-conditions`, `--ignore-post-conditions`. In fact, these options could be universal for `script`, `run`, and `submit`.

[2019-02-26 14:31] csadorf commented on #34
There have not been any other reports of similar issues, I assume that this was an isolated case and will close for now.

[2019-02-26 14:31] #34 closed

[2019-02-26 14:33] csadorf commented on #35
@vyasr Can you re-open the DAG pull request which is related to this?

[2019-02-26 14:34] csadorf commented on #37
This seems to be related to issue #30 .

[2019-02-26 14:45] csadorf commented on #58
@zhou-pj I've created a patch that detects the bad `names` argument and raises an exception: See pull request #66.

[2019-02-26 14:51] csadorf opened #67 "Use jinja2 templating for the status output formatting"
### Feature description

We should switch to using `jinja2` to format the status output. This would not only simplify the implementation, but would also allow users to design their own status output for individual projects.

### Proposed solution

Just like submission templates, there would be a default status template which can be replaced, extended by placing a `status.txt` file in a project's `

[2019-02-26 16:11] rosecers commented on #33
Hey Simon, that would probably work. How would it jive with the old API?

                self.add_operation(
                                name=
                                cmd=
                                pre=[],\
                                post=[])

I really like this API and have not switched to the new one.

[2019-02-26 16:17] csadorf commented on #33
I intend to keep that "old API" supported indefinitely, so we could probably add arguments `no_run`, `no_submit`, and `no_script` to the `FlowProject.add_operation()` function. Alternatively we could group them into some kind of execution directive.

Do you have any thoughts about how to display this as part of the status output?

[2019-02-26 16:19] rosecers commented on #33
We could either separate them into columns or place flags [NR, NS, NSC] along with [I,Q,S,H,A], etc.

[2019-02-26 16:37] csadorf commented on #33
I think adding more columns might be problematic space-wise, but I like the idea of just adding flags.

[2019-03-01 17:10] csadorf commented on #45
This is resolved at least for signac-flow: https://docs.signac.io/projects/flow/en/latest/support.html

[2019-03-01 17:10] #45 closed

[2019-03-01 18:34] csadorf commented on #46
@bdice Can you comment on the status of this issue?

[2019-03-01 20:49] bdice commented on #46
I haven't looked at this recently. Maybe @jglaser would know since he has worked with the template more recently.

[2019-03-01 21:02] berceanu opened #70 "side effects in @cmd operations"
[code]

**Expected console output:**
[code]

**Actual console output:**
[code]

A use-case for this would be logging the executed `@cmd` to a logfile upon execution.
The function `_shell_command` is executed, even though `command` is not actually run.

[2019-03-01 21:06] csadorf commented on #70
Thank you for reporting! While `@cmd` operation-functions *should* technically not have any side-effects, it would probably a good idea if we would avoid executing them regardless.

[2019-03-03 20:35] csadorf commented on #46
Is this fixed with merge of #63 ?

[2019-03-05 04:58] justinGilmer opened #73 "Separating `operation.cmd` when using `@with_job` and `@cmd`"
### Feature description

When using the `with_job` and `cmd` decorators together, it would be great to separate the changing of the directories from the `cmd` itself.

### Proposed solution

I have been using the `titan.sh` template for my research. I have quite a few operations that require changing into the `job.workspace()` and then using a `flow.cmd`. These are also parallelized, so I am using

[2019-03-05 15:26] vyasr opened #74 "Clean deprecated code"
Prior to 1.0 we want to remove all deprecated code paths, especially those related to the legacy submission system.

[2019-03-06 19:54] mikemhenry commented on #73
Do we think this be the default behavior? When I added `with_job` I didn't event think about how this would mess up the command prefix stuff.

[2019-03-07 16:29] justinGilmer commented on #73
Personally, it seems logical that changing into the directory would be separate from the command. `@cmd` would contain the actual shell script, and the `with_job` would also be separate.

Especially since the current implementation requires `with_job` to appear before the `cmd` decorator.

[2019-03-07 16:33] justinGilmer commented on #73
It definitely makes the overall logic and code in my `project.py` much cleaner as well. Since I am currently working around this by manually changing into the directory and then manually adding the proper mpi call and ranks needed. I am still using a template.sh file, but I am losing out on a lot of the convience that could be had.

[2019-03-07 18:18] csadorf commented on #73
I agree with @justinGilmer that the most natural way is probably to extend the template. I believe this will also give us the best chance to not break existing scripts.

I suggest that we make this slightly more general and extend the relevant template line in the following way:
[code]
The ``changedir`` field would be empty by default and populated with `'trap "cd $(pwd)" EXIT && cd {directory} &&

[2019-03-07 18:57] mikemhenry commented on #73
I like it, might as well future proof things a bit

[2019-03-08 15:08] csadorf commented on #58
Resolved with merge of #66 .

[2019-03-08 15:08] #58 closed

[2019-03-08 15:28] csadorf commented on #46
I'm closing this since I have not received any responses.

[2019-03-08 15:28] #46 closed

[2019-03-08 17:33] csadorf commented on #74
Fixed with merge of #75 .

[2019-03-08 17:33] #74 closed

[2019-03-08 17:36] csadorf opened #76 "AttributeErrors in condition functions cause confusing error message"
### Description

The error message shown when an `AttributeError` is triggered in a label or condition function is confusing.

### To reproduce

Setup a flow-project with a label or condition function that triggers an `AttributeError`, enable buffered mode, and launch the command line interface.

### Error output

[code]
However, this warning is completely unrelated to the actual error, due to poo

[2019-03-13 01:05] bdice commented on #60
I used the pattern `'(nyx|flux)((?!-hadoop).)*.umich.edu'` instead of the one listed above (which is missing the hyphen). It corrected the problem I was seeing.

[2019-03-13 17:35] bdice opened #83 "Local execution with "run" not respecting filter"
### Description

I want to locally execute an operation for a subset of jobs, but it executes on all jobs instead.

### To reproduce

### init.py:
[code]

### project.py:
[code]

Then
1. `python project.py run -f a 0` runs all jobs, rather than just those where `job.sp.a == 0`. _(unexpected)_
2. `python project.py run -f a 0 b 0` runs only one job, as expected.
3. `python project.py run -f a 0 b`

[2019-03-13 18:20] csadorf commented on #83
This issue only occurs in the 0.7 line, not in a release version. However it is a serious bug. I'll fix it.

[2019-03-13 20:24] zhou-pj opened #85 "Full launcher support for Stampede2 with updated template"
### Feature description

Improve launcher support for Stampede2

### Proposed solution

Two to-dos:

Update template for launcher support to allow jobs queue and run consecutively on limited processors
Design ways to activate the use of launcher template.

[2019-03-13 20:37] csadorf opened #86 "Drop support for Python 3.4"
Python 3.4 reaches EOL after March 2019.

https://www.python.org/dev/peps/pep-0429/

0.7:

- [ ] ~~Issue a `DeprecationWarning` that Python 3.4 will no longer be supported in future versions.~~
- [x] Announce deprecation in the changelog.

0.8:

- [x] Stop testing 3.4 and start testing 3.8.

[2019-03-13 21:22] csadorf commented on #19
Please make sure to coordinate with @zhou-pj on this, since he will be working #67 which will touch the same code segment.

I think it should be possible to work on both issues concurrently since this issue is probably more concerned with the command line API and the logic of gathering those parameters, but some coordination will probably be advantageous to avoid effort duplication.

[2019-03-13 21:32] csadorf commented on #25
The simplest and immediate solution for this is probably to print the walltime directly from the base template.

Long-term, we should move away from the `--walltime` CLI argument that is currently implemented on a per-environment basis and make the walltime a first-class directive, that can be specified on a per-operation basis. The required walltime could then be summed up much more easily.

[2019-03-14 14:24] csadorf commented on #83
Fixed with merge of PR #84 .

[2019-03-14 14:24] #83 closed

[2019-03-14 14:24] csadorf commented on #76
Fixed with merge of PR #78 .

[2019-03-14 14:24] #76 closed

[2019-03-14 14:25] csadorf commented on #59
Fixed with merge of PR #69 .

[2019-03-14 14:25] #59 closed

[2019-03-14 14:25] csadorf commented on #39
Fixed with merge of PR #68 .

[2019-03-14 14:25] #39 closed

[2019-03-15 15:01] #19 closed

[2019-03-18 02:30] mattwthompson opened #92 "PBS parse failure"
### Description

When the output of a job status query (`squeue`, `qstat`, etc.) is completely empty instead of an empty node (`<Data></Data>`), the parser inside of `_fetch` fails and errors out.

### To reproduce

This happens on one of our clusters at Vanderbilt (running PBS 4.2.9) when no other users are running jobs, but the bug should reproducible whenever this behavior occurs:

[code]
Compa

[2019-03-20 14:20] csadorf commented on #43
Resolved with merge of #88 .

[2019-03-20 14:20] #43 closed

[2019-03-21 17:04] csadorf commented on #92
Resolved with merge of #93 .

[2019-03-21 17:04] #92 closed

[2019-03-25 16:55] rosecers opened #96 "Error in cache generation"
### Description

_status does not recompile, leading to an innaccurate status in "python project.py status -d"

### To reproduce

Please copy & paste the code that is triggering the issue into this section and describe the context and prior steps that lead to the problem with as much detail as possible.

### Error output

-bash-4.2$ python project.py status -d
Query scheduler...
Collect job status

[2019-03-25 22:29] csadorf commented on #96
Fixed with merge of #97 .

[2019-03-25 22:29] #96 closed

[2019-03-27 02:23] bdice commented on #60
Resolved by PR #82.

[2019-03-27 02:23] #60 closed

[2019-03-27 02:26] bdice opened #98 "Missing pre/post documentation"
### Feature description

The documentation should list all the available features for `pre` and `post`. The docs currently have some [example code that I added](https://bitbucket.org/glotzer/signac-flow/pull-requests/54/fix-pre-post-docs/diff) but don't list all the available condition functions here: https://docs.signac.io/projects/flow/en/latest/api.html#flow.FlowProject.post

### Proposed solut

[2019-04-29 17:42] justinGilmer opened #103 "Capture scheduler error messages and print to user"
### Feature description

When the user runs `submit` for a system with a scheduler management system, any error messages from the scheduler command itself should be captured and displayed to the user.

### Proposed solution

If `subprocess.py` can capture the STDOUT and STDERR of the command it calls, and returns that to the user when calling `submit` that would drastically improve the debugging e

[2019-04-29 22:53] vyasr commented on #103
I agree that this would be a good idea. I'll try to have a look at it.

[2019-05-02 20:32] zhou-pj commented on #67
Start working on this issue now. Just want to make sure no one is also working on it.

[2019-05-03 14:20] justinGilmer commented on #103
Here is the selection of code from [torque.py](https://github.com/glotzerlab/signac-flow/blob/fc7916fae3d9e10bf9828a4b296ce93321e86e61/flow/scheduling/torque.py#L141) where I think the check should be done
[code]

What I think should be changed:
[code]
All that I changed was wrapping the `subprocesss` call in a try,except block.

I think all that is required is capturing the exception raised and t

[2019-05-03 19:38] justinGilmer opened #105 "Confusing wording in the contributors guide"
In the [contributor's guide](https://github.com/glotzerlab/signac-flow/blob/master/CONTRIBUTING.md#general-guidelines), it says that all PRs for features or changes should be made against `master`. However, the [template](https://github.com/glotzerlab/signac-flow/blob/master/.github/PULL_REQUEST_TEMPLATE.md#L17-L19) that is provided to the user when submitting their pull request mentions that they

[2019-05-03 19:51] csadorf commented on #105
Thx for reporting! I thought we had updated it, but apparently dropped the ball somewhere.

[2019-05-03 21:17] csadorf commented on #105
Fixed with merge of PR #106 .

[2019-05-03 21:17] csadorf commented on #105
Fixed with merge of PR #106 .

[2019-05-03 21:17] #105 closed

[2019-05-04 00:59] csadorf commented on #103
Resolved with merge of #104 .

[2019-05-04 00:59] #103 closed

[2019-05-04 20:44] csadorf commented on #85
Resolved with merge of PR #91 .

[2019-05-04 20:44] #85 closed

[2019-05-04 20:45] csadorf commented on #64
Resolved with merge of PR #89 .

[2019-05-04 20:45] #64 closed

[2019-05-05 16:38] csadorf opened #107 "Feature proposal: Integrated profiling"
### Feature description

I suggest that we implement an integrated profiling tool to make it easier to optimize the operations-graph and speed up function such as `status`.

### Proposed solution

I suggest that we add a `--profile` option to the `FlowProject` `status` command that executes the status update, but then provides the user with profiling information about which condition functions are

[2019-05-05 16:40] csadorf commented on #107
@justinGilmer Do you think that would be useful?

[2019-05-06 16:00] justinGilmer commented on #107
@csadorf Very much so! I normally use tools like [vprof](https://github.com/nvdv/vprof) when I am trying to profile, but having a dedicated profiling option that will parse the information and give a nicer summary will be very welcome!

[2019-05-06 16:18] csadorf commented on #107
Great! Concerning vprof: I had looked at various profiling tools, but didn't come across this one yet. Looks really cool! Unfortunately we might not be able to use it for this specific case, because it has npm requirements.

[2019-05-06 17:01] justinGilmer opened #108 "More intuitive progress bar"
### Feature description
The progress bar in `flow` should reflect the progress of each statepoint, not the total operations it has to collect and run.

### Proposed solution
The progress bar should be a function of the number of statepoints and the bar should only increment once all the labels/statuses have been checked and applied to that statepoint.

### Additional context

When showing the prog

[2019-05-06 17:04] justinGilmer commented on #107
Yeah I do not think vprof is the best option here, its quite useful for personal projects though!

I do think that parsing some profiler output and presenting that to the user would be super helpful, im not entirely sure what the best option is for that, however.

[2019-05-06 18:04] csadorf commented on #108
Thx for reporting! I wasn't aware of this issue.

[2019-05-07 00:43] vyasr commented on #108
I suspect that this is a bug I introduced with the status optimizations we merged recently.

[2019-05-07 00:46] csadorf commented on #108
Ok, could you investigate?

[2019-05-15 18:25] csadorf opened #113 "Proposal: Render status view from Markdown document"
## Proposal

The status view rendering is currently refactored to use jinja2 as part of PR #111 . After completion of that change, we should consider to split the generation and presentation of the status view into distinct _document generation_ and _document presentation_ steps.

## Current rendering process

The status view presentation is currently implemented as follows:

1. Fetch the status d

[2019-05-15 18:28] csadorf commented on #113
@glotzerlab/signac-maintainers @mikemhenry @zhou-pj This is a proposal I discussed earlier with @bdice , there is no rush to decide or implemented this, but I wanted to make sure to collect thoughts and research notes.

[2019-05-15 18:29] csadorf commented on #113
Related to issue #67 and pull request #111 .

[2019-05-15 18:46] mattwthompson commented on #113
This seems like a good feature, but I have a couple of questions

1. Is markdown is the best way to store the intermediate data? It seems like at that step it doesn't necessarily need to be human-readable, or pretty on the eyes like markdown is. Not necessarily saying it's a bad choice or  proposing another option, just curious.

2. Is there anything preventing the user (for better or for worse) f

[2019-05-15 19:08] csadorf commented on #113
The actual status data is stored in a JSON-encodable data-structure, essentially the output of step 1.
Step 2 prepares the rendering by filtering and enriching the data and forwarding it into the jinja2 templating context.

With the proposed change we are clearly distinguishing between:
1. The status data -- that is the actual data that is available for presentation and can always be dumped in JSO

[2019-05-16 18:11] mattwthompson commented on #113
Ah okay, I forgot that the status data itself is actually stored in JSON and this is all downstream from fetching the status data.

[2019-05-16 22:22] #108 closed

[2019-05-16 22:22] vyasr commented on #113
I support this idea. Since we're moving towards allowing user-configured jinja templates for status view, this would make the package even more flexible from a user's perspective of how they want the status rendered.

[2019-05-23 13:02] berceanu opened #115 "CUDA initialized before forking"
### Description

I am trying to integrate `fbpic`, a well-known CUDA code (based on Python + Numba) for laser-plasma simulation with `signac`. The integration repo is [signac-driven-fbpic](https://github.com/berceanu/signac-driven-fbpic).

I managed to succesfully run on a single GPU, via `python3 src/project.py run` from inside the `signac` folder, but if I add `--parallel` I get

[code]

The goa

[2019-05-23 14:00] csadorf commented on #115
Hey, thx for reporting this issue! Have you tried moving import of anything `fbpic` related from the module-level to the operation level? Usually import of those packages triggers the CUDA initialization.

[2019-05-23 15:57] vyasr commented on #115
I concur, it's likely the `from fbpic.main import Simulation` that's doing the GPU initialization, I would try moving that into the operation. If that isn't enough, try the other imports as well.

[2019-05-23 17:26] berceanu commented on #115
You guys are awesome, it worked :)
Now I stumbled into a different issue (should I open a new one?) regarding the fact that all the runs are launched on the same GPU (0/7), instead of each of them claiming a separate card.

Looking at this [fbpic example](https://github.com/fbpic/fbpic/blob/dev/docs/source/example_input/parametric_script.py), they use `MPI` for parallel parameter scans on multiple

[2019-05-23 17:45] csadorf commented on #115
While Github issues are usually not meant for tech support, I suggest we troubleshoot this as part of this issue, because it is a problem that we need to generally solve.

The issue is that each operation is executed completely independently so there is no way to tell each operation what GPU to use. One way we could mitigate that is to assign each process some kind of "task number". This task numb

[2019-05-24 13:34] tcmoore3 opened #116 "Job-operation name collisions"
### Description

I'm running into an issue where when I run `status`, a `FileNotFoundError` is being raised about bundled jobs that are in a different projects on the same filesystem. Both projects have the same name (as specified in `signac.rc`). Additionally, the names of the root directories are similar for each: one is in `/path/to/projects/depletant-assembly` and the other is in `/path/to/pro

[2019-05-24 13:47] csadorf commented on #115
@joaander Josh, this issue is similar to one that you brought up a while back. I believe that what I'm suggesting here is in line with what you proposed back then?

[2019-05-24 14:37] joaander commented on #115
@csadorf Your proposed solution would provide efficient scheduling provided that 1) The number of parallel tasks was limited to the number of GPUs in the system and 2) All tasks take exactly the same amount of time. If either of these requirements is not met, this solution will result in situations where some GPUs may go unused at times and/or some GPUs may have multiple tasks assigned at times. T

[2019-05-24 15:04] berceanu commented on #115
@joaander I set the compute mode on all 8 GPUs to "E. Process".

Now I get this error after the first operation completes on the first GPU:
[code]

[2019-05-24 17:11] joaander commented on #115
With compute exclusive mode, attempting to acquire a CUDA context will result in an error if there are no free GPUs. Are you sure all 8 GPUs are free? Try a smaller number and see if that works. Check `nvidia-smi` to see which processes are using which GPUs.

[2019-05-24 17:12] berceanu commented on #115
Yes, I tried, two are not free, so I reduced it to 6 but still get the same problem.

[2019-05-24 17:28] joaander commented on #115
@csadorf Does signac-flow reuse processes for multiple tasks? This would explain this behavior. Is there a way to make it launch a new process for each task?

With reused processes you would need to clean up and destroy the CUDA context at the end of each task so the GPU is free for the next one. The library you are using would need to provide an API call to destroy the context.

[2019-05-24 17:54] csadorf commented on #115
Whenever possible, yes. Because it is much faster for smaller operations to avoid forking, which the `run` sub-command is designed for.

However, it is possible to suppress that behavior by specifying the executable manually, e.g. with `directives(executable='python')`. We should probably consider to add a `@fork` decorator or so that instructs signac-flow to fork without this work-around.

[2019-05-26 16:24] csadorf commented on #38
@alacour Are you still working on this?

[2019-05-26 16:27] alacour commented on #38
No, I am not working on it

[2019-05-28 14:47] vyasr commented on #116
How do we want to go forward with fixing this? Short of including the entire folder name, perhaps incorporate a hash of the folder name into the bundle id as well?

[2019-06-05 10:29] berceanu commented on #115
I documented the work-around here: https://github.com/glotzerlab/signac-docs/pull/27

[2019-06-06 14:37] b-butler commented on #116
@vyasr that makes sense. Including the directories base path in the hash should prevent collisions at least from my understanding of hash algorithms.

[2019-06-07 09:08] berceanu commented on #115
I just noticed a big inconvenience in the above work-around, that is that one has to run
`python3 src/project.py submit --bundle=6 --parallel --test | /bin/bash`
for every set of operations. What I mean is, each time this runs, it only executes the next elligible operations, and not the whole workflow, ie I now have two operations, one to run the simulations and another to plot the results, and I

[2019-06-07 14:13] csadorf commented on #115
Yes, this inconvenience is currently addressed as part of PR #114 . I hope that we will be able to release this soon. I propose as a work-around until then, you could define a *meta-operation* manually by simply calling both functions in another function which is the one you actually submit.

[2019-06-07 18:33] csadorf commented on #116
I agree, we should use the hash of the root directory instead of the root directory itself, here: https://github.com/glotzerlab/signac-flow/blob/master/flow/project.py#L285

[2019-06-18 20:56] bdice commented on #16
I'd like this feature, too - maybe a hackathon project.

[2019-07-01 22:41] berceanu opened #119 "Proposal: make `@with_job` take a subfolder"
Sometimes it's useful to create subfolders in the workspace's job folders, and managing them manually can get tricky. I therefore propose adding an optional subfolder parameter to the `with_job` decorator, and the operation would be executed in that job subfolder.

[2019-07-05 15:33] vyasr commented on #27
This issue is a little vague at the moment. How would you upgrade a notebook into a job operation? Do we essentially want to do something like a `%%writefile` to an existing project file? Submission inside the notebook is possible for existing operations, but for new operations they need to be added to the operation list somehow.

[2019-07-05 15:44] vyasr commented on #30
@csadorf @mikemhenry I think we need to split this issue into well-defined tasks so that we can actually assign them and tackle them. Simon's last post is a good example of one such task, are there others?

[2019-07-05 15:46] vyasr commented on #31
This seems closely related to #114, #52, and #62. The solution should be easy once those are merged in since the different operations could be easily submitted as one aprun command.

[2019-07-05 15:46] tcmoore3 commented on #67
Resolved with PR #111

[2019-07-05 15:47] #67 closed

[2019-07-05 15:50] vyasr commented on #33
Solving this will be much easier with #114. Once that is merged we can revisit whether or not to implement further conveniences to enable this feature.

[2019-07-05 15:51] yuanzhou0827 commented on #33
Thank you, Vyas!

[2019-07-05 15:53] vyasr commented on #35
This is waiting on #71, but should be easy to implement once the graph functionality exists.

[2019-07-05 15:55] vyasr commented on #37
This issue should be solved by #114, and is also closely related to #35 if we want to make this even easier.

[2019-07-05 17:36] csadorf commented on #73
This is related to issue #119 .

[2019-07-05 17:37] csadorf commented on #119
@berceanu I've just linked to an existing issue (#73) that would generalize this concept even further.

[2019-07-09 14:15] csadorf opened #123 "Status view with auto-parameter extension triggers TypeError for nested state points"
### Description

Using the auto parameter extension as part of the detailed status view triggers a `TypeError` when the data space contains jobs with nested state points.

**This issue is currently only triggered on master!**

### To reproduce

[code]
### Error output

`$ python project.py`

[code]

### System configuration

Please complete the following information:

 - Operating System [e.g. mac

[2019-07-12 01:05] tcmoore3 commented on #116
Is `signac.contrib.hashing.calc_id()` the right way to do the hashing?

Also, is there any specific reason for using the hash of `project.root_directory()` rather than just the root directory? [That bit gets hashed into `job_op_id` anyway](https://github.com/glotzerlab/signac-flow/blob/master/flow/project.py#L297), so unless I'm missing something there shouldn't be a need to use the hash of the ro

[2019-07-12 15:08] csadorf commented on #116
Yes, I think it's a good idea to use the same hashing algorithm across the framework, but it's not a strict requirement.

You are correct, it doesn't make sense to hash the directory name twice.

[2019-07-12 15:09] #116 closed

[2019-07-12 15:34] csadorf commented on #27
@cheng Could you help us understand this issue better?

[2019-07-12 15:40] csadorf opened #125 "Proposal: Automatic caching of condition functions"
### Feature description

We are currently operating under the assumption that the project data space does not change while we are gathering the project status.

We should take advantage of that assumption and automatically cache all condition functions.

### Proposed solution

Caching should be done on a per-instance level, but should be parallelizable.

[2019-07-12 16:36] b-butler commented on #73
@justinGilmer could you give us some example code where this would be used. We need to understand the behavior a little better before we can decide on implementation details.

Assuming this is still relevant to you.

[2019-07-12 21:34] vyasr commented on #116
I'm confused, did we actually resolve the issue? If the root directory is already part of the hash, how did this issue arise in the first place?

[2019-07-12 21:42] csadorf commented on #116
Noe, idea how it occurred in the first place. We can reopen if this happens again.

[2019-07-12 21:58] jdaaph commented on #27
I think at the time I added this issue was meaning something like a python API for job submission to use a notebook cell as operation but now that I think of it it doesn't make much sense. I suggest just let the issue fly.

[2019-07-13 02:41] vyasr commented on #27
Sounds good.

[2019-07-13 02:41] #27 closed

[2019-07-14 21:14] tcmoore3 opened #127 "Detailed status view inadvertently omits jobs without eligible operation"
### Description

I'm trying to use the command line interface to view the status of all of my jobs, not just ones with eligible operations. When I add the `--all-operations` option, it's showing me all operations, not just eligibile or active ones (as the documentation says it should). But I don't want to see that, I just want to see all of my jobs and their eligible operations (which would be bla

[2019-07-14 22:34] csadorf commented on #127
@tcmoore3 Thank you for reporting. This is definitely a bug that was introduced with #111 .

[2019-07-15 01:05] tcmoore3 commented on #127
@csadorf OK, that was my gut feeling. I'm happy to fix this, but I want to confirm something: is it the intended behavior to by default only show jobs with eligible operations, which changes the behavior from the current version?

[2019-07-15 02:00] csadorf commented on #127
The intended default behavior is to have one line per job regardless of whether there is an eligible operation pending or not. There is actually a `status` option `--only-incomplete-operations` that should switch to the behavior you described above.

[2019-07-17 02:38] tcmoore3 opened #129 "Proposal: a "real project" for testing the command line interface"
### Feature description

It would be nice if it was easier to test the output of running `status` within the `signac-flow` codebase. I currently have to test new changes on "live" projects, which is generally bad practice. Including this in the codebase would make it easy for anyone doing dev work to test out changes to the code without having to keep a separate test project up-to-date.

### Propo

[2019-07-18 15:05] csadorf opened #131 "Support University of Michigan Great Lakes Cluster"
### Feature description

The University of Michigan [Great Lakes cluster](https://arc-ts.umich.edu/greatlakes/) is now in *early-testing* mode. We should run tests and develop an environment+template *if necessary* to support it.

### Proposed solution

Run unit tests and test a basic submission workflow on the Great Lakes system.

[2019-07-19 11:57] berceanu commented on #119
After much experimentation, I decided subfolders are not the best approach, and opted for sub-projects instead. As a result, my project hierarchy now looks like this:

[code]

[2019-07-24 13:35] csadorf commented on #119
@berceanu Thank you for sharing! Do you think that makes the `@with_job` decorator less useful in that context? Or are there any other API short-cuts that might be useful?

[2019-07-24 14:25] csadorf commented on #131
Using just defaults works for simple CPU jobs. We will need a dedicated environment and template to support GPU and large-memory jobs.

[2019-07-24 15:07] berceanu commented on #119
Well, in this case working with sub-projects rather than sub-folders is more intuitive, so extending `@with_job` wouldn't help I think.

[2019-07-31 13:09] vtelezki opened #133 "Parsing Issue with TORQUE"
### Description
After submitting jobs to our cluster, I am running into parsing issues when I try to run `status`. This issue does not happen when no job is running.
To clarify: The submitted job and jobs of other users are running.

### To reproduce
1) submit job to scheduler:
    `python3 project.py submit -o sample -n 1 -w 1`
2) check status while running:
    `python3 project.py status -d`

##

[2019-07-31 13:51] vtelezki commented on #133
This issue is not restricted to the `status` command. If I want to submit more jobs while my other job is running, I get a similar error output:
[code]

When no job was submitted, `python3 project.py status -d` gives the following warning:
[code]
Might the error be a result of this warning? Do I have to reconfigure the environment?

[2019-07-31 18:59] tcmoore3 opened #134 "Summary of eligible operations"
### Feature description

It would be useful to see a summary of how many jobs are eligible for each operation when you run `status`. This would help, for example, when running on a cluster with a limit of how many jobs you can keep in the queue; being able to see how many jobs are eligible for a specific operation would aid in selecting an appropriate bundle size.

### Proposed solution

For the u

[2019-07-31 23:06] bdice commented on #133
@vtelezki To debug this, we would need to get the raw XML response from your scheduler. It's a parsing error of whatever data the scheduler is giving back to signac-flow.

Following the steps from a similar parsing issue (#92), please copy/paste the output of `$ qstat -fx -u $USER`. That's the command signac-flow is calling to get XML output from the scheduler which is parsed into the status displ

[2019-08-01 07:22] vtelezki commented on #133
@bdice, output of `qstat -fx -u $USER` is in the report under "Other outputs". Thanks for your help!

[2019-08-01 15:34] bdice commented on #133
Hey @vtelezki, it looks like your cluster's version of PBS isn't giving XML output. See if you can read the manual for your version of PBS and identify if there's a flag for XML output. It can probably be found in `man qstat`.

For example, when I run `qstat -fx -u $USER` on our PBS scheduler, I get the following (when no jobs are running, so it's empty):

[code]

We're running the following versi

[2019-08-02 08:51] vtelezki commented on #133
hey @bdice, the man page says the following:
[code]
It sounds to me that `-x` is incompatible with `-u`.  Running `qstat -fx -u $USER` returns nothing when no jobs are running.

We are apparently running version 2.5.9. Might this be the issue?

[2019-08-02 12:26] bdice commented on #133
@vtelezki It's possible that your scheduler is too old, or configured improperly. I'm guessing from the `git blame` that version 2.5.9 is about 8 years old (see below). If you look at issue #92, there have been some issues with XML output in a newer version (4.2.9) as well. I would recommend reaching out to your cluster's IT staff for assistance, they might upgrade things if you ask nicely. 😄

@gl

[2019-08-02 13:02] vtelezki commented on #133
Ok. wow. I will  try my best. Wish me luck :stuck_out_tongue_closed_eyes:
I will keep you updated, thank you for your help!

[2019-08-02 14:07] csadorf commented on #133
@vtelezki This is what the output looks like for me on a different TORQUE system:
[code]
I don't have any jobs submitted on the system, but the command returns a valid XML document, which is what signac-flow is trying to parse. That appears to not be the case on your system.

This is odd, because that's what the `-x` flag is supposed to do, from the `qstat` man-page:
[code]
Can you double check wh

[2019-08-09 13:55] csadorf commented on #133
@vtelezki Were you able to determine what the issue with the `qstat` command might be?

[2019-08-12 17:34] #16 closed

[2019-08-12 18:39] #129 closed

[2019-08-13 15:33] csadorf commented on #127
Resolved with merge of #128 .

[2019-08-13 15:33] #127 closed

[2019-08-13 17:34] csadorf opened #140 "Drop support for signac 0.9.x"
We should drop support for signac version 0.9.x.

Here is what we need to do for that:

* [x] Document all supported versions in the docs on the [installation](https://docs.signac.io/projects/flow/en/latest/installation.html) page.
* [x] Announce drop of support in the changelog.
* [x] Remove unit tests in the circle-ci config.
* [x] Update requirements in the setup.py file.
* [ ] Update requireme

[2019-08-16 14:16] csadorf commented on #133
@vtelezki I'll close this for now, feel free to re-open if you need assistance again.

[2019-08-16 14:16] #133 closed

[2019-08-18 21:14] bdice opened #142 "Job profiler errors for projects with zero jobs"
### Description

I have a project with zero jobs. The new built-in status profiler has a computation where it divides by `len(jobs)`, causing a division by zero error.

### To reproduce

Create an empty FlowProject and then run `python project.py status`.

### Error output

[code]

### System configuration

Please complete the following information:

 - Operating System [e.g. macOS]: 🐧
 - Version

[2019-08-21 23:14] mikemhenry opened #146 "Proposal: Expose job folder as a template variable"
### Feature description

Make it easier for job output (std out and err) to end up in the workspace folder.

### Proposed solution

Expose something like `job_output_dir` as a variable for templating. Right now this is the hack I use:

[code]

I consider this a hack since it will break on job bundling (we will have to disable this feature when using a job bundle since its not well defined where st

[2019-08-30 13:42] csadorf commented on #86
Resolved with merge of #149 .

[2019-08-30 13:42] #86 closed

[2019-08-30 14:02] bdice commented on #140
@csadorf I think the conda recipe will need to be updated when we make a release of v0.8.

[2019-08-30 15:08] csadorf commented on #42
https://github.com/glotzerlab/signac-docs/pull/33

[2019-08-30 16:19] #24 closed

[2019-08-30 16:59] #42 closed

[2019-08-30 17:03] #123 closed

[2019-08-30 17:54] #142 closed

[2019-08-30 18:33] csadorf commented on #140
Resolved with merge of #151 .

[2019-08-30 18:33] #140 closed

[2019-08-30 18:39] #134 closed

[2019-08-30 22:28] #98 closed

[2019-09-01 17:18] bdice commented on #140
Dependency updated for conda-forge: https://github.com/conda-forge/signac-flow-feedstock/pull/15

[2019-09-06 15:14] vyasr commented on #119
Closing pending further interest.

[2019-09-06 15:14] #119 closed

[2019-09-06 15:25] csadorf commented on #107
Resolved  with merge of #110 .

[2019-09-06 15:25] #107 closed

[2019-09-12 13:36] b-butler opened #162 "Status with eligible operations shows number without operation"
### Description
When running `python project.py status` the operation eligibility portion shows the number of jobs without a corresponding operation name when no operation is eligible.

### To reproduce

[code]

`$ python project.py status`

### Error output

![Screen Shot 2019-09-12 at 9 33 51 AM](https://user-images.githubusercontent.com/46760783/64788493-8bb48e80-d540-11e9-9c9a-82fec04672ba.png

[2019-09-13 19:20] csadorf commented on #162
@tcmoore3 That's probably related to the placeholder we needed to introduce, right?

[2019-09-17 15:30] tcmoore3 commented on #162
Yes, exactly. We added a placeholder with the operation name `’ ‘` to get back the old behavior after implementing jinja for status views, so that’s what shows up in the operation summary. I recommend waiting for the jinja->markdown change for the status view before fixing this. But good catch, @b-butler

[2019-09-25 20:45] atravitz opened #164 "remove --job-name from submit command line arguments"
explicitly assigning a string to `--job-name` when submitting results in the status remaining at `[U]` even while the job is running. An example of code that causes this is:

[code]

[2019-10-03 19:31] rosecers opened #165 "Documentation for old flow API"
I'm still working with flow, and working with my new group on adopting signac and flow. Many of the new group mates (and myself tbh) prefer the old API, but the documentation only includes the new API. Can you add documentation for the old API? I've gotten many requests.

Old API= class structure, separate project.py and operations.py,  self.add_operation()
New API=@FlowProject.operation()

[2019-10-04 07:32] csadorf commented on #165
I've advocated before that the *old API* should not be deprecated and is still fully viable. @rosecers Where would you like to see the documentation?

[2019-10-07 21:21] ilumsden opened #166 "Running on an LSF system without LSB_BJOBS_FORMAT set causes subprocess.CalledProcessError"
### Description

When running `signac-flow` code with `DefaultLSFEnvironment` on a platform where the LSF environment variable `LSB_BJOBS_FORMAT` is not set, a `subprocess.CalledProcessError` is raised in [the `_fetch` function in `lsf.py`](https://github.com/glotzerlab/signac-flow/blob/1f1e11ce2fb298a7fe0fd6af2ee3a742ede72607/flow/scheduling/lsf.py#L43). This is because the command passed to `che

[2019-10-07 21:25] ilumsden commented on #166
I should also mention that, after reviewing this repo's code, I found that the only info needed from `bjobs` is `jobid`, `stat`, and `job_name`.

[2019-10-07 21:48] ilumsden commented on #166
I just finished implementing a fix for this on [my personal fork](https://github.com/ilumsden/signac-flow/blob/6d03ef81a098126eb61116d2fc690132de739f42/flow/scheduling/lsf.py#L43). I tested it using the workflow that I've been working with. If you'd like it to be added, just let me know, and I'll make a PR.

[2019-10-08 14:25] csadorf commented on #166
@ilumsden Great! We would very much appreciate if you could create a PR. Make sure to review the [contributing guidelines](https://github.com/glotzerlab/signac-flow/blob/master/CONTRIBUTING.md), thank you!

[2019-10-10 15:17] jglaser opened #167 "implement an interactive option for job submission"
### Feature description

It would be great to have an `--interactive` option to the `submit` command in flow. Currently, the desired behavior is achieved by executing `project.py submit --test 2>&1 | grep jsrun` and using the output as an input to the shell. It would save some manual steps If one could automatically launch the interactive jobs using the above option.

### Proposed solution

Implem

[2019-10-16 17:00] bdice opened #169 "show_traceback = on by default"
### Feature description

Related to #61 and #144, I think it would be good if `show_traceback = on` by default.

### Proposed solution

Change default behavior to enable traceback.

@glotzerlab/signac-developers What are your thoughts about this potential change? The tracebacks are sometimes a little complicated, but I think it's reasonable to expect that Python scripts will show a traceback on er

[2019-10-16 20:31] tommy-waltmann commented on #169
What extra information would the show_traceback option display that the script wouldn't?

[2019-10-17 03:04] bdice commented on #169
@tommy-waltmann Here's a simple example. This operation raises an error:

[code]

If you execute this project in a non-empty signac project folder, you get the following output:

[code]

Running with `--show-traceback` shows the following output which is much more verbose, but gives a full traceback of how the error occurred:
[code]

With this information, I can identify exactly what went wrong (m

[2019-10-17 07:00] csadorf commented on #169
I would like to propose a compromise. The majority of signac users appear to use the command line tools as primary entry points. It is reasonable to expect that these entrypoints do not present full tracebacks as the *default* error feedback. I consider myself a Python expert user and am usually thrown off by tools (implemented in Python) that do not shield me from a full traceback for "expected f

[2019-10-17 10:56] bdice commented on #169
@csadorf Good concept. I tried a different approach, which truncate the traceback to only show the user-side portion of the traceback and hide the signac-flow portions. I used the `traceback` module for this. I think it's a pretty robust solution that conceals the `project.py` entry point's stack. Another side-effect (which I _think_ is desirable) is that it put the `ERROR` at the bottom instead o

[2019-10-17 11:02] bdice opened #170 "Warn/error if subprocess command returns nonzero code"
### Feature description

Currently Python operations that raise an error will halt the execution loop of `project.py run`. However, the loop doesn't halt if the erroring operation is forked via `@directives(fork=True)` or `@cmd`. Non-zero exit codes from the `subprocess.call` are silently ignored.

### Proposed solution

Non-zero exit codes should be caught, and either throw a warning or raise an

[2019-10-17 11:58] csadorf commented on #169
Ok, I think that's an improvement, however I would still prefer a better encapsulation of the traceback within the error feedback.

What do you think of the question prompt? Could be very easily implemented with click.

[2019-10-17 12:16] bdice commented on #169
@csadorf I don't particularly like adding an interactive component for long-running processes. I frequently "set and forget" runs like these.

[2019-10-17 12:32] csadorf commented on #169
What's the concern? That the process does not terminate?

[2019-10-17 12:52] tommy-waltmann commented on #169
I like the truncated traceback option, the user can quickly find the location of their error, but at the same time isn't too verbose. We should also have a way for the user to get the full traceback if they want it.

[2019-10-17 13:20] bdice commented on #169
@csadorf I think it’s unusual and non-UNIXy to require user input in a place like this. Cases like `python project.py run > run.log` get messy.

@tommy-waltmann I mostly agree. We can narrow the relevant part of the traceback to the user code with certainty, so the option for a “full traceback” (including signac-flow’s internal run logic) would be a tradeoff for me with configuration complexity (i

[2019-10-17 13:48] csadorf commented on #169
I was honestly under the assumption that `click` would handle your piping example just fine, but a quick test shows that it doesn't. So, I'm ok with dropping that idea.

However, I think it's important to have an option to show the full traceback **including** the signac-flow code. I think that should at least the behavior in combination with `--debug`.

How about this:
* _no options_: show **mini

[2019-10-17 13:50] csadorf commented on #169
Addendum: We could test indenting the quoted traceback to make it immediately visually distinct from a normal Python traceback.

[2019-10-17 14:16] tommy-waltmann commented on #169
I agree with Simon's suggestion, perhaps we could also change the option "--show-traceback" to "--full-traceback" (or something like that), since it would by default give some of the user's traceback now. This may be annoying to do, however, because of having to globally search and replace the variable (I'm not familiar with implementation).

[2019-10-17 17:21] csadorf commented on #170
I believe that switching to using `subprocess.run()` with `check=True` and then propagating the `CalledProcessError` makes the most sense. If users want to use applications that exit with non-zero code in a non-error state than they need to wrap those themselves.

[2019-10-22 18:19] yzjin opened #173 "add_operation kwargs not documented"
### Description

Related to #165. The `**kwargs` of `add_operation()` are not documented. They are passed through as `directives` but the docs don't indicate this.

https://docs.signac.io/projects/flow/en/latest/api.html#flow.FlowProject.add_operation

[2019-10-30 19:02] vyasr opened #174 "Add mpi_cmd back to environments"
### Feature description

Environments should "know" the MPI command that should be used (`mpiexec`, `ibrun`, `jsrun`, etc) and how to handle arguments.

### Proposed solution

Versions of this function exist in pre-Jinja versions of signac-flow. We would simply need to extract that code again, and potentially generalize it to respect directives. Additionally, we may want to expose these as templat

[2019-10-30 19:05] vyasr opened #175 "FlowProject.run should respect directives"
### Feature description

Currently `FlowProject.run` ignores execution directives, i.e. operations marked with `@flow.directives(nranks=8)` will run serially unless they are actually submitted to a scheduler. Instead, `FlowProject.run` should properly handle these directives.

### Proposed solution

This change depends on #174, which will provide the require MPI commands (and potentially other exe

[2019-10-30 19:10] vyasr opened #176 "`FlowProject.run` should allow skipping condition checking"
### Feature description

We should add an argument `--no-check-conditions` or similar that allows calls to `FlowProject.run` (or `python project.py run` on the command line) to run the selected job-operations irrespective of whether or not the conditions are satisfied.

### Proposed solution

Implementing this should be straightforward, it simply requires changing calls to `FlowProject._job_operat

[2019-11-01 09:16] csadorf commented on #176
This is essentially a duplicate of #38 .

[2019-11-02 15:47] vyasr opened #177 "Refining conditions"
There are a couple of things I find confusing about the existing conditions that should perhaps be discussed before a 1.0 release. First, should the `never` and `always` conditions be part of `pre` rather than `_condition`? Placing them as post-conditions just flips their meaning, so it's well-defined, but I'm not sure it conceptually makes sense to put them as post-conditions I think it's a worth

[2019-11-02 15:47] vyasr commented on #177
@csadorf would be interested in your input on this since I believe you originally implemented these conditions.

[2019-11-06 12:30] csadorf commented on #177
I agree that some of those are nonsensical, but not in the way that you describe it. Consider this:

- `@pre.always`: Since the preconditions are additive and "no preconditions" is equivalent to `@pre.always`, adding this never has any effect.
- `@pre.never`: This makes a lot of sense, it unequivocally disables the operation.
- `@post.always`: This makes no sense, since any other post-condition th

[2019-11-06 22:23] vyasr commented on #177
I think I mostly agree with you. However, if your logic for not including `pre.always` is that it's equivalent to having no preconditions, I would argue that `post.never` is also redundant because it's equivalent to having no postconditions. In that case, `pre.never` is the only one we should keep (which is also consistent with my practical experience that that's the only one I've ever used).

@bd

[2019-11-07 00:53] bdice commented on #177
@vyasr `post.never` is not redundant if other post-conditions exist. I have used `post.never` to force execution of operations when other post-conditions are met.

I don't think it's important to make these callable. I prefer non-callable.

[2019-11-07 02:31] vyasr commented on #177
I guess I assumed that such a use-case would only be for temporary purposes, at which point adding `post.never` seems no less ad hoc than just commenting out the conditions or similar. If it's actually the intended long-term behavior of the workflow, I'm not sure why there would be any post-conditions. Keeping `post.never` seems like it encourages overspecified workflows in that sense. On the othe

[2019-11-07 08:22] csadorf commented on #177
I use `@pre.never` and `@post.never` purely for debugging purposes in the exact way that @bdice described it.

However, more importantly, removing pre- or post-conditions (temporarily with comments or permanently doesn't matter) is **not** equivalent to using `@pre.never` or `@post.never` and that is because other operations might be copying those conditions with `@pre.after` or `pre.copy_from` in

[2019-11-11 14:21] #41 closed

[2019-11-16 03:03] #177 closed

[2019-11-16 04:37] vyasr commented on #176
Agreed.

[2019-11-16 04:37] #176 closed

[2019-11-16 04:53] vyasr commented on #164
I think that the proper place to handle this is by checking the contents of `flags` in `ComputeEnvironment.submit` and error out if `--job-name` is a valid option.

[2019-11-16 04:59] vyasr commented on #4
@csadorf I no longer recall what this is intended to accomplish. The `--after` flag exists for submission, I'm not sure what else we wanted. Do you have a better recollection, or should we close this issue?

[2019-11-16 05:55] bdice commented on #131
@Tobias-Dwyer You were asking about this recently -- just wanted to make you aware that an issue exists and would be a viable hackathon project.

[2019-11-18 08:04] csadorf commented on #4
@vyasr This is about the possibility to exploit the schedulers own ability to chain multiple submissions together. I believe that this is still something that should be addressed, possibly by exploiting a 3rd party submission system. I don't think we should close this issue.

[2019-11-18 08:05] csadorf commented on #4
This is a non-trivial issue, so I removed the *good first issue* label.

[2019-11-18 14:57] vyasr commented on #4
My confusion is that the title doesn't really seem to match the description. Was the idea for the `--resubmit` argument that it would traverse the operation graph, figure out what should run next if everything currently submitted ran to completion, and then submit those operations using the scheduler's ability to chain submissions? `flow` already allows users to manually indicate that the submissi

[2019-11-18 15:04] Tobias-Dwyer opened #181 "Support University of Michigan Great Lakes Cluster"

[2019-11-18 15:13] vyasr commented on #181
@Tobias-Dwyer duplicate of #131

[2019-11-18 15:13] #181 closed

[2019-11-18 18:18] vyasr commented on #166
@ilumsden did you get a version of this to work on your fork? If so, would you like to contribute it back to our package? We always appreciate PRs!

[2019-11-19 09:54] csadorf commented on #4
I'm honestly not quite sure, maybe this issue is just not well defined enough and we should close it.

[2019-11-19 12:23] bdice commented on #4
I think this may have been better-defined under an earlier execution model. When job operations map 1-1 with cluster jobs, this makes a lot of sense. The DAG of conditions often determines what operations _should_ become eligible after the currently running operations complete, and so it's reasonable to pre-submit operations to the cluster's queue and use the scheduler to your advantage (which min

[2019-11-19 12:23] #4 closed

[2019-11-22 16:47] yuanzhou0827 opened #183 "cmd_prefix in jinja template is not assigned"
In jinja template, users have no access to the `cmd_prefix`.

[2019-11-23 04:43] bdice opened #187 "Remove Titan and Eos support"
### Feature description

Following from #182, I noticed Titan and Eos in the supported clusters. These supercomputers have been decommissioned, so it no longer makes sense to support them in signac-flow.

### Proposed solution

Remove Titan and Eos environments, templates, and associated tests / docs.

[2019-11-25 23:32] vyasr commented on #175
There is one specific case that will require some extra work to enable, namely the offset-based bundling of multiple MPI jobs onto one node on stampede. Currently we enable this by looping and using `python project.py exec` in the template script. @b-butler and I discussed that to enable this properly we will probably need to remove all such looping from the template and instead enable it directly

[2019-12-02 14:45] zhou-pj commented on #183
On another thought, is this only expected to be used if it is provided by user, thus not being assigned anywhere in the code? If that's the case then it is not a bug. However, related to what we are doing with the run PR, might be helpful to discuss how we want to unify ways the user can define their own submission prefix to be both used for submit and run, maybe setting them as directives or some

[2019-12-10 10:14] csadorf opened #190 "Support and deploy for Python 3.8"
https://docs.python.org/3/whatsnew/3.8.html

I think it would be important to have a release version that officially supports Python 3.8 and also deploy for it.

[2019-12-12 17:50] vyasr opened #193 "Consistently document parameter types"
Documentation of functions should be consistent on including parameter types. Currently many functions that are part of the API (but are likely those that are rarely accessed by users) have parameter names and purposes documented, but are missing the `:type ...:` tag.

[2019-12-12 17:54] vyasr opened #194 "Add mapping from a dictionary with dotted keys to a nested dictionary"
### Feature description

We should write an internal function to convert dictionaries with dotted keys e.g. `{'a.b': 'c'}` to `{'a': {'b': 'c'}}`. We currently have the reverse functionality implemented for Collections. This feature is also partially implemented in a few parts of the code, so we should generalize them and centralize the code.

### Proposed solution

Ideally this would be a simple

[2019-12-13 16:25] tommy-waltmann opened #196 "flow load_config doesn't work with separate project directory from project.py"
### Description

Somehow, the monkey-patching of flow's config isn't working. It is supposed to ensure that a default value of 0.2 is applied for the key `status_performance_warn_threshold`. It's running into a problem on this line because the `warn_threshold` is `None`. https://github.com/glotzerlab/signac-flow/blob/893017073a9ce0203e03efbdcab75f094e2d6793/flow/project.py#L2666

### To reproduce

[2019-12-18 15:43] vyasr opened #199 "flow warns that executable is not used in template script"
### Description

Submitting an operation with the `executable` directives set results in a warning:
[code]

However, the script is correctly rendered with the provided executable.

### To reproduce

Create an operation decorated with
`@flow.directives(executable=sys.python)`

This problem arises because, unlike most other directives, the executable is parsed directly in Python code when operations

[2019-12-19 08:02] csadorf commented on #199
I'd suggest to hold of tackling this until #114 is merged.

[2019-12-20 00:08] bdice commented on #196
@tommy-waltmann and I dug into this further today. The actual problem is that we're using a signac project that is in a different directory than `project.py`. This causes `flow.util.config.load_config()` to fail -- it doesn't find the project's config properly.

The monkey patch is working fine, so I'll rename this issue accordingly.

[2019-12-21 20:21] bdice commented on #196
## Context

The core `signac` package uses config values that correspond to the data space itself (e.g. project id, workspace directory). The `flow` package uses config values that don't really have anything to do with the data space itself (e.g. account names for submission, status output settings). When running a `FlowProject` from a different directory than the signac project, this causes some

[2019-12-23 15:22] vyasr opened #206 "Template help is not printed if there are no eligible operations"
### Description

Calling submit with `--template-help` doesn't print anything if there are no eligible operations. The reason is that the function to print help and exit only gets called inside `submit_operations`, which is never reached from `_main_submit` if there are no operations because `make_bundles` is an empty generator.

While I think this is unexpected behavior, I'm not sure if it's impo

[2019-12-31 13:45] bdice opened #211 "Cannot import six from signac >= 1.3.0"
### Description

signac-flow versions <= 0.7.1 will not work with signac >= 1.3.0. In signac, support for Python 2.7 was dropped, which also meant we removed the vendored `six` package.

PR #157 to signac-flow removes the dependence on signac's vendored copy of six.py because signac-flow has also dropped support for Python 2.7. This will be fixed automatically by the release of signac-flow 0.9.0,

[2020-01-07 02:33] #190 closed

[2020-01-07 18:41] bdice commented on #196
For now, we got around this problem by adding a `signac.rc` file in the directory of `project.py` containing:
[code]

[2020-01-09 23:48] bdice commented on #211
signac-flow 0.9.0 has been released, which solves this. I will notify the Gitter channel and Slack channels that users may need to update signac-flow if they've recently updated signac.

[2020-01-09 23:48] #211 closed

[2020-01-10 14:54] vyasr commented on #187
Resolved by #204

[2020-01-10 15:16] #187 closed

[2020-01-10 15:17] bdice commented on #169
This issue is resolved by #171, which always shows the user portion of the traceback. If you want the full traceback including the traceback from signac-flow, users can run with `--show-traceback`.

[2020-01-10 15:17] #169 closed

[2020-01-10 15:21] bdice commented on #166
@ilumsden Could you make a PR with your fix? Thanks!

[2020-01-10 15:32] vyasr commented on #170
Resolved in #172

[2020-01-10 15:32] #170 closed

[2020-01-16 23:32] vyasr commented on #131
Resolved by #185

[2020-01-16 23:32] #131 closed

[2020-01-16 23:33] vyasr commented on #174
Resolved by #184

[2020-01-16 23:33] #174 closed

[2020-01-16 23:34] vyasr commented on #175
Partially resolved by #208. The question I raised in my previous comment remains to be addressed, but that probably will be done as part of #114.

[2020-01-19 02:00] bdice opened #214 "Fall back if scheduler access fails"
### Description

I'm running on the Bridges cluster in a singularity container. I tried to check the project status but it wouldn't print any output because the scheduler is not accessible by a singularity container on a compute node. It works fine if I include `--ignore-errors`, but I'm not sure if this should be considered a legitimate error or not. I would expect the errors that are ignored wit

[2020-01-20 16:28] vyasr opened #216 "Consistently refer to pre/post-conditions in docstrings"
This is a _very_ minor issue, but we are currently very inconsistent with our usage of pre-condition vs pre condition. However, precondition (without a space or hyphen) is an accepted word, as is postcondition, so we should replace these consistently in the docs.

[2020-01-20 19:37] zhou-pj opened #218 "Inconsistent eligibility check for _main_script"
### Description

As pointed out by @vyasr, there is inconsistent eligibility check in def _main_script() depending on whether cmd option is provided or not. Is there specific reason for this or should we make them consistent?

[2020-01-21 14:53] atravitz opened #219 "allow forming unions of groups"
### Feature description

It would be helpful to be able to create unions of groups

### Proposed solution
[code]

[2020-01-21 16:00] csadorf commented on #219
Generally in favor of the idea, I think a better API would be based on operator overloading:
[code]
Note: I avoided the name `all`, since there is a special *all* group that actually contains all operations.

[2020-01-21 17:42] vyasr opened #220 "Outsource cluster submission"
### Problem description

One of the hardest parts of flow to maintain and test is the submission of jobs to clusters. The definition and execution of a workflow graph are well-defined and well-scoped problems that signac-flow solves well, but cluster submission is a somewhat separate problem, especially once more dynamic queuing behavior is desired. The various layers of sophistication that we've

[2020-01-21 17:50] zhou-pj commented on #38
issue addressed in PR #209

[2020-01-21 17:50] #38 closed

[2020-01-21 19:18] bdice commented on #220
I haven't investigated RADICAL-Pilot very deeply, so I don't have much info to add there.

Another possibility: QCFractal has many similar features, though it is currently built for mostly quantum chemistry use cases. I filed an issue a while back to propose generalizing its job/submission handling: https://github.com/MolSSI/QCFractal/issues/367

[2020-01-21 19:24] bdice opened #221 "Deprecate flow.run"
### Issue

The `flow.run` interface (which supports operations modules, like `operations.py`) should be deprecated. This is no longer useful and it is straightforward to convert an operations module into a FlowProject. https://docs.signac.io/projects/flow/en/latest/api.html#flow-run

### Proposed solution

Deprecate `flow.run`.

[2020-01-22 05:18] bdice opened #223 "Executable directive causes issues with groups branch"
### Description

I'm using containers on Bridges AI. I set the directives to include `executable='singularity exec --nv /path/to/container.simg python'`.

Then my submission scripts looks like `singularity exec --nv /path/to/container.simg python /path/to/project.py run -o operation -j job`. However, when the container tries to execute `run`, it seems to obey the directives again and tries to laun

[2020-01-22 05:26] bdice commented on #223
I'm guessing the problem is caused here: https://github.com/glotzerlab/signac-flow/blob/b6721c5f12ac5c70807213c689b2d16c92be25dc/flow/project.py#L563-L571

I think I want to use the singularity container for the "run" entry point but not the "exec" entry point. Or vice versa? I'm not sure.

[2020-01-22 05:47] bdice commented on #223
Maybe the container also needs to be using the `groups` branch? Is this the source of the problem?

[2020-01-22 06:16] bdice commented on #223
For now, I can dodge the problem by removing the container executable directive if the FlowProject is already running in a container. I detect the container with `SINGULARITY_NAME in os.environ`.

[2020-01-22 10:31] rosecers commented on #221
I *strongly* disagree. I like to keep my operations and project flow in separate files. It also encourages users to retain old code.

[2020-01-22 14:00] bdice commented on #221
@rosecers You can still keep operations and project flow (e.g. pre/postconditions) in separate files and import them. How do you use `flow.run()`? Are there use cases that the FlowProject is not serving?

On the “old code” front, we often strive for some backwards compatibility during a deprecation cycle but remember that signac-flow is unstable. I don’t think that this feature belongs in a stable

[2020-01-23 02:43] tcmoore3 commented on #219
Would it be beneficial to treat the groups as `set`s, and then implement all of the set operations for groups (or at least the ones that make sense; I can't imagine how `isdisjoint()` or `issuperset()` would be beneficial for groups)?

[2020-01-23 09:32] csadorf commented on #221
First of, while we are currently not advertising this function as best practice to users, I do not think that the specific function of `flow.run()` (providing a simple interface to directly execute top-level functions from the command line) is *directly* covered by the `FlowProject` class. One could argue that creating libraries consisting of multiple modules of functions is easier with `flow.run(

[2020-01-23 11:42] bdice commented on #221
For context, this issue came up because of new user confusion. @cbkerr inherited some scripts from an older project (which I think didn’t run without modifications anyway). I didn’t want to promote confusion over best practices, when the FlowProject seems to be a superior solution to me and we have pushed users to adopt FlowProjects for as long as I can remember being involved with signac. I think

[2020-01-23 11:42] #221 closed

[2020-01-23 14:33] b-butler commented on #223
@bdice without studying the particular issue too much, I believe what is happening is that you submit the job in `run` mode which uses `FlowProject.run`; then when you actually run the group in the container, the singleton group is still using the executable directive in `FlowProject.run`. To fix this for now, you can use `--exec` for singleton group submission which will avoid this attempt to use

[2020-01-23 14:39] b-butler commented on #223
Ultimately the issue, I believe, is that directives are being used twice in submission and upon execution which in this case leads to failure. I am guessing that nested singularity commands are generally no good.

[2020-01-23 15:22] bdice commented on #223
@b-butler Yes, your understanding of the problem is correct. I was not aware of the `--exec` option. Another consideration is whether changes in flow will require updated containers — the versions inside and outside the container may differ until this has been released and the containers are updated.

[2020-01-24 02:21] b-butler commented on #223
@bdice With groups, it would be possible to have differing versions on containers; however, it would be fragile (run not respecting directives, this issue, etc.). For instance, solutions to this issue which I can think of would require new functionality not present in signac which can't be hidden away nicely.

[2020-01-24 02:45] bdice commented on #223
@b-butler We probably don’t need to make any guarantees about behavior with different versions inside/outside containers before 1.0, if ever. I’m mostly considering that we should _test_ this release with (and within) containers because of this problem.

[2020-01-24 14:20] b-butler commented on #223
@bdice Ah, that, I think, is a good idea.

[2020-01-24 14:51] rsdefever opened #224 "Cluster-customizable separators in job names"
### Feature description

The job name separator is currently '/'. When installing signac-flow on the Notre Dame CRC cluster I found that the UGE scheduler does not allow for '/' characters in the job name. @vyasr helped me create a temporary patch for our cluster by replacing the '/' characters with '-' characters.

Line 318 of project.py:

[code]

EDIT: I discovered that this problem also appears

[2020-01-26 16:04] bdice commented on #113
@zhou-pj @csadorf This might be interesting to you as an alternative: https://github.com/willmcgugan/rich

[2020-01-29 17:28] tcmoore3 opened #226 "Missing like to IgnoreConditions enum in FlowProject.run() docs"
### Description

The link to the `IgnoreConditions` class is not rendering correctly in the docs for `FlowProject.run()`

### To reproduce

Go to https://docs.signac.io/projects/flow/en/latest/api.html#flow.FlowProject.run

[2020-01-29 19:00] bdice opened #227 "Adopt the pytest library for testing"
### Feature description

We would like to adopt `pytest` for testing in signac-flow.

See this related issue from signac for more information: https://github.com/glotzerlab/signac/issues/212
This PR to signac adopted `pytest` for testing that package: https://github.com/glotzerlab/signac/pull/275

### Proposed solution

These are the steps we would need to take:
1. [x] Updates the dev-requirements

[2020-01-30 15:55] kidrahahjo commented on #227
I'd like to work on this feature. Can you assign me this?

[2020-01-30 16:45] zhou-pj opened #229 "launcher support on stampede2 raise error when jobs with different process_fraction is submitted together"
### Description

launcher support on stampede2 raise error when jobs with different process_fraction is submitted together.
Placed here for record now, details to be added

### To reproduce

Please copy & paste the code that is triggering the issue into this section and describe the context and prior steps that lead to the problem with as much detail as possible.

### Error output

If possible, co

[2020-01-30 19:16] zhou-pj commented on #229
False alarm. The error is due to the allowed_mixed check from `def calc_tasks(operations, name, parallel=False, allow_mixed=False)` and can be ignored by --force option in submission. I created a PR to improve the error message to clarify this.

[2020-01-30 19:16] #229 closed

[2020-01-30 19:45] bdice commented on #164
Context: signac-flow assigns a specific job name when submitting to the scheduler, so that it is possible to identify what jobs are running in the status check. That is, the name is a unique identifier that is used when querying the scheduler to determine whether an operation is queued/active/stopped.

[2020-01-30 20:14] vyasr commented on #218
To give a little more information here:

Currently `FlowProject._main_script` generates operations in this block of code:

[code]

The issue is that `_generate_operations` will not check eligibility of operations before generating operation, whereas `_get_pending_operations` will check this. Before we can change anything, we need to establish what the correct behavior is. The two reasonable option

[2020-01-31 08:30] csadorf commented on #218
@vyasr I vote for 2. Whether we can make this behavior standard depends on whether we classify the current behavior as a bug.

[2020-01-31 08:32] csadorf commented on #164
We could in principle record the custom job name, right? But is this something we want to support? I vote no.

[2020-01-31 14:48] #226 closed

[2020-01-31 16:20] b-butler commented on #219
@tcmoore3 `isdisjoint()` actually is important for submitting jobs. If the groups aren't disjoint, then we need to check if one is already submitted.

In general, I am in favor of viewing `FlowGroup`s as sets (I already mentally think of them this way), and implementing all the set operators on them with magic methods thrown in.

This however, should be done after the main groups PR #114

[2020-01-31 17:00] bdice commented on #219
Looking at the feasibility of this -- if these could be treated like sets, then it would be as simple as inheriting from `collections.abc.MutableSet` and implementing the following:
- [x] `__contains__`
- [x] `__iter__`
- [ ] `__len__`
- [ ] `add`
- [ ] `discard`
All the other operations (`__le__`, `__lt__`, `__eq__`, `__ne__`, `__gt__`, `__ge__`, `__and__`, `__or__`, `__sub__`, `__xor__`, `isdisj

[2020-01-31 18:19] b-butler commented on #219
@bdice Hmm, it isn't internally represented that way. In a sense a `FlowGroup` is a subset of all available operations with a few caveats. We could add all those methods though from my understanding. There would be a complication with directives, though.

[2020-01-31 19:44] b-butler commented on #219
When I said viewing them as sets, I meant that those operations should be available to `FlowGroup`s not that they are just sets or that they are internally represented that way.

[2020-01-31 20:53] vyasr commented on #218
I also think option two makes sense. I would definitely classify this behavior as a bug, in the sense that whether or not an operation is a cmd or not should not affect condition evaluation.

[2020-01-31 20:54] vyasr commented on #164
I also vote no. I think it's a reasonable limitation of flow that we use naming explicitly for our tracking. We could always allow overriding this with `--force`, with a warning to the user that our tracking logic won't work in that case.

[2020-01-31 21:06] vyasr commented on #219
When I first saw Tim's proposal I also thought about `MutableSet`, but I had the same reservations about why this could get dicey. What we roughly want is something that implements both `MutableSet` and `MutableMapping`, where `add` and `discard` would have to take `(key, value)` tuples in order to insert them. At a high level, I actually think multiple inheritance of this form could work; we woul

[2020-02-01 12:34] ac-optimus commented on #164
hi, can i work on this issue?

[2020-02-02 07:47] kidrahahjo opened #234 "Documenting the testing procedure"
### Feature description
It would be nice if it was easier for every beginner to see how the tests directory exactly works when we write pytest tests/.
I spent a valuable, but a large amount of time studying Signac documentation and workflow.

### Proposed solution

Do read the complete documentation on [Signac's website](https://docs.signac.io/en/latest/)
To make it easier for every beginner to st

[2020-02-02 21:28] ac-optimus commented on #164
I am not able to get the same error(status remainig [U]) as @atravitz. I am using this as a [example](https://github.com/vyasr/signac_scipy2018.git) for this issue. The status for each job submitted changes to  [A] while running and to [I] (status=3) after the execution. I am using ```SimpleSchedulerEnvironment``` as environment for my local system. Can you help me if there is some mistake in my p

[2020-02-03 15:54] vyasr opened #235 "Proper CPU allocation when submitting to multiple GPU nodes"
When requesting more GPUs than are available on a single node during submission, signac-flow needs to consider how the CPU tasks are distributed. It doesn't make sense to allocate all the CPU tasks onto a single node or do any math related to that. As suggested in #233, a sensible choice would be to evenly divide the CPU tasks per node, at least in cases where all jobs acquire full nodes. The ques

[2020-02-03 16:40] b-butler opened #236 "run command does not show command prefix"
### Description
Since the command prefix for a `JobOperation` is not generated until `flow.FlowProject._execute_operation`, when the `pretend` flag is set, there is no indication of the prefix. This could lead to confusion about the actual command being executed. In particular, MPI and OpenMP based prefixes would not be shown in pretend output.

### To reproduce

[code]

On command line,
[code]

#

[2020-02-03 17:00] bdice commented on #164
@ac-optimus I am not sure if we can test this with the current SimpleScheduler. It does not allow the user to override the job name when submitting.

[2020-02-03 17:18] b-butler opened #237 "Refactor Operation and Group registration with FlowProject"
### Feature description
The internals of `FlowProject`'s registation of `BaseFlowOperations` and `FlowGroups` have multiple inconsistencies. Directives are stored as object attributes that are added to the callable operation. However, pre and post conditions are stored as list under `dict`s with callables as keys in the class attribute `_OPERATION_PRE_CONDITIONS`. The internal `_FlowProjectClass`

[2020-02-03 17:42] b-butler opened #238 "Refactor Execution Flow of FlowProject methods"
### Feature description

Currently, the execution flow for `FlowProject.main` is heterogeneous. Sometimes the `FlowProject._main_{op}` only parses the command-line arguments and calls the python API function `FlowProject._main_run`, but others don't `FlowProject._main_submit`. Having one execution path that is adhered to will simplify the project and reduce redundancies in code. This also always e

[2020-02-03 20:06] vishav1771 commented on #236
@b-butler I would like to work on this issue.

[2020-02-03 21:15] vyasr commented on #236
@b-butler what is the proposed solution for this issue?

[2020-02-03 21:21] vyasr opened #239 "Multi-node bundling of jobs won't subscribe to nodes correctly"
### Feature description

Any submission involving multiple nodes that executes more than one operation will not parallelize correctly using backgrounding. For example, if a node has 24 cores and we submit 72 operations, our script generation will correctly request 3 nodes with 24 tasks per node. However, the operations will be executed by running the normal command and backgrounding it, and I don'

[2020-02-03 21:35] b-butler commented on #236
@vishav1771 @vyasr  we could perform the logic to prepend the operations' commands in `run_operations` where the `pretend` flag is checked.  In addition, we could simply move the prefix generation logic into the conditional when `pretend == True`. If we do the first, we have to make sure to only prepend those that need it, since we allow for ill formed commands to work if we don't fork. I think th

[2020-02-03 22:23] vyasr commented on #164
Unfortunately @bdice is correct, you will not be able to test this very effectively with the SimpleScheduler. It does not really parse the job name argument. However, I think you should be able to test your changes anyway, because we want specifying a job name to fail before it even reaches the submission to the specific environment. The result of your change should be that we raise a `ValueError`

[2020-02-04 01:26] vyasr opened #240 "Walltime should be a directive"
### Feature description

The amount of time an operation should be submitted for should be part of the recognized directives dictionary, rather than an additional command line option.

### Proposed solution

Update the directives parsing in the `FlowProject` to handle walltime directives.

[2020-02-04 06:48] ac-optimus commented on #164
Done that. Please review, but lets say if I want to reproduce the error then which environment should I use?

[2020-02-04 12:53] joaander commented on #239
Any solution will be environment dependent. In principle, `srun` is supposed to solve this, but in most of the environments we have tested this it fails for one reason or another.

[2020-02-04 15:23] vyasr commented on #164
Unfortunately, you picked one of the very few issues that I don't think we currently have any way of testing without a production environment available. The SimpleScheduler is very minimal and doesn't support enough of the features of a true Slurm or Torque scheduler to be able to capture this behavior. The problem is further compounded by the fact that the extra flags are passed directly to the c

[2020-02-04 15:35] vyasr commented on #164
To clarify: we don't currently support celery, so you'd also have to add support for it. I was suggesting how one _could_ test this in principle, but it would require quite a bit of work to even get the environment set up. As long as you are able to test that the ValueError is raised when the job name is provided, I think you've done your part. The reviewers on the PR will be responsible for testi

[2020-02-04 16:54] ac-optimus commented on #164
@vyasr okays sure!

[2020-02-04 16:55] ac-optimus commented on #224
hi @rsdefever @csadorf, I would like to work on this issue. Can you please let me know how to find the list of schedulers which does not support  '/'  in their job naming?

[2020-02-04 17:40] bdice commented on #224
@ac-optimus I don't think we have a list -- we only have one known example of such a scheduler (the UGE scheduler mentioned above). We could add a configuration variable for this separator, which would default to `"/"`, but I don't know if that's better than a custom environment or other alternative. I don't have a clear "best" solution in mind.

[2020-02-04 19:05] vishav1771 commented on #218
@vyasr I would like to work on this issue.

[2020-02-04 21:23] vyasr commented on #224
The solution that I had in mind is to modify the `get_id` function of `JobOperation` to accept a separator argument. You would then need to have environments encode this separator, probably as a class member. Finally, you would modify all calls to `get_id` to pass the separator through so that the name is generated appropriately.

[2020-02-05 07:56] kidrahahjo commented on #240
i'd like to work on this issue

[2020-02-05 09:07] ac-optimus commented on #224
@vyasr  surely will look into the solution. One last doubt -- Should the separator argument default to '/' as suggested by @bdice ?

[2020-02-06 09:04] csadorf commented on #240
@kidrahahjo Do you have any experience in working scheduling systems such as TORQUE or SLURM?

[2020-02-06 10:40] kidrahahjo commented on #240
@csadorf
I've never tried, but enthusiastic to learn about it and I've started learning too

[2020-02-06 11:08] csadorf commented on #240
I appreciate your enthusiasm, however these scheduling systems are typically installed on supercomputing clusters and it is very difficult to learn these without having access to those. So, unless that is the case, I'd recommend to maybe take on a different task for now. I believe it will be difficult to fully understand the issue and work out a sensible solution without that background.

[2020-02-06 11:10] kidrahahjo commented on #240
Okay no problem I'll look for a different issue to solve then.

On Thu, Feb 6, 2020, 4:38 PM Carl Simon Adorf <notifications@github.com>
wrote:

[2020-02-07 01:25] b-butler opened #244 "Bloated testing output due to deprecated warnings"
### Description
Reliance on deprecated functions, methods, etc. needs to be removed from out testing.

### To reproduce

Just run the flow testing suite.

### Fix

Go through the testing output and find all references to deprecated functions and remove them.

[2020-02-07 08:57] csadorf commented on #244
Thank you for creating this issue. I specifically asked to split fixing this from the test refactoring PR, because I would like that change to be 100% refactoring, no other changes.

I think we should absolutely refactor the package code to stop relying on deprecated functions internally, which should already reduce the noise, however I'd like to be a bit careful with updating all the tests, and r

[2020-02-07 14:46] b-butler commented on #244
Many tests that aren't designed explicitly to test deprecated API are uses deprecated functions. I do see your point with maintaining backwards compatible with deprecated code until the correct version. I do think however that a few contained test explicitly for deprecated code with the main code base relying on non-deprecated code would be preferable. I do believe for the most part the package do

[2020-02-07 14:59] kidrahahjo commented on #244
Can I work on removing the deprecated warnings? While working for pytest implementation, this issue occurred for me too, and it became frustrating scrolling to the top to see what errors I'm getting.

[2020-02-07 15:23] csadorf commented on #244
@kidrahahjo Yes, of course! Let's just make sure that #232 is merged first.

[2020-02-08 18:09] bdice commented on #224
@vyasr I think we can do slightly better - the FlowProject knows its environment in `self._environment`, and the JobOperation knows its FlowProject. I don't think that we should pass in an environment to the `get_id` function because it would be difficult to refactor and that method is used for all kinds of things internally (equality testing, hashing the JobOperation, etc.) and should be paramete

[2020-02-08 18:16] vyasr commented on #224
I wasn't suggesting passing the environment as an argument, just the separator. Accessing `project._environment` inside `get_id` isn't enough, because the user could pass a different environment in and we need to respect that (see e.g. the `env` argument to `submit`). I realize that the `get_id` function gets called in a lot of places, and a lot of function signatures may have to be modified to al

[2020-02-09 18:57] bdice commented on #244
@kidrahahjo This should be unblocked. Thanks for offering to help, and let us know if you have questions! You'll want to start from the current `glotzerlab:master` branch (not the branch you created for the previous PR).

[2020-02-09 18:58] kidrahahjo commented on #244
Okay, thanks.
I have started working on this. Will raise a PR soon.

[2020-02-09 19:13] bdice commented on #227
Resolved by #232.

[2020-02-09 19:13] #227 closed

[2020-02-10 05:53] kidrahahjo commented on #244
@bdice @csadorf
To fix the deprecation warning of get_statepoint, I'd need to commit to the signac repository too. Should I do that?

[2020-02-10 08:35] csadorf commented on #244
@kidrahahjo Yes, please create a separate PR for that.

[2020-02-10 08:40] ac-optimus commented on #224
I think a small addition to @bdice proposed solution would work. Since we pass `env` to `submit` method we can extract the separator in the similar way as in the above solution but before calling `get_id`. We extract separator argument first maybe in `_store_bundled` method or in `submit_operation` and then pass to `_store_bundled` before calling `get_id(separator)` method.
And in that case get_id

[2020-02-10 16:23] bdice commented on #244
@csadorf: @kidrahahjo and I discussed on https://github.com/glotzerlab/signac/pull/286 and it is not likely that changes will be needed in the signac repository.

@kidrahahjo For warnings about `get_id()`, it will help you to know that the `id` property it recommends switching to was only added recently. For testing with signac 1.0.0, we still need to leave the test as using `get_id()`. I recommen

[2020-02-10 16:57] kidrahahjo commented on #244
I'll list all the deprecation errors.
Please let me know whether I should go for a warning filter or turn it into a private method.

1. get_id() deprecation - I'll go for warning filter
2. sys.getcheckinterval() and sys.setcheckinterval() are deprecated
3. always is deprecated as of 0.9 and will be removed in 0.11

[2020-02-10 17:02] vyasr opened #245 "Simplify environment overrides"
Currently users can override the detected environment in multiple places. In the context of a `FlowProject`, here are the possible ways that the environment to be used is determined in descending order of precedence:

1. Providing the `env` argument to `submit` and `submit_operations`.
2. Setting the environment on construction of a `FlowProject`.
3. Setting the `ENVIRONMENT` global variable in th

[2020-02-10 19:05] bdice commented on #245
@vyasr I agree that (1) should be deprecated and (2) should be maintained. I also think (3) should be deprecated/removed since it's untested and does not seem useful to me (it seems like a holdover from when `flow.environments` was not automatically imported with `flow`). I think (4) and (5) are fine to keep. I would retain the current order of precedence: 2, 4, 5.

@CryoZEUS This is the issue tha

[2020-02-10 19:18] CryoZEUS commented on #245
@bdice  This looks like an interesting issue. I'd be happy to work on it and would be glad if you could assign it to me. I'll look out (or discuss if required) for the list of action items as soon as it is ready.

That being said, I'll go through the signac-flow code in the meantime to adequately equip myself to work on the implementation of the same. Again, thank you for this opportunity.

[2020-02-10 19:26] CryoZEUS commented on #245
I'll also go through the conversation on the flow-dev slack channel regarding this. You can PM / mention me there as well.

[2020-02-10 19:30] vishav1771 commented on #35
I would like to work on this issue.

[2020-02-11 13:07] #236 closed

[2020-02-11 22:39] #218 closed

[2020-02-12 16:05] bdice commented on #244
@kidrahahjo Your assessment is correct, just need more details on (2):
1. `get_id()`, use a warning filter.
2. `sys.getcheckinterval()` -- I couldn't find this in the codebase. Where is this causing a warning? Maybe it is in a dependency of signac-flow. More information would be helpful here.
3. `always`, use a warning filter.
4. `fractions.gcd` -- [replace with `math.gcd`](https://docs.python.org

[2020-02-12 16:07] kidrahahjo commented on #244
sys.getcheckinterval() will be found in 65: flow/util/tqdm/_tqdm.py

[2020-02-12 16:25] bdice commented on #244
@kidrahahjo Let's skip the tqdm warning in this pull request. We would need to upgrade our vendored tqdm module to fix that, or switch to using tqdm as a requirement instead of a vendored package. I will open a separate issue for that discussion.

[2020-02-12 16:27] kidrahahjo commented on #244
@bdice Okay, then I'll do the changes and raise a PR

[2020-02-12 17:04] vyasr opened #248 "Fail gracefully when operations are used as preconditions"
### Feature description

Currently both using operations as the argument to `FlowProject.pre` and using non-operations as arguments to `FlowProject.pre.after` throw no errors, but simply silently function as no-ops. This behavior can confuse users who don't know why the conditions apparently are not obeyed. We should provide useful errors to users who try to do this.

### Proposed solution

Since

[2020-02-13 21:13] ac-optimus commented on #248
hi, can I work on this issue?

[2020-02-13 21:37] vyasr commented on #248
Sure!

[2020-02-14 11:02] #244 closed

[2020-02-17 08:15] csadorf commented on #35
@vishav1771 This issues is reserved as a Google Summer of Code project so we can't assign it at the moment. However, would you be willing to help us with https://github.com/glotzerlab/signac-flow/pull/189 ?

[2020-02-17 10:17] csadorf commented on #245
I propose the following action items based on the issue description and @bdice 's comment:

1. [ ] Deprecate option 1.
2. [ ] Remove option 3 (without deprecation period)
3. [ ] Otherwise retain current order of precedence.

@vyasr @bdice Please mark this comment with :+1: if you agree.
@CryoZEUS Please feel free to start working on this once @vyasr and @bdice have agreed.

[2020-02-17 10:28] CryoZEUS commented on #245
Understood, @bdice Will do.

[2020-02-17 10:55] vishav1771 commented on #35
@csadorf  Sure, I'd love to help you with it. Can you please specify how can I help?

[2020-02-17 11:13] csadorf commented on #35
@vishav1771 Here is how you could help:

1. Familiarize yourself with the feature by reading the code and testing the examples locally.
2. Identify issues with the design/API and make suggestions as to how to improve the feature.
3. Read through the current PR comments and collect open action items and questions. I believe there should not be very many.
4. Fix any remaining and potentially upcomin

[2020-02-17 14:21] vyasr commented on #224
Addressing this request without adding too much complexity will have to wait for #245. Currently the number of ways that environments can be specified makes it difficult to apply this change without changing the code in a wide range of places. Once we complete #245 we will be able to rely on `project._environment`, making this PR much simpler. I don't think we need to wait on the full deprecation

[2020-02-17 14:54] b-butler opened #250 "Stampede failure on parallel submission with bundling"
### Description

Due to submission scripts always using run in the groups branch, Stampede job submissions where bundling is used will fail. There is currently no way for signac to share process information to another process, so offsets can't be known within each call to `flow.run`.

### To reproduce

Bundle jobs and submit to Stampede.

### Fix
@bdice, @vyasr, and I have talked about using somet

[2020-02-18 08:26] kidrahahjo commented on #214
@csadorf
I'd like to work on this, Can I?

[2020-02-18 08:32] csadorf commented on #214
@kidrahahjo Yes, that would be very much appreciated. We will need to have at least one reviewer with access to the Bridges system, who can verify that the proposed solution works.

[2020-02-18 08:41] kidrahahjo commented on #193
@vyasr I'd like to document the API functions. Can you please assign me this?

[2020-02-18 08:48] csadorf commented on #193
@vyasr One thing that has not been discussed yet, since we are already going through all the functions, maybe we should use type hints to document the argument types?

[2020-02-18 15:55] bdice commented on #193
@csadorf @vyasr I looked into adding type hints recently. The `typing` module was added in Python 3.5 but expanded/improved significantly in 3.6. Now that we have dropped 3.4, we could investigate this but we may run into limitations that are solved in 3.6 or newer. I think it would be good to try on one module in the same way that we’re looking at docstring linting starting with one file — perhap

[2020-02-18 16:36] vyasr commented on #193
I like @bdice's solution to try it with one module and see what the limitations are. I don't know if the solutions for things like Generic types etc were added in 3.5 or 3.6, so we can figure it out by trying. I would recommend doing type hints independently of the changes proposed in this PR. Based on our discussions at the most recent dev meetings, I would prefer to wait on this PR until after w

[2020-02-18 16:43] csadorf commented on #193
I agree with @vyasr . Let's keep those two things separated and get the doc-strings sorted out first.

@kidrahahjo It seems like this issue is currently blocked. I think it's generally fine for you to work on this, but as suggested it's probably best to revisit this issue once signac#294 is resolved and leave it unassigned until then.

[2020-02-18 16:47] kidrahahjo commented on #193
@csadorf Okay, we'll keep an eye on signac#294 and adhere to resolve this issue once that resolves

[2020-02-19 06:42] kidrahahjo commented on #214
@bdice @csadorf
How am I supposed to test the issue?
Executing `python project.py status` raises an ModuleNotFoundError

   File "flow/project.py", line 48, in <module>
   from .environment import get_environment
   ModuleNotFoundError: No module named '__main__.environment'; '__main__' is not a package

[2020-02-19 08:01] csadorf commented on #214
@kidrahahjo The `project.py` here refers to a flow-project project.py file in the sense as described [here](https://docs.signac.io/en/latest/tutorial.html#implementing-a-simple-workflow), not the `flow/module.py` module.

[2020-02-19 08:16] kidrahahjo commented on #214
Thought so, I've replicated this example locally too. I will look into it.

[2020-02-19 23:17] bdice commented on #245
@CryoZEUS This should be ready for you to start, I think we agree on what should be done. Let us know if you have questions!

[2020-02-20 00:07] CryoZEUS commented on #245
@bdice Thanks for the go-ahead! I've got college tests this week; but I'll do my best to finish with this Issue asap. Also, I did have some doubts and I'll be posting them on slack within the next couple of days. Thanks again for the support!

[2020-02-21 20:04] vyasr opened #252 "Execute run with pretend in template testing"
With the addition of groups, template testing is no longer as useful because all the scripts just use `python project.py run...`, which prevents us from verifying that the `mpirun`, `OMP_NUM_THREADS` and other command prefixes are correctly handled. We should add a `project.run(..., pretend=True)` called to the template test output so that we can test this behavior in the future.

[2020-02-21 23:18] b-butler commented on #237
Part of this (namely the duplication in registry objects) is handled by #251.

[2020-02-23 16:21] kidrahahjo commented on #214
@bdice I can't access `StandardEnvironment` directly, but what I can do is I can remove the scheduler access from the `_fetch_scheduler_status` method and then I can directly get the status from `JobOperation.get_status` method

[2020-02-23 16:44] kidrahahjo commented on #214
Line 1077 --> flow/project.py
 `status[op.get_id()] = int(scheduler_info.get(op.get_id(), JobStatus.unknown))`

While debugging, I used a statement `print(status[op.get_id()],op.get_status())` and then executed a pytest command on test_project.py module and it captured stdout call (Multiple lines) as:

While the results not surprising to me, what I wonder is why do tests fail when instead of `stat

[2020-02-24 17:33] alacour opened #254 "add_operation needed to use FlowCmdOperation instead of FlowOperation"
### Description

On great-lakes I produced an error when trying to run an operation using the Master branch of Signac. It appeared related to the add_operation command calling FlowOperation instead of FlowCmdOperation. I changed this and fixed the operation_directives to be a dict on a new branch, and am about to submit a pull request.

### Error output

File "/home/alacour/code/signac-flow/flow/p

[2020-02-25 15:41] bdice commented on #214
@kidrahahjo The code contents have all changed between your previous comment and now, because of #114 (a major change that was just merged). I am not sure that it is useful to answer your previous question at this point because of the scale of changes.

I reviewed the error handling in this function and in the scheduler code, and I am not sure whether this is an issue that _should_ be solved.
http

[2020-02-25 15:41] #214 closed

[2020-02-25 16:01] kidrahahjo commented on #214
@bdice Okay. And also I have a question that will there be any alternative solution(in coming future maybe) for it that I can manage to solve?
Thank you for giving your time and explaining it to me though.

[2020-02-25 17:25] bdice opened #258 "Handle job memory requests via directives"
### Feature description

While working with @jdice on #256 and #257, I considered whether our memory usage requests should be handled with directives. I think this would be a good use case for directives.

### Proposed solution

Add a directive `@directives(memory='4g')` or similar. It may need to parse strings like `1024m` or `4g` and do its math in terms of gigabytes, or we could always assume u

[2020-02-25 17:26] bdice commented on #258
Also memory requests are almost totally undocumented.

[2020-02-25 21:33] kidrahahjo commented on #252
@vyasr I'd like to work on this issue. Can you please assign me this?

[2020-02-25 21:48] kidrahahjo commented on #254
@alacour Can you please give a brief overview on how to reproduce this error so that I can start working on this issue if assigned to me.

[2020-02-25 22:35] bdice commented on #254
@kidrahahjo There is a pull request already in progress: https://github.com/glotzerlab/signac-flow/pull/255

[2020-02-25 22:39] kidrahahjo commented on #254
@bdice Okay, thank you.

[2020-02-26 10:10] csadorf commented on #237
@b-butler I am having a bit trouble understanding your proposed solution. Could you maybe break this down a bit further and/or create some visual like a class diagram or so? While the current approach is certainly inconsistent, one thing to keep in mind is that certain attributes are attached to the function on purpose (like directives) because they were (at least used to be) tightly coupled to th

[2020-02-26 14:49] #245 closed

[2020-02-26 16:49] vyasr commented on #258
I agree. I think almost every command line option for submission (walltime, memory, etc) should become a directive. The only possible exception is partition since I don't know if there's any way to make that portable, but we can at least aim to improve our automatic partition detection.

[2020-02-26 16:53] vyasr commented on #164
Resolved by #241

[2020-02-26 16:53] #164 closed

[2020-02-26 16:54] vyasr commented on #223
@bdice @b-butler was the takeaway from this discussion that we shouldn't make any promises about using containers within containers, but that otherwise the executable directive is fine?

[2020-02-26 16:56] vyasr commented on #113
This was resolved by #163

[2020-02-26 16:56] #113 closed

[2020-02-26 17:01] vyasr commented on #115
@csadorf I think since we declined to merge glotzerlab/signac-docs#27 we have decided that handling GPU scheduling is out of scope for signac-flow. Are you fine with closing this issue? The `fork` directive is sufficient to prevent redundant CUDA context creation, and I think that's the most we should probably do here.

[2020-02-26 17:03] vyasr commented on #30
@csadorf @mikemhenry any further thoughts on how we can split this into multiple issues? Otherwise I'd vote to close, it's too vague to be actionable.

[2020-02-26 17:07] vyasr commented on #37
The original question raised in this issue -- the ability to submit multiple operations within a single cluster job -- is resolved by the addition of groups (#114). Addressing #35 will make it even easier to ensure that all preconditions are satisfied, but that is a separate issue so this one can be closed.

[2020-02-26 17:07] #37 closed

[2020-02-26 17:09] vyasr commented on #162
@zhou-pj this was resolved in #163, right? If so, feel free to close this issue.

[2020-02-26 17:11] vyasr commented on #125
@csadorf what was your idea here? Is the idea that if a given condition function decorates multiple operations, then we could reuse cached results? We still definitely need to start from scratch again every time that `_fetch_status` is called, right?

[2020-02-26 17:13] vyasr commented on #33
@csadorf now that groups are merged, how do you propose we address this? Perhaps using a directive makes sense? Otherwise, we could do a separate decorator.

[2020-02-26 17:14] zhou-pj commented on #162
yes, thanks for pointing this out!

[2020-02-26 17:14] #162 closed

[2020-02-26 17:19] vyasr commented on #175
The part of this that remains unresolved is currently very specific to Stampede2 and is separately documented in #250, so this issue can be closed.

[2020-02-26 17:19] #175 closed

[2020-02-26 17:21] vyasr commented on #219
@atravitz did you have any further thoughts on how this should behave?

@bdice @csadorf @zhou-pj you were all involved in the discussion we had here, and I believe our conclusion was that we should come back to this discussion after groups were merged. IIRC none of us were clear on exactly what use-case we wanted to support, with the primary issue being that we needed to resolve questions about ho

[2020-02-26 17:28] vyasr commented on #196
@bdice is this an issue we should be addressing, or can we close it? You can always create a `FlowProject` in Python that uses a specific config file somewhere. I'm not quite clear on how you are currently indicating to flow where the signac.rc file is if you keep your project.py file in a separate directory (without specifying the config).

[2020-02-26 17:34] vyasr commented on #166
According to the forked version, this issue can be fixed by changing the `cmd` in `lsf.py::_fetch` to include `'-o', 'jobid stat user job_name'` so that the relevant data will always be written (whether or not `LSB_BJOBS_FORMAT`) is set. I'm documenting here, but not making a PR right now since it will require testing on a system using an LSF scheduler.

[2020-02-26 17:36] vyasr commented on #14
@csadorf would this be completely addressed by #189? More specifically, not the hooks framework alone, but also the packaged hooks that you have introduced there? If so, I'd like to link this issue. If not, we should document what else needs to happen.

[2020-02-26 17:37] bdice commented on #33
It seems to me like using the new groups feature would solve this problem. You would create a group of all the quick-running operations and run that group locally, then submit all others.

[2020-02-26 17:44] vyasr commented on #73
Due to the changes made in #184, any logic that we apply here will now probably live in the Environment classes. We may need to use the `cmd_suffix` as well. @justinGilmer would you still be able to provide us with an example snippet? @csadorf any thoughts on what the implementation would like like now, given that the prefix logic has moved into the environment classes?

[2020-02-26 17:45] vyasr commented on #252
Hi Hardik, I'm glad you're interested in working on this issue. Unfortunately, a significant component of this issue will be manually verifying the output of our job submission process. I'm triaging a lot of issues right now and will let you know as soon as I find one that would be appropriate for you to tackle.

[2020-02-26 17:47] vyasr commented on #33
I'm perfectly fine with that solution, it's how I would probably address it myself in the current flow and I agree that there's no need to introduce additional complexity.

[2020-02-26 17:47] #33 closed

[2020-02-26 17:49] vyasr commented on #234
@kidrahahjo could you be a little more specific on what information you would like included? For example, are you just trying to understand what code actually gets run when you write `pytest`? If so, I think that is largely documented by pytest itself.

[2020-02-26 17:52] justinGilmer commented on #73
Oops sorry about that @b-butler ! I missed that request entirely! Ill try to get an example later this week!

[2020-02-26 17:54] vyasr commented on #224
@ac-optimus it should be possible to address this issue now. You can ignore the environments passed as arguments to submit/run (since that feature is now deprecated) and just rely on `job._project.environment` to get the separator now. That way you won't have to modify get_id at all.

[2020-02-26 17:59] bdice commented on #196
I need to do a little bit of testing to determine what should be done, if anything. I'll follow up on this at a future sprint, it's low priority but should be easy to fix once I determine what to do.

[2020-02-26 18:07] bdice commented on #219
We could skip implementing this feature for now, and tell users to create bigger groups by repeating the operations and directives from smaller groups if they need this. The complexity of the directives-merging strategy makes me hesitant from a cost/benefit perspective:
- somewhat hard to document and test effectively, since there are tons of edge cases and no intuitive strategy for resolution
- u

[2020-02-26 18:12] bdice commented on #30
I would like to close this issue as well. I don't think this is as large of a pain point as we once thought. Groups offers some slight benefits to users needing an "eligibility by cluster" criterion, in a similar way to #33 (which was previously marked as a duplicate of this issue). @csadorf @mikemhenry feel free to re-open if you wish.

[2020-02-26 18:12] #30 closed

[2020-02-26 18:14] vyasr commented on #199
@b-butler offhand, do you know how this would work with groups merged? Now that the entrypoint holds the information about the executable, is there a natural place there to handle this refactoring, or should we just skip checking this directive in tracking?

[2020-02-26 18:14] vyasr commented on #73
Thanks Justin!

[2020-02-26 18:23] bdice commented on #223
I think @b-butler fixed the bug on the groups branch. There are probably some ways we could improve testing, but I am going to close this issue since the original problem was resolved.

[2020-02-26 18:23] #223 closed

[2020-02-26 18:35] csadorf commented on #30
I think this should be addressed by groups, which is why I labeled it as such.

[2020-02-26 18:35] vyasr commented on #219
IIRC Alyssa's original goal was to have this work by just merging operations and not do any directive merging, but we determined that this really wasn't very useful because you'd still have to add in directives. I'm open to skipping this in favor of limiting complexity, but I'd like to have some discussion about it before making a decision in case there is some useful low-hanging fruit or some hig

[2020-02-26 18:39] csadorf commented on #14
Yes, I believe this would be resolved by #189.

[2020-02-26 18:52] vyasr commented on #14
👍 Linked

[2020-02-26 19:21] b-butler commented on #199
@vyasr We now also have other directives that are not being used potentially. We always set `ngpu`, `nranks`, `omp_num_threads`, and `np` are set for every submission `JobOperation`. This is done to facilitate the aggregation of operation directives from within a group. This does make many more directives potentially unused. For instance even though `nranks` and `omp_num_threads` are set for every

[2020-02-26 19:26] b-butler opened #259 "Remove Duplicate Directives Logic in FlowGroup and JobOperation"
### Description
The logic for aggregating directives in `FlowGroup`s has superseded the logic in `JobOperation.__init__`; however, that logic still exists. We should remove this and ensure that `FlowGroup`'s methods for creating `JobOperation`s deals with this correctly.

### Proposed solution
Looking at the logic in `JobOperation.__init__` and ensuring that all the functionality exists in `FlowGr

[2020-02-26 22:10] b-butler commented on #237
@csadorf I was thinking of something like this structure where the only relationship is ownership (not inheritance). Names are just placeholders, and not meant to be the final names necessarily.
[code]
We could have abstract classes `Registry` and `RegistryItem` to define the structure and form of these classes. I believe the `RegistryItem` idea here is more important. The `Registry` concept can b

[2020-02-26 22:20] #254 closed

[2020-02-27 03:26] ac-optimus commented on #224
@vyasr, will surely look into this in a day or two!

[2020-02-27 14:10] michiboo commented on #259
Hi I am student looking to apply GSOC with signac and would like to work on this issue if possible!

[2020-02-27 17:15] b-butler commented on #259
@michiboo, we are happy to have you help with this issue.

[2020-02-27 17:42] csadorf commented on #237
So you would replace the `_FlowProjectClass` metaclass with registry attributes that collect across the *MRO*?

[2020-02-27 17:44] csadorf commented on #73
I assume it would be handled in: https://github.com/glotzerlab/signac-flow/blob/f40b7ebe6fb2f172b9fb36f4458c1ef90748267a/flow/environment.py#L230

[2020-02-27 17:46] csadorf commented on #125
Yes, the same condition function is evaluated potentially many times during one status update. That could be automatically cashed. I think that we assume "no changes" to the data space during `_fetch_status()` so that would be the appropriate scope.

[2020-02-27 17:47] csadorf commented on #115
Before we close the issue, I'd be interested to know whether it can be resolved with groups on the user site.

[2020-02-27 18:44] vyasr commented on #115
That's reasonable, if there is such a solution we could at least document that.

[2020-02-28 01:57] vyasr commented on #73
I think the open question is how should this behave with respect to the suffix? For consistency with the current behavior I would expect the return to the original directory to happen before the suffix, but now is the time to consider that if we're already making a change like this. In particular, we should consider the following questions: 1) What are practical uses of the cmd_suffix? 2) Are they

[2020-02-28 16:51] zhou-pj opened #261 "adding potential 'Corrupted' state for job in status check and allow submit for unaffected jobs"
### Feature description

This suggestion was mentioned in a discussion with @lyrivera regarding a recent incident of a /scratch file system breakdown where some files in my workspace is not accessible. When I do `python project.py status` or `python project.py submit`, they will all fail if any job files is not accessible. It would be great if we have something similar to the `project.check()` in

[2020-02-28 20:32] b-butler commented on #237
I would keep the metaclass (we need it for the class level attribute automatic creation). I would just have store these registry attributes. I realized I made a mistake in the meta class name and just called it the `FlowProject`. I have corrected that.

[2020-02-28 22:40] vyasr commented on #259
@b-butler and I discussed this offline, but there is an additional change that needs to be made in this PR as well. Currently, the logic for directives that's used to resolve directives in `FlowGroup._get_submission_directives` is not present in `FlowGroup._create_run_job_operations`. We could either add that logic there, or add it to `_resolve_directives`. We should be able to share as much as po

[2020-02-29 13:59] ac-optimus commented on #224
@vyasr I have created a PR can you please review if this is what was required? Also, I am not sure how to go about testing it?

[2020-03-02 09:43] csadorf commented on #73
One could use it to generally pipe output into some file or to integrate the command into some kind of subprocess.

That would be my inclination.

[2020-03-02 20:35] lyrivera commented on #261
I'd like to contribute to this once a decision has been made on how to proceed.

[2020-03-03 07:56] csadorf commented on #261
@lyrivera I don't think anything should stop you and @zhou-pj from going ahead with this. Please feel free to either propose a more detailed plan on how to achieve this that can be discussed on this issue or provide a draft implementation directly.

[2020-03-03 14:54] lyrivera commented on #261
@csadorf Thanks, we will discuss this further and come up with a plan.

[2020-03-03 17:30] b-butler commented on #125
In addition, often labels are used as condition functions. This would prevent the calculating of labels more than once as well.

[2020-03-03 17:40] b-butler opened #264 "Potential conditional use of Pool v. ThreadPool in status Parallization"
### Feature description
We currently use `ThreadPool` when querying statuses i.e. `FlowProject._fetch_status`. Conditionality, allowing for process pooling instead if a label(s) is more computationally heavy than IO heavy would likely improve performance.

### Proposed solution
Currently the code that uses the `ThreadPool` could be essentially reused to work with `Pool` or `ThreadPool` given a fun

[2020-03-03 19:14] b-butler opened #265 "Make directives module or class"
### Feature description
Directives are the core of being able to computationally difficult jobs whether the problem is approached with MPI, OPENMP, or other parallelization schemes. Currently this logic is primarily in `FlowGroup`. Moving this to a module or just helper functions that take lists of directives or a single operation's directive, and computes correct aggregation, properly applies cal

[2020-03-03 19:28] b-butler opened #266 "Job Aggregation for Operations"
This is just to include in our issues, a link to the discussion for job aggregation from a closed pull request. All discussion has be had thus far in #52

The general idea is to allow operations to operate on multiple jobs at once.

[2020-03-03 19:33] b-butler opened #267 "Add custom filters for project jobs"
### Feature description
Adding custom filters for filtering jobs in the command line and python interface, for status, submission, and running would add flexibility to grouping jobs together. Also, ultimately this would  help with job aggregation for operations (#266, #52).

### Proposed solution
I think that having a decorator approach like
[code]
would be nice. On the command line something like

[2020-03-03 20:40] #224 closed

[2020-03-04 05:00] bdice commented on #267
I think this is only worth implementing for the job aggregation case, we already have several powerful ways to search that serve most needs. Presently, I would advocate the use of `signac shell` for some of those cases where users might use a filter.

At first I thought we could get by without a decorator at all but that is probably not a good thing for the CLI use case.

I think we already have a

[2020-03-04 14:13] vyasr commented on #73
In that case the logic for this issue wouldn't just go in get_prefix, right? You need it to wrap the entire command, including the `cmd_suffix`.

[2020-03-04 16:03] bdice commented on #3
This issue, or #146, would solve a problem raised by @ramanishsingh and @rsdefever at the @mosdef-hub all-hands meeting. They want to be able to put log files generated by PBS/SLURM into the corresponding job directory folder. Of course there isn't a 1-1 mapping between scheduler jobs and signac jobs, but we could probably find a way to do better than the current behavior.

[2020-03-04 16:38] vyasr commented on #266
I believe that the PR you want is #52, right?

[2020-03-04 16:40] vyasr commented on #125
I think that various internal variables are named somewhat ambiguously because in earlier versions of signac there was less conceptual separation between labels and conditions (basically before the decorator syntax). If we were to handle this with respect to both labels and conditions, it would probably be helpful to clearly separate these two objects in the code.

[2020-03-04 16:42] vyasr commented on #264
I believe we originally chose a ThreadPool because most conditions were IO bound and because forking on login nodes was problematic on some clusters. Not sure if the latter is still the case (I believe we've tested this for other changes in flow and found that forking is fine), so in cases where the former is not true it could certainly be beneficial. Making it an option would also allow the user

[2020-03-04 16:44] csadorf commented on #266
I edited the first comment.

[2020-03-04 16:46] csadorf commented on #73
It appears so.

[2020-03-04 22:43] #248 closed

[2020-03-05 12:19] kidrahahjo commented on #265
@csadorf @b-butler
Can I try to resolve this issue?

[2020-03-05 15:06] kidrahahjo commented on #234
@vyasr
Sorry for the late reply, I missed out on the comment's notification.

At that instant, I thought that beginners generally don't go through complete code before running the tests. So if we document the tests then beginners might be able to understand how the code actually works, resulting in a fast understanding of the complete flow.

I'm not quite sure that we desperately need it or not or

[2020-03-05 18:36] b-butler commented on #266
Yes it is. I just thought a link in our issues would be helpful to show the discussion thus far on the matter @vyasr.

[2020-03-05 18:41] b-butler commented on #267
@bdice, I disagree. I think that there could be cases where a more complicated filter would be warranted for status output or submission. I could see using a label as a filter to prevent having condition checks and label status run on all jobs. For large projects, this could be quite helpful and allows users to not have to go through multiple lines in `signac shell` to do so. Plus there would not

[2020-03-05 18:42] b-butler commented on #265
@kidrahahjo I appreciate the enthusiasm, but this task will requires familiarity with cluster submission. I think that it may be best to tackle another issue.

[2020-03-05 18:52] b-butler commented on #125
We could definitely do that, but to see the most performance gains we would need to identify both conditions and labels by some means that would tell us when the underlying function is the same.

[2020-03-05 18:56] kidrahahjo commented on #265
@b-butler
Okay.
I think I'll follow the complete pull request which fixes this issue in order to gain more knowledge on cluster submission so that in the near future I can myself solve these kinds of issues.
Thank you

[2020-03-07 07:11] kidrahahjo commented on #264
@vyasr can you please assign me this issue.
I had a talk with @b-butler and he thinks that this is an issue I can handle.

[2020-03-11 15:08] bdice opened #270 "Parallelism within / between groups"
### Feature description

tl;dr: We need a way to control parallelism within and between groups. Parallel operation within a group would be "intra-group" and parallel operation between groups would be "inter-group." This behavior would be controlled by the `--parallel` flag.

Copied from Slack, adapted for brevity:

@bdice: I have two operations, `equilibrate` and `sample`, in a group called `simul

[2020-03-11 17:08] csadorf commented on #270
I would like to update my proposal:

- `--parallel=none`: No parallel execution, default when no option is provided.
- `--parallel=inter-groups`: Parallel execution between, but not within groups; default when only --parallel is provided.
- `--parallel=intra-groups`: Parallel execution within groups, but not between.
- `--parallel=full`: Parallel execution between and within groups.

[2020-03-11 17:59] ac-optimus commented on #270
hi, I would like to work on this issue?

[2020-03-11 18:11] bdice commented on #270
I have talked with @ac-optimus on Slack about this issue and there are some good first steps that could be taken. Some suggestions for implementation:
- The parallelism has to be handled by both the "submit" logic (which handles parallelism between groups) and the "run" logic (which handles parallelism within a group).
- Resources requests should use `max` or `sum` appropriately. If you're running

[2020-03-11 18:13] bdice commented on #270
@glotzerlab/signac-committers Other suggestions for implementation are welcome. @ac-optimus Since this is fairly complicated, I would like to see a small proposal for the work to be done (which parts of the code would be edited) before beginning a pull request.

[2020-03-11 18:14] csadorf commented on #270
Calculating resources for this is non-trivial. How does this relate to #265 ?

[2020-03-11 18:20] ac-optimus commented on #270
okay sure, will update you on this very soon!

[2020-03-11 18:28] b-butler commented on #270
I think that this logic for directives aggregation should take two steps. We need to aggregate directives within a group according to serial or parallel, and after that we need to aggregate again with respect to the `inter-group` parallelization (or lack thereof).

With respect to #265 @csadorf, maybe this issue is another reason to centralize this directives logic to reduce code surface area and

[2020-03-11 18:31] csadorf commented on #270
Agreed, refactoring the directives logic must be the first step.

[2020-03-11 18:32] csadorf commented on #270
And honestly, it should not be that hard. We just need to allow for customization by environments.

[2020-03-11 18:38] b-butler commented on #270
So would the ability to aggregate directives be found in the `ComputeEnvironment` class?

[2020-03-11 18:46] csadorf commented on #270
Or at least it should be associated with a default entity.

[2020-03-11 18:50] bdice commented on #270
(To clarify, the use of the word "aggregation" here in the context of determining resource requests over a set of flow groups is _not related_ to the "aggregation" feature discussed in #52.)

[2020-03-16 16:53] vyasr opened #274 "Better naming of types of aggregates"
FlowGroups provide a mechanism for grouping operations. We have proposals for job aggregation, and we also use the term bundle for groups of cluster jobs. We will also need to formalize a concept of aggregation for directives as part of #265. We're already seeing that the similarity in these terms is leading to confusion for developers. We should look into giving these concepts more descriptive na

[2020-03-16 18:19] b-butler commented on #265
At a recent dev meeting we discussed the outline for what this should look like. We have concluded that directives should be their own class. In general, this class should be a mapping from string keys (e.g. `nranks`, `ngpu`, `executable`) to sensible values for each particular key (to match the previous example `int`, `int`, `str`). We also need logic to combine multiple directive instances into

[2020-03-17 08:41] csadorf commented on #265
Maybe allow the provision of `None` as an aggregation function, which means "cannot aggregate" this specific directive in this way. That would be the default for all directives that are not handled.

[2020-03-25 17:01] ac-optimus commented on #265
hi, can I work on resolving this issue? This is the first step to solve this [issue](https://github.com/glotzerlab/signac-flow/issues/270). Thanks!

[2020-03-25 19:32] vyasr opened #276 "Add doc linting to CI"
### Feature description

Replicate glotzerlab/signac#294 for this repo. Pick some file as a starting point (we used jsondict.py in signac) and go from there.

### Proposed solution

Use pydocstyle as described in the corresponding signac issue.

[2020-03-25 19:49] vyasr opened #277 "Improve documentation of accounts"
### Feature description

Right now submission on a specific environment uses a template filter to pull the account from the environment's namespace in the config. This behavior is undocumented, but if an environment template makes use of an account it will print a message to the user indicating that an account can be set (in some cases, must be set). We should add this to the docs. More generally,

[2020-03-25 20:29] b-butler commented on #265
@ac-optimus are you familiar with submitting jobs to remote clusters? The initial states of this at least require some familiarity with submitting jobs to a cluster.

[2020-03-25 21:15] vyasr opened #278 "Convert all docstrings to numpy style"
As part of our overall docs overhaul (see glotzerlab/signac-docs#64), we want to convert our docstrings to numpy style (as decided in glotzerlab/signac-docs#74). The best automated tool I'm familiar with for this task is [pyment](https://github.com/dadadel/pyment). In addition to converting docstrings, it will also generate docstrings for functions, classes, etc that are missing docstrings entirel

[2020-03-26 12:08] ac-optimus commented on #265
I have worked with simple-scheduler while dealing with previous issues. I find this issue interesting, if required I can also set up a small one-node SLURM on my linux as once suggested by @bdice on slack channel?

[2020-03-30 21:04] vyasr commented on #278
@CryoZEUS could you comment on this issue so that I can assign you?

[2020-03-30 21:05] CryoZEUS commented on #278
Yeah, I'd love to work on it.

[2020-03-31 12:53] kidrahahjo commented on #193
@vyasr Do we only have to update (add parameter type) the API doc in the methods where param name are mentioned?

[2020-03-31 14:06] kidrahahjo commented on #276
@vyasr I'd like to work on this one, can you please assign me this?

[2020-03-31 14:08] vyasr commented on #276
Sure! @kidrahahjo have a close look at glotzerlab/signac#294, it should provide the exact blueprint for what you need. Similar to that one, you'll want to pick one file (preferably a smaller one, not something like flow/project.py) and apply pydocstyle to it. Let me know if you have any questions.

[2020-03-31 14:25] vyasr commented on #193
@kidrahahjo and I have discussed this offline, but I'll document the results here. Currently @CryoZEUS is working on #278, which is a prerequisite to addressing this issue. In the process of completing #278 I expect that the autoconversion tool will add some of the missing types in automatically. @kidrahahjo is going to work on setting up CI (#276) for documentation so that we can start testing th

[2020-04-02 19:10] #259 closed

[2020-04-03 10:23] csadorf commented on #259
@vyasr Why did you close the issue?

[2020-04-04 15:09] vyasr commented on #259
@csadorf this issue was closed by the resolution of #260.

[2020-04-04 16:35] vyasr opened #281 "Speed up parameter formatting in status"
### Feature description

I have a somewhat large signac project (~500) jobs with some complicated conditions. I've profiled and cleaned up the conditions, but I was still finding the status updates to be slow. I was able to isolate the problem to the part of the code that handles gathering parameter information (if you run `python project.py status -d -p`). This part of the code is taking ~250 s (

[2020-04-04 16:47] #276 closed

[2020-04-05 16:35] kidrahahjo commented on #281
@vyasr won't this will speed up once the parallelization for fetching status is implemented?

[2020-04-05 16:59] bdice commented on #281
Adding a permalink to this code section on the current commit of `master`, for posterity and convenience: https://github.com/glotzerlab/signac-flow/blob/215b252bbda798d2fcb9f0b44917c4fd70e996c5/flow/project.py#L1872-L1902

[2020-04-05 18:48] vyasr commented on #281
@kidrahahjo no, the parallelization will speed up the call to `_fetch_status`, but the code that I'm referring to here is run after `_fetch_status`. You can see the difference by running a status update with and without the `-p` option, which triggers the parameter printing but does not change the process of determining the current status of each job.

[2020-04-05 19:57] kidrahahjo commented on #277
@vyasr can I try to document these? This might help me improve my knowledge of cluster submission.

[2020-04-06 07:55] csadorf commented on #277
@kidrahahjo Yes, thank you!

[2020-04-11 15:39] bdice commented on #196
This seems to be solved. I'm not sure what changed, but I can't reproduce the issue now.

[2020-04-11 15:39] #196 closed

[2020-04-18 16:05] vyasr opened #284 "Status legend is missing some statuses"
### Description

The status legend printed currently only includes information from `FlowProject.ALIASES` (see [here](https://github.com/glotzerlab/signac-flow/blob/215b252bbda798d2fcb9f0b44917c4fd70e996c5/flow/project.py#L1906)), but there are other status that could be displayed since this is controlled by `_STATUS` (see [here](https://github.com/glotzerlab/signac-flow/blob/215b252bbda798d2fcb9f

[2020-04-20 15:43] zhou-pj commented on #284
Thanks for catching this! My guess is that they just got unsynced after a number of PRs. If I am not missing anything, the `ALIASES` should be mapped to the `_FMT_SCHEDULER_STATUS` and is solely used to form the legend. Right now I guess one more reason to keep them separate would be the new dummy status in `_FMT_SCHEDULER_STATUS`.

[2020-04-20 15:59] zhou-pj commented on #284
I synced them in the PR above, if you think that would be sufficient. Otherwise we can discuss further improvements in the same PR.

[2020-05-05 15:16] #264 closed

[2020-05-07 21:52] vyasr commented on #284
Resolved in #285.

[2020-05-07 21:52] #284 closed

[2020-05-21 23:32] #238 closed

[2020-06-02 21:40] rsdefever opened #291 "Warning for requesting to run non-existent flow operation"
### Feature description

IMO it would be beneficial to throw a warning if a user requests to run a non-existent flow operation. Example, the flow operation is named `run_simulation` and the user types: `python project.py run -o run_simulations`. This would not execute the flow operation (it has a typo; `run_simulations` does not exist), and it would also not raise any warning or provide any other

[2020-06-03 09:04] csadorf commented on #291
@rsdefever Thank you for the suggestion!

[2020-06-15 14:38] tcmoore3 opened #295 "Broken backwards-compatibility: walltime conversion"
### Description

A concise description of what is causing an issue and what you expected to happen.

To prevent my jobs from running too long on the cluster and exiting cleanly, I usually set some environment variables with variables from the flow template. I get the total walltime (in seconds) via
`export WT={{ walltime*3600 }}`.

On `master`, (commit `7721966094419`), where support for `GreatLak

[2020-06-15 14:51] tcmoore3 opened #296 "Cannot see executable in pretend mode"
### Description

The pretend mode in submit does not show the actual command that get called to run an operation. I think this is because it's showing the `run` command, but that does not show the user the executable that ultimately ends up being called (especially, e.g., if you're using a container).

### To reproduce

Here is what I see with pretend:

[code]

I think because of the groups update

[2020-06-15 15:06] bdice commented on #296
This is related to issue #252 and will be resolved by PR #279.

[2020-06-15 15:41] csadorf commented on #296
Should we close issues if the related PR is not merged yet?

[2020-06-15 17:42] bdice commented on #296
@csadorf Good point. I’ll reopen and mark #279 as resolving this. Initially I planned to close as a “duplicate” but then I changed my mind and decided it was “related” to #252.

[2020-06-16 02:14] #252 closed

[2020-06-19 21:34] vyasr commented on #296
This issue is still not fully resolved, things like MPI prefixes are not yet visible in the pretend output and will need to be appended

[2020-06-19 23:10] atravitz opened #300 "mpi prefix not included with groups"
### Description
When submitting a multi-gpu (or cpu) job, flow does not include the `mpirun -np {n_nodes}` prefix.

### To reproduce

I've tried submitting jobs with the directive `ngpu=2` (or any value >1), and the test script looks as follows:
[code]

I only get two gpus when I add `mpirun -np 2` as the prefix.

### System configuration

Please complete the following information:

 - Operating S

[2020-06-20 18:32] vyasr commented on #300
Partial duplicate of #296

[2020-06-22 16:47] atravitz commented on #300
to address @b-butler's question about adding `nranks`, this is my output when i pass `ngpu=2, nranks=2`:

[code]

[2020-06-22 16:56] b-butler commented on #300
I didn't expect the MPI command to show up here. I am more curious if it will use it internally. I believe it will (i.e. it will run with MPI, just not submit with it).

[2020-06-22 22:18] atravitz commented on #300
I think it does use it internally if I pass in `nranks` (HOOMD is now running on multiple gpus), how can I check this explicitly?

Also the warning message `WARNING:flow.project:Some of the keys provided as part of the directives were not used by the template script, including: nranks, omp_num_threads` still comes up, which is misleading since it clearly *is* using `nranks`.

[2020-06-23 08:25] csadorf commented on #300
Why not? I thought the point of these comments was to be able to see what exactly is expected to be executed?

[2020-06-23 14:23] vyasr commented on #300
@csadorf I think @b-butler was referring to how he expected the current version of the code to behave (specifying nranks and ngpu should result in the correct behavior of using `mpirun` at run time during a submission, but the printed pretend output won't include the MPI command), not how we want this to behave in an ideal case (including `mpirun` in the printed pretend output). Fixing this is wha

[2020-06-23 19:15] b-butler commented on #300
@csadorf I meant exactly what Vyas mentioned.

[2020-06-23 19:17] b-butler commented on #300
Also, the warnings have to do with template not directly using `nranks` or `omp_num_threads` any more, but they are always set to a default value now.

[2020-06-23 19:24] vyasr commented on #300
Right, the groups changes break the `TrackGetItemDict` solution that we were using to determine what keys are used in the script. Unless there's an easy way to change the provision of defaults by groups, I think we should simply disable the warnings provided by that code path for the next minor release. While not ideal, since it's just a warning that's no longer provided I think that's an acceptab

[2020-06-25 21:29] #296 closed

[2020-06-25 21:29] #300 closed

[2020-06-30 15:16] kidrahahjo commented on #274
@vyasr Please assign me this issue, I'll start working on this.

[2020-06-30 17:16] vyasr opened #307 "Deprecate FlowCondition"
The FlowCondition class is currently part of the API, but there is no user-facing method that requires it or returns it, nor is there any reason for there to be one.

Moreover, I don't think there is a strong reason to maintain the class at all. It is a very thin wrapper around a callable, and converting to and from the class adds unnecessary overhead. We should change the `_prereqs` and `_postcon

[2020-06-30 17:20] vyasr opened #308 "Make FlowOperation callable"
Currently the FlowOperations work differently than FlowCmdOperations. While the latter store their command internally and can be directly evaluated, the FlowOperations require lookup through the `_operation_functions` attribute of the FlowProject. We should change this and make FlowOperation callable and have it evaluate the operation function. Removing this indirection will centralize the logic f

[2020-06-30 17:23] vyasr opened #309 "Move directives decorator to operations.directive"
### Feature description

It would be nice if groups and operations were unified to a great degree. One area of cognitive dissonance is that directives are currently assigned as a distinct decorator for operations, but are part of the groups namespace, i.e.
[code]

### Proposed solution

We should consider moving this decorator into the operation namespace, enabling something more symmetric like:

[2020-06-30 17:35] vyasr opened #310 "Deprecate submit_operations and run_operations"
The `[submit|run]_operations` methods may not really need to be exposed. We should consider whether there are significant benefits to having both of these methods exposed in addition to the base `[submit|run]` methods. We've added a decent number of mechanisms by which the user can filter exactly what operations to run, and our proposals for aggregation will be adding additional selection protocol

[2020-06-30 17:42] vyasr opened #311 "Deprecate the script command"
The `FlowProject.script` method is mostly redundant to `submit(pretend=True)`. The primary difference is that submit also includes the scheduler directives. @csadorf has previously argued that supporting this mode of getting a runnable script is important so that users could easily generate a submittable script, e.g. `python project.py script > run.sh`. I think that's a valid use, but it's one we

[2020-06-30 20:05] b-butler opened #313 "Making JobOperation Private"
The `JobOperation` class is currently exposed to users for the primary purpose of using with `submit_operations` and `run_operations` #310. The only way to obtain `JobOperation` objects through the user interface is through the `FlowProject.next_operations`. The use case for this class is small, so I purpose making `JobOperation` a private class. The current public methods of `JobOperation` involv

[2020-06-30 20:10] b-butler opened #314 "Allowing for operation decorator to take directives"
### Feature description
I believe allowing the `FlowProject.operation` decorator to take directives or making the objected returned a class, so that a user could use `@FlowProject.operation.with_directives` to specify directives would unify the `FlowGroupEntry` API for specifying direcitves (i.e. `@group.with_directives`). Given this, we could also potentially deprecate in the future the `@directi

[2020-06-30 20:11] b-butler commented on #314
Duplicate of #309

[2020-06-30 20:11] #314 closed

[2020-06-30 20:12] b-butler commented on #309
Currently the APi for `FlowGroupEntry` is `group.with_directives`. I propose we use that instead of `operation.directive`

[2020-06-30 21:52] kidrahahjo commented on #313
@b-butler should I work on making `JobOperation`, `SubmissionJobOperation`, and `next_operations` private?

[2020-06-30 23:54] vyasr commented on #313
@kidrahahjo I would hold off on this task for now. I'd like to hear feedback from some more of @glotzerlab/signac-committers before pushing forward too quickly.

[2020-07-01 07:22] csadorf commented on #311
I don't think this is a really heavy used function, but I also don't quite see the point of deprecating it. If it is that easy to just use the `StandardEnvironment` in combination with `pretend=True`, why not leave this very thin wrapper function in place?

[2020-07-01 07:27] csadorf commented on #307
Despite not being prefixed with `_`, this class was never intended to be user-facing, hence not listed in `__all__`. The class is hashable, handles some very basic logic when no callback is set, and raises a custom exception upon error that may be more informative than the standard exception. If you think that it is easier to implement this logic without this class, then I have no objections.

[2020-07-01 07:31] csadorf commented on #310
If `JobOperation` is made private, then this function must be made private, agreed. I believe that this issue is so strongly coupled to #313  that it may be better to discuss this and implications as part of that issue and close this one.

[2020-07-01 07:35] csadorf commented on #313
The original intention to expose some of this to the public API was to enable users to more easily develop their own execution and submission workflows, completely independent of the flow supported by the command line interface. I have so far not seen any real-world use cases for this. So with the goal to simplify things, I think it is totally fine to make this class (and all functions that direct

[2020-07-01 07:37] csadorf commented on #309
@vyasr I don't fully follow your example, is the idea to provide to directives as part of the `FlowOperation` constructor?

[2020-07-01 07:40] csadorf commented on #308
Generally in favor of making those two classes behave more similar / identical.

However, when I read the issue title I actually thought you meant that it would be possible to directly call a `FlowOperation` function like this:
[code]
But that's not what is meant here, is it?

[2020-07-01 07:41] csadorf commented on #274
Generally favor in working out a comprehensive and coherent glossary.

However, I'd suggest to avoid renaming previous concepts to avoid creating more confusion, especially since groups have just been released.

[2020-07-01 14:28] vyasr commented on #308
That's not exactly what I meant, although I did have that in mind when making this comment. The original motivation behind this issue was to remove the need for internal logic like this:
[code]

However, we could introduce logic to make FlowCmdOperation directly executable. We would need to work out the semantics of the call operator to make sure they match well between the two types of operations

[2020-07-01 14:34] vyasr commented on #311
Actually I think what would be the most helpful is to unify `script` with `_generate_submit_script`. We can leave `script` as part of the API and just extend its arguments to account for both use-cases. With this change we should be able to unify the upstream logic as well with respect to `_main_script` and `_main_submit(pretend=True)`. So only an internal refactoring, no need to change user APIs

[2020-07-01 14:35] vyasr commented on #309
@csadorf yes exactly, in the same way that the API works for groups.

[2020-07-01 14:47] vyasr commented on #310
I wanted these as separate issues up front in case there was any argument for leaving `JobOperation` public while deprecating these methods. If not, then I agree that we should address all of this together.

[2020-07-01 14:47] vyasr commented on #310
Closing in favor of #313

[2020-07-01 14:47] #310 closed

[2020-07-01 14:50] vyasr commented on #274
I agree, but I think we can do it by just augmenting existing names without losing the existing association, for instance consistently referring to bundles as "submission bundles", groups as "operation groups", and aggregates as "job aggregates" (or whatever terms we pick). Also I think a large part of this can come in the form of documentation more than anything else, I don't think we would need

[2020-07-01 16:20] csadorf commented on #308
Sure, just make sure to not overload this issue too much, can be tackled later.

[2020-07-01 16:21] csadorf commented on #309
Ok, although I like @b-butler 's proposal.

[2020-07-01 16:21] csadorf commented on #274
Let's work out the glossary first. Hopefully there is no strong need to rename anything as part of the API.

[2020-07-08 13:50] b-butler opened #323 "Refactor OrderedDict to dict"
Python's `OrderedDict` class is known to be slower than the plain `dict`. Since 3.6 in CPython, `dict` objects have been ordered as well. This was made an API guarantee in 3.7 of the Python standard. However, within `flow` I do not believe we give an API guarantee of `dict` orderings anywhere. We do need the ordering as tests are currently written, but since tests aren't an API promise with the re

[2020-07-08 18:50] bdice commented on #323
Thanks @b-butler! I misunderstood an earlier conversation and thought the order might be an API guarantee. Thanks for clarifying. This might be a good first issue!

[2020-07-08 19:07] csadorf commented on #323
I thought that `OrderedDict` is literally a `dict` as of cpython 3.6. However, since the sort-order is only guaranteed as of Python 3.7, I'm not sure that this is true for PyPy as well.

[2020-07-08 22:54] mikemhenry commented on #323
In 3.6 it was an implementation detail of CPython and formalized in the spec of 3.7 (as @csadorf  said). I did a bit of digging and have yet to find something definitive,  but it looks like CPython used what the PyPy team came up with for `dict` so it is also insertion ordered, see https://docs.python.org/3.6/whatsnew/3.6.html#new-dict-implementation and https://morepypy.blogspot.com/2015/01/faste

[2020-07-09 20:57] #307 closed

[2020-07-15 15:51] b-butler commented on #308
I would keep it a thin wrapper for now (i.e. just call the internal function), and remove `FlowProject._operation_functions` (as it would be redundant at that point). Internally, though, we will need to do instance checks to ensure we handle the two classes correctly, because they will still behave differently as of now. I would recommend for any other thoughts on unification or change in behavior

[2020-07-18 19:52] kidrahahjo commented on #313
@csadorf @vyasr @b-butler
Deprecation of these methods along with `JobOperation` class is scheduled for this issue to get resolved.

1. `next_operations`
2. `run_operations`
3. `submit_operations`
4. `script` (This is because it takes in list of `JobOperation` instances and we are deprecating it now so this should also be deprecated)
5. `completed_operations` (This is just lying in the API without

[2020-07-20 14:28] b-butler commented on #323
On CPython 3.6.9, it seems that `dict` is a bit faster than `OrderedDict` (using some quick benchmarks on my local machine).

[2020-07-22 13:11] vyasr commented on #311
In light of #313, we are reverting to the original plan of deprecating the script command since the `JobOperation` class is being removed. However, as discussed above, re-enabling the same behavior using something like an underlying call to `_generate_submit_script` with a `StandardEnvironment` remains an option in the future version of the API.

[2020-07-22 20:29] #308 closed

[2020-07-27 20:31] #313 closed

[2020-07-31 19:05] kidrahahjo commented on #240
I think this should get closed after we merge #283 as it includes a `WALLTIME` directive.

[2020-08-02 18:23] bdice opened #332 "Pin pytest, remove pytest-subtests plugin"
### Feature description

As reported in #330, `pytest-subtests` breaks and is often incompatible with brand-new releases of `pytest` (this has happened at least twice recently, to my knowledge). We should remove the dependence on `pytest-subtests`, which was primarily intended to be an intermediate-term solution to simplify our transition to `pytest`.

### Proposed solution

Refactor tests using `

[2020-08-08 19:01] kidrahahjo commented on #274
Since we're converting internally everything into aggregates, I think the methods like `_create_run_job_operations` should be renamed to maybe `_create_run_job_aggregate_operations` and similarly the class `_JobOperation` to `_JobAggregateOperation`.

I'll be happy to work on this after #336 gets merged.

[2020-08-14 03:33] cbkerr opened #339 "Slow command line operations on macOS traced to external function in environment detection"
## Takeaway

This isn&rsquo;t a problem with signac-flow, but we could mitigate it by calling `socket.get_fqdn()` less. [ Jump to workaround.](#orgbc1f967)

<a id="orga8dc9b5"></a>

## Problem

On a newly created signac project, calls to `project.py [run | status | ...]` were taking at least 25 seconds to run.

I profiled the code by running `python -m cProfile -o out.prof project.py status` and f

[2020-08-14 05:40] csadorf commented on #339
Oh wow, I had no idea this function could cause problems like that. Suggestion: Wrap the call within a private method and cache the return value of `socket.getfqdn()` in a global (module) variable. The return value of this function is not expected to change over the lifetime of one session.

[2020-08-14 05:41] csadorf commented on #339
Also, @cbkerr are you aware of the built-in profiling option for status? If yes, was that helpful?

[2020-08-14 14:59] kidrahahjo commented on #332
@bdice I'll try to refactor after GSoC gets over if it's not that urgent.

[2020-08-14 20:58] mikemhenry opened #341 "Generic Status Query"
We need to improve how a user can query the status of jobs, aggregate, bundles, groups, etc. A generic way to do this would be to have a single-entry API that accepts arbitrary filters (or a `JobsCursor`). This way we don't need separate methods to get the status of an aggregate and job.

[2020-08-15 09:22] kidrahahjo commented on #341
Link of the doc which mentions the use cases of aggregation and extended discussion.
https://docs.google.com/document/d/1lxTa-almJMWt6W40gtfks1JjqacVtJGwNg8TRN-Gff0/edit
signac-examples also have a [PR open](https://github.com/glotzerlab/signac-examples/pull/15) which has implements one of the use cases.

[2020-08-19 21:10] rsdefever opened #343 "Bundle submission fails due to "/" in job name. Related to #224."
Related to #224 .

### Description

I thought this issue had been fixed, but when bundling jobs the issue persists. It is fixed if signac jobs are submitted as individual cluster jobs.

### To reproduce

I am using the new "JOB_ID_SEPARATOR" option to specify that job names should use `-` rather than `/`.

[code]

However, when bundling:

[code]

You can see the job name still has a `/` character

[2020-08-20 08:16] csadorf commented on #343
Ah, shoot, we are using hard-coded `/` for bundled submissions: https://github.com/glotzerlab/signac-flow/blob/a2a95e788df1acbc5360850fa7012822c74ec7a7/flow/project.py#L1690

@glotzerlab/signac-developers Let's try to get a hotfix out for this asap.

[2020-08-20 11:09] csadorf commented on #343
@rsdefever Would you be able to verify that #344 fixes the issue?

[2020-08-20 11:37] rsdefever commented on #343
@csadorf I verified the fix. It works now! Thanks for the quick turnaround :D

[2020-08-20 11:44] csadorf commented on #343
Great, thx for verifying. I'll push for a hotfix release as soon as possible.

[2020-08-20 15:07] mikemhenry commented on #343
Before we close this bug, we should add a test for this behavior.

[2020-08-20 15:11] csadorf commented on #343
I won't have time to implement one, so if you or anybody else wants to give this a shot, you are very welcome.

[2020-08-20 15:33] b-butler commented on #339
@cbkerr are you able to provide a PR to fix this? Simon's solution should work, and is what I thought to do as well.

[2020-08-20 15:59] b-butler commented on #295
@tcmoore3 noticed this as well, but I can't seem to find what caused this change when looking at the repository history. I don't see any changes in Python's `datetime` module either. I an not sure how many others use the walltime in a way that will break. I will leave this open for now without a `wontfix` label, but I am not sure that this will be fixed or restored.

[2020-08-20 16:03] b-butler commented on #278
We should revisit this after GSoC. We will likely need someone else to move #316 to completion.

[2020-08-20 16:18] csadorf commented on #343
I went ahead and did it. ;)

[2020-08-20 16:51] cbkerr commented on #339
@csadorf I didn't know about the built in profiler. Let's add it to the documentation!

@b-butler sure, I can work on this.

[2020-08-21 04:58] bdice commented on #295
Hmm. I am not sure of the cause but this bug should be carefully addressed when handling #240.

[2020-08-24 13:45] vyasr opened #347 "Reorganize hidden files and data associated with signac-flow"
This issue is a companion to glotzerlab/signac#197. Once that issue is addressed, we should perform a similar revision of storing information such as bundles and status information in signac-flow. This issue was triggered by discussion of where to store aggregate information on [this thread](https://github.com/glotzerlab/signac-flow/pull/335#discussion_r473232633). In particular, we would like to

[2020-09-16 15:41] vyasr commented on #219
@glotzerlab/signac-committers any objections to closing this issue? I don't think we ever found clear motivation for it or defined exactly how it would be best to behave in the context of merging directives and anything else attached to a group other than its operations.

[2020-09-16 15:48] vyasr commented on #311
@csadorf @bdice do we still want to bother supporting the command line script interface now that we're removing the Python functionality? If we want to, I outlined the path forward above (have it call `_generate_submit_script` with the necessary environment mocking.

[2020-09-16 16:00] vyasr commented on #295
@bdice @b-butler @tcmoore3 I haven't spent any time trying to isolate the change that caused this, but I'm wondering if we should consider this a feature rather than a bug. The walltime is clearly being converted to either a `datetime.datetime` or a `datetime.timedelta` object (I don't remember which one has the particular string representation that Tim's post shows), and that's a pretty rich obje

[2020-09-17 06:53] csadorf commented on #311
I always thought it was kind of nice to check the scripts using this command, on the other hand, one would want to use `run` anyways in a non-cluster/scheduler environment, so there is not much of a point. I also think that `run --pretend` can server the purpose of checking commands. So probably fine to drop this.

[2020-09-17 06:55] csadorf commented on #219
@atravitz Do you still see a clear use case for this or has your opinion evolved on this feature request?

[2020-09-21 20:02] atravitz commented on #219
I think it's fine to close this

[2020-09-21 20:55] #219 closed

[2020-09-23 18:18] bdice commented on #311
I always use `--pretend` and prefer that approach over the `script` command. I support deprecation.

[2020-09-28 15:05] csadorf commented on #311
Looks like it is decided to deprecate.

[2020-09-28 16:27] csadorf commented on #73
@klywang Can you give an update on this issue? Has this potentially been "automatically" resolved with some of the other patches that have been merged in the meantime?

[2020-09-28 20:41] rskye144 opened #355 "Job Name error non-obvious"
### Description
When submitting to a compute cluster, the job-name is automatically set to {{ id }} and this is used to keep track of what is running and generate the output of "status." However, it is not obvious from the documentation that this is the behavior, so it's easy to overwrite the job name to something friendly to the user and break the tracking.

It was suggested in the help forums th

[2020-09-28 20:53] vyasr commented on #355
This issue was raised previously before in #164, and it was supposed to have been resolved in #241. Unfortunately, both the issue and the solving PR only addressed the case where a user overrode the job name using the command line overrides `python project.py submit ... -- --job-name="test"`. We could try to add some error detection by parsing a provided script, but I don't know how robust we can

[2020-09-29 07:11] csadorf commented on #355
@rskye144 Thank you for creating the issue. That is very helpful. 👍

I would suggest to:
1. Add a fat warning in the template docs that overriding the job-name will break things.
2. With respect to @vyasr suggestion, I think it is feasible to run a scheduler-specific validation function on the **final script** that can – among other things – also warn about this specific issue. I'd go as far as ca

[2020-09-29 13:17] vyasr commented on #355
Agreed, I think the most suitable option is probably just an exact textual match, something analogous to `assert f"#PBS -N {submission_id}" in file`.

[2020-09-29 21:01] #265 closed

[2020-10-01 16:00] bdice commented on #35
Discussed with @csadorf offline - this issue is different than the one resolved by #209. This suggested feature is about automatic execution of dependent operations (from the graph detected by preconditions), not ignoring preconditions as handled in #209.

[2020-10-08 16:40] #343 closed

[2020-11-08 07:26] kidrahahjo opened #362 "To-Do list for aggregation"
### Description
Even though #335 introduces most of the changes required for aggregation, a few more pull requests are needed to get everything in place. This issue lists all the To-Do items for aggregation which are to be addressed in

### Related to #335
- [x] Descriptive Variable Names i.e. variable names like `_aggregator_per_group`, `_stored_aggregates` doesn't seem to be immediately obvious

[2020-11-10 20:36] klywang commented on #73
Could someone provide an example of where/how this is used, and what the undesirable behavior looks like? I think I need to see the code and output to get a better understanding of the issue. Maybe @justinGilmer, if this is still relevant to you?

[2020-11-16 16:20] vyasr commented on #250
Resolved by #298.

[2020-11-16 16:20] #250 closed

[2020-11-23 18:21] b-butler opened #368 "Remove FlowGroup._get_status"
As a possible simplification of the code base, we could remove `FlowGroup._get_status`. Currently only `FlowProject._eligible_for_submission` relies on the method. We could leverage `FlowProject._fetch_scheduler_status` instead to remove the need for `FlowGroup._get_status` to check its own status.

[2020-11-23 20:12] b-butler opened #369 "Make FlowProject Picklable"
### Feature description
We could make `FlowProject` picklable. This would likely simplify the parallelization logic to some extent. It would also be nice to make other `flow` objects picklable, but given our use of lambdas and other constructs may prove to be overly difficult for any easy in parallelization it brought.

### Proposed solution

`__getstate__` and `__setstate__` methods would need to

[2020-11-26 04:27] kidrahahjo opened #370 "Better naming of variables"
### Feature description
The `next` branch has many ambiguous variable names, and anyone could get confused with those names.
A specific example would be the use of jobs v/s aggregate in the method parameters

In context with the current code structure, for every operation, an aggregate store is created and to get all the created aggregates (we only support default aggregation for now), we iterate

[2020-11-27 13:06] kidrahahjo commented on #369
I'll start working on this.

[2020-11-30 02:21] bdice commented on #281
This code is also the only place that `_to_hashable` is used (see PR #384). It seems like this portion of the code could use a thorough refactoring. I have a couple questions. Note that this code is refactored some in #374, but its performance characteristics won't change.

1. **Potentially redundant code:** Is the `_to_hashable` helper function really necessary? It may be possible to use signac's

[2020-12-01 20:27] justinGilmer commented on #73
Sure, sorry about the super tardy response. This was an older project for the now-decommissioned OLCF Titan, but there were some command line calls that were necessary for each statepoint (an example [from some of that study, which this issue was originally based on is here](https://github.com/PTC-CMC/terminal_group_screening_accuracy_test/blob/aaf8613d86c0276760e78b845cd4451c7e2beaf4/src/project.

[2020-12-06 19:16] bdice opened #388 "Rename Torque to PBS (Environment, Scheduler)"
I am not sure if our scheduler classes for "Torque" are named correctly. I wonder if PBS is a more appropriate name, since our Torque scheduler works decently well with other PBS (qsub) systems that are not using Torque, in my understanding (e.g. Sun Grid Engine).

https://torqueusers.supercluster.narkive.com/zznH02ck/what-is-the-difference-between-pbs-and-torque

@csadorf @vyasr Do either of you

[2020-12-06 20:59] csadorf commented on #388
Yes, i think it's named incorrectly. I think at least I was just confused about the relationship at the time.

[2020-12-07 05:51] vyasr commented on #388
I agree that PBS is a more appropriate name than Torque. We are not to my knowledge using any directives that aren't respected by any PBS implementation, but I would have to double check that. However, I'd be careful on exactly what breadth of coverage we'd want to claim. I'm not sure what you're referring to when you say that it works well with other `qsub` systems, is there a specific example (t

[2020-12-07 12:30] joaander commented on #388
Yes, PBS and SGE are completely different systems and not compatible.
Every PBS-type HPC system I've used in the past ~12 years has been Torque/Moab (https://adaptivecomputing.com/) which is (or was?) a commercially supported version of torque with added features for resource scheduling. My understanding is that the main differences are on the administrative/configuration side.

OpenPBS seems to s

[2020-12-08 04:23] bdice commented on #332
Resolved by #365.

[2020-12-08 04:23] #332 closed

[2020-12-08 04:24] bdice commented on #339
@cbkerr Would you like help implementing this change? We'd be happy to have a contribution to fix it.

[2020-12-08 04:25] bdice commented on #370
Another example: naming is inconsistent between `_AggregatesStore` (plural `Aggregates`) and `_DefaultAggregateStore` (singular `Aggregate`).

[2020-12-08 05:07] kidrahahjo commented on #370
@bdice do you think we should rename the private `_JobOperation` class to `_JobsOperation` (or `_AggregateOperation)?

[2020-12-08 05:11] bdice commented on #370
@kidrahahjo Using `aggregates` in place of `jobs` would be API-breaking for the "most stable" public methods in signac-flow (it changes the name of many public keyword arguments). It would also point towards breaking the CLI job selection flags like `-j / --job-id`. I have some suggestions below that would help to ensure consistency across the code base with minimal API breakage for users relying

[2020-12-08 05:15] bdice commented on #370
You suggested a counterexample to my proposal before I even posted it, so maybe we need to just talk this through as a team 😂 . Case B would be applicable here but the variadic positional args make no sense for a class. I am fine with `_JobOperation` or `_AggregateOperation` but then this raises the question of how we deal with groups! Why not `_AggregateGroup`? Perhaps we should adopt an entirely

[2020-12-08 14:45] vyasr commented on #370
I stated my position on these naming issues somewhere in Slack recently, I think you're intending to paraphrase my proposal with the `_ExecutionUnit` idea. I definitely want to separate objects in that fashion, rather than thinking about them in terms of signac jobs/operations/groups etc. The basic mapping that I would propose would be something like `AggregateOperation`->`ExecutionUnit` and `Aggr

[2020-12-08 14:57] vyasr commented on #370
No worries, between our various projects I frequently hear my ideas repeated back to me a month or two later (like at dev meeting yesterday), I think you often internalize parts of the ideas and forget the conversations haha. I just decided it's probably more helpful best to point out when that happens in the event that the original discussions help jog people's memories and push things along fast

[2020-12-08 15:00] vyasr commented on #370
And here's the full thread pasted in from Slack:

Hardik  3 months ago
Hello everyone
I was working on aggregation and at one point it felt like the class _JobOperation may create confusion.
Since it won't just hold a single job in it.
Should the class be renamed  to _JobsOperation instead?
25 replies

Bradley Dice  3 months ago
I believe this class also handles groups, not just single operations.

[2020-12-09 04:50] cbkerr commented on #339
Thanks for the ping @bdice. I tried implementing this change in #394 and would appreciate corrections to what is apparent of my understanding of python modules.

[2020-12-09 06:41] bdice opened #395 "Refactoring tasks"
### Feature description

While working on #387, #389, #392, I took some notes on APIs that could be easily removed/refactored on `next` after those PRs are merged. My notes are copied below. **I marked changes with ⚠️ that are API-breaking, but I don't think any of these changes would warrant a deprecation cycle.**

## Environments
`environment.py`
- [x] Make `ComputeEnvironmentType` private. Rena

[2020-12-10 06:09] #339 closed

[2020-12-10 06:13] bdice commented on #323
Done in #374.

[2020-12-10 06:13] #323 closed

[2020-12-10 06:15] bdice commented on #234
@kidrahahjo Do you think there is an action that we should take on this issue? If not, let's close it.

[2020-12-10 06:16] bdice commented on #234
Here's the info we have on testing now: https://docs.signac.io/projects/flow/en/latest/support.html#testing

[2020-12-10 06:19] bdice commented on #216
The docstrings side of this issue is fixed by the combination of #387, #389, and #392. However, internal names like `_collect_pre_conditions` and `_OPERATION_PRE_CONDITIONS` still exist. Those should be replaced with names like `_collect_preconditions` and `_OPERATION_PRECONDITIONS`. I think these changes would be confined to `flow/project.py` and `tests/test_project.py`.

[2020-12-10 06:24] bdice commented on #193
PRs #387, #389, and #392 offer a significant improvement on the state of this issue, with pydocstyle and numpy style docstrings throughout the package.

I don't think it is likely that we will adopt type annotations for the package unless someone is volunteering to do that work. I would feel comfortable marking this issue as resolved, if others agree.

[2020-12-10 06:25] bdice commented on #173
This is fixed by one of #387, #389, or #392.

[2020-12-10 06:25] #173 closed

[2020-12-10 13:15] vyasr commented on #193
I think type annotations are out of scope for this particular issue based on the title and the prior discussions indicating that we should handle documentation and annotations separately. I would be fine resolving this issue, but I think it's worth opening a separate one for type annotations. Adding those piecemeal would be a good first issue for new contributors. If we're bothering to use mypy va

[2020-12-11 04:57] kidrahahjo opened #398 "Executable path links to the local environment when generating template reference data"
### Description
In generate_template_reference_data.py we have a method called get_masked_flowproject which we use to create the project. There, we mock `sys.executable` before instantiating the project.

It seems like this is a problem related to the `directives` module. We initialize _EXECUTABLE in that module with the default value of `sys.executable`. I think that value is stored before we moc

[2020-12-11 05:16] bdice commented on #398
I accidentally overwrote a commit from @ramanishsingh on #393 that was a proposed solution for this problem. I'm copying it here as a starting point for a solution, though I haven't evaluated it myself. https://github.com/glotzerlab/signac-flow/commit/8eb5b370048556a284fc51ce76b0506b03847dd4

[code]

[2020-12-11 05:34] kidrahahjo commented on #398
@bdice actually I suggested @ramanishsingh to try that solution out and it was working fine. For me, the `_EXECUTABLE` directive is the most obvious candidate which needs to get fixed.

[2020-12-15 13:43] vyasr commented on #398
@kidrahahjo I agree that `_EXECUTABLE` is what needs to get modified. However, I think that there is a potential scoping problem with your proposed change. It leads to a modification of `_EXECUTABLE` in the global namespace, which will propagate to any future processes that are run and seems likely to result in similar problems down the road if we modify any of these scripts in other ways that rel

[2020-12-16 05:08] kidrahahjo commented on #398
This seems like a more reasonable solution. I also felt that my solution was a little bit hacky in nature. Thanks @vyasr, I will push the changes and request reviews.

[2020-12-17 05:16] bdice opened #401 "Discussion: Performance improvements and aggregation"
This issue exists to document a series of performance improvements I have worked on recently. We created the `next` branch to be a testing area for the new aggregation features, where we can focus on eliminating any bugs and improving performance before merging into `master` and releasing 0.12.0.

In PR #399, I have created a "benchmark" project with 3 operations and 2 labels. This project does no

[2020-12-17 17:50] csadorf opened #404 "Add type hints"
The source of signac-flow would likely be more readable and more bug-resilient with [type hints](https://docs.python.org/3/library/typing.html).

[2020-12-17 17:50] csadorf commented on #193
I agree, introducing type hints is a separate issue, good to close. I created #404 to keep track of that.

[2020-12-17 17:50] #193 closed

[2020-12-17 18:43] shandave commented on #395
Hey @bdice, I'd like to contribute by deprecating the `export_job_statuses` method.

[2020-12-17 20:34] vyasr commented on #395
Hi @shandave, welcome! We're happy to have you contribute. Feel free to reach out if you have questions about how to do this, we're available to provide guidance.

[2020-12-17 21:04] bdice commented on #395
Welcome @shandave, thanks for reaching out! 😄 I recommend making a pull request with just one of the refactoring changes (the deprecation of `export_job_statuses`). 👍

[2020-12-18 16:01] cbkerr commented on #3
A related use is tracking scheduler job IDs to track down errors more easily. It might be a separate issue.
There are two steps in this translation: scheduler ID --> "flow submission ID" --> job ID

My current solution involves:

(1) using a custom template that emails me the status, so I get an email with a subject like:
[code]
(where `22da1a...` is the "bundle ID" and `6d6d...` is the job.id.)
w

[2020-12-18 16:03] cbkerr commented on #3
Do schedulers return job ID?
SLURM: Officially no https://slurm.schedmd.com/sbatch.html (find "RETURN VALUE" section).
We can definitely get job ID after creating from `squeue`, but I don't know if that number is assigned right away.

However (!), I found references to scripts that return the ID when submitting:
1. https://ubccr.freshdesk.com/support/solutions/articles/5000688140-submitting-a-slur

[2020-12-18 16:03] cbkerr commented on #3
Some notes from discussion with @csadorf and @bdice yesterday afternoon:
- Not all schedulers return scheduler ID, just "success" status
- I learned that we store bundle information in `project_root/.bundles/project_name/bundle/[bundle_IDs]` (which is what gets printed out when you submit a bundle)
- Relevant function `FlowProject._expand_bundled_jobs()`
- Relevant function `FlowProject._fetch_sch

[2020-12-19 05:15] #311 closed

[2020-12-22 20:07] DomFijan opened #408 "Bug in directives nranks/np"
`@directives` for nranks and np fail to be set when lambda function is used.
@b-butler  maybe able to help with this.

### Description

In version 0.11.0 using submit --pretend in Slurm environments with `@directives(nranks = lambda job: job.doc.nranks)` gives the following error (from --debug):
[code]
When using `@directives(nranks = 16)` everything works fine.

When using on SimpleSchedulerEnvir

[2020-12-31 22:38] bdice commented on #401
I did some further benchmarking. I upgraded some of my hardware so the times aren't comparable to the previous post. I skipped doing the benchmarks for older package versions because I previously had to add some shims to account for backwards-incompatible changes in flow and didn't want to do that work again. I wouldn't read _too_ deeply into these numbers, except to conclude that we have fixed th